#map {
	width: 45em;
	height: 40em;
	/*height: 450px;*/
	/*float: right;*/
	/*border: .1em solid #2a4b11;*/
	padding: .5em;
	/*margin: 0 0 1em 0;*/
	margin: 0;
	float: left;
}
.page_tabs {
	background: transparent;
  border: none;
	padding: 0;
}
.ui-tabs .ui-tabs-panel {
	background: transparent;
  border: none;
	padding: 0;
}
.left_column {
	width: 46em;
	min-height: 450px;
	/*float: right;*/
	/*border: .1em solid red;*/
	padding: .5em;
	margin: 0 0 1em 0;
	position: relative;
	float: left;
}
.right_column {
	float: left;
	width: 23em;
	min-height: 500px;
	/*border: 1px solid #333;*/
	margin: 0 0 0 1em;
	/*background-color: green;*/
}
.data_vis {
	width: 22em;
	/*width: 20em;*/
	/*min-height: 30em;*/
	/*background-color: #ccc;*/
	/*margin: 1em 2.2em .5em 0;
	padding: 0 .5em .5em .5em;*/
	margin: 0;
	padding: 0;
	/*border: 1px solid #ccc;*/
	/*float: left;*/
}
.data_vis_wide {
	width: 70em;
	/*width: 46em;*/
	min-height: 5em;
	/*background-color: #76d5ff;*/
	margin: 0 0 .5em 0;
	padding: 0 .5em .5em .5em;
	/*border: 1px solid #ccc;*/
	/*position: relative;
  float: left;*/

	/*float: left;*/
}
/*.data_vis_wide>.divider {
	width: 100%;
}*/
.data_vis_wide .data_vis {
	margin-right: 1.3em;
	width: 21em;
}
.data_vis_wide h2, .data_vis_wide table {
	margin: 0;
	padding: 0;
}
.data_vis img {
	float: left;
}
.data_vis h3 {
	margin: 1em 0 .2em 0;
	padding: 0;
	font-size: 1.2em;
}
.data_vis table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}
.data_vis table tr td {
	font-size: 1em;
	padding: 0 0 .4em 0;
	margin: 0;
	color: #444444;
}
.data_vis_hr {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background: none;
	border-top: .2em solid #0096d7;
}
.exports {
	border: none;
	/*border-left: .3em solid #333;*/
	border-bottom: .1em dashed #eee;
  float: left;
}

.vis_container, .vis_container h2 {
	border: none;
	margin: 0;
	padding: 0;
	/*border-left: .3em solid #333;*/
	/*border-bottom: .1em dashed #ccc;*/
  /*float: left;*/
}
.total {
	border-top: .1em solid #ddd;

}
.us_total {
	border-top: .1em solid #0096d7;
	border-bottom: .2em solid #0096d7;
	font-weight: bold;
}
.us_total td {
	font-weight: bold;
}
tr.header th {
  cursor:pointer;
	/*font-size: 1.1em;
	font-family: "Times New Roman", Times, serif;*/
	/*padding-top: 5em;*/

}
tr.header_total {
	/*border-top: .1em solid #0096d7;*/
  border-top: .1em solid #ddd;
	font-weight: lighter;
	cursor:pointer;
}
tr.header_total th, tr.header_total th span {
  font-weight: bold;
	/*vertical-align: bottom;*/
	/*font-weight: normal;*/
}
.basic_table tbody tr:last-child td, .basic_table tbody .section td {
    padding-bottom: 5px;
}
.header_total_spacer {
	padding-top: 2em;
}
.td_left {
	text-align: left;
}
.td_right {
	text-align: right;
}
th.top_row {
	border-bottom: .1em solid #ddd;
	border-left: .1em solid #ddd;
	padding: 0 0 0 10px;
	margin: 0;
	border-spacing: 5px;
}
th.top_row_left {
	border: none;
	border-bottom: .1em solid #ddd;
	padding: 0;
	margin: 0;
}
.divider {
	background-color: #fff;
	border-top: .1em dashed #ccc;
	/*margin: 1em 0 3em 0;*/
	margin: .5em 0 2em 0;
	padding: 0;
}
.report_date { /* WHAT THE FUCK --------------------------------------------- */
	/*font-size: inherit; !important;
	color: inherit; !important;
	text-transform: none; !important;
	text-align: left; !important;
	font-weight: inherit; !important;
	font-family: inherit; !important;*/
	/*float: left;*/
	/*color: #000; !important*/
	font-size: 1em;
}
.indicator {
	width: 12px;
	height: 12px;
	margin: 0 .5em 0 0;
	padding: 0;
}
.sectionhead .indicator, .sectionhead2 .indicator {
	width: 8px;
	height: 12px;
	margin: 0 .5em 0 0;
	padding: 1px 3px 1px 3px;
	border-radius: 20px;
	background-color: #ffffff;
	text-align: center;
}
.circle {
	width: 12px;
	height: 12px;
	/*background: #ccc;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 0 .5em 0 0;
	padding: 0;
}
.east {
	background-color: #E0ECF1;
	cursor:pointer;
}
.south {
	background-color: #DDDAE6;
	cursor:pointer;
}
.west {
	background-color: #E9E0CE;
	cursor:pointer;
}
.green {
	background-color: #7dac5b;
}
.gray {
	background-color: #9E9E9E;
}
.yellow {
	background-color: #ffc702;
}
.red {
	background-color: #A33340;
}
.black {
	background-color: #444444;
}
.white {
	background-color: #ffffff;
}
.error {
	color: #ffffff;
	background-color: #C62828;
	font-weight: bold;
}
.no_border {
	border: none;
}
.hr_clear {
	clear: both;
	border: none;
	background: none;
}
.bold {
	font-weight: bold;
}
.smt {
  font-size: .8em;
  color: #444;
}
.reg_expand {
	text-align: left;
	display: block;
}
.map_legend {
	/*border: 1px solid #ccc;*/
	float: left;
}
.float_left {
	float: left;
	padding: 0 0 .5em 0;
	vertical-align: bottom;
}
.float_left>.indicator, .float_left>.circle {
	margin: 0 .5em 0 1em;
	padding: 0;
}
.download_link {
	float:right;
	font-weight:normal;
	font-size:.9em;
	margin-right: 1em;
}
/*.data_vis_table tr td {
	/*border-bottom: .1em dashed #eee;/
}*/
