/**
 * Header classes
 **/
 @font-face {
    font-family: Energy Infrastructure;
    src: url(EnergyInfrastructure.ttf) format(truetype);
}
.style2 select, .style2 label, .style2 form, .style2 li {
	font-size: 12.8px;
}
.style2 h1 {
	border-bottom: solid 1px #dadada;
	font-size:25px;
	padding-bottom:6px;
	padding-top:16px;
	margin-bottom:8px;
	clear:both;
}
.style2 h2 a{
	color:#00405d;
}
.style2 h2 {
	font-size:18px;
	margin-bottom:0px;
	padding-bottom:0px;
	clear:both;
}

.style2 h3{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom: solid 1px #dadada;
	padding-bottom:6px;
	padding-top:10px;
  margin-bottom:4px;
  text-transform:uppercase;
  clear:both;
}
.style2 h4 {
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.style2 h4 a {
	color:#00405d;
}
.style2 h5 {
	font-size:13px;
	font-weight:bold;
}
/**
 * Layout classes
 **/

.menerdat_temp .main_col{
	width: 692px;
	margin-right:2px;
}

.menerdat_temp .side_col{
	width: 240px;
}
.menerdat_temp hr{
	background-color: #189BD7;
	margin: 16px 0px;
}
/**
 * Wireframe classes
 **/

#simplemodal-overlay{
	background-color:#777;
	opacity:0.8;
	-moz-opacity:80%;
	filter: alpha(opacity=80);
}
#lineChartContainer, #columnChartContainer {
	width : 920px;
	height : 415px;
	text-align : center;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

#mapContainer {
	/*float: left;*/
	width : 655px;
	height : 410px;
	/*text-align : center;*/  /* If left in, this messes up alignment in IE7*/
	padding:1.65em 0.5em 0.25em;
	margin:0 auto;
}

#mapContainer {
	float: left;
}

#mapContainer .jvectormap-zoomin, #mapContainer .jvectormap-zoomout {
	display: block;
}

.jvectormap-region {
	cursor: default;
}

.clickable-regions .jvectormap-region {
	cursor: pointer;
}
.clickable-markers .jvectormap-marker {
	cursor: pointer;
}

#chart_area {
	height : 484px;
}

#chart_area.carousel {
	height:462px;
	overflow: visible;
	padding: 0.25em 0.25em 0.25em 0.5em;
	margin-bottom: 0px;
}

div.chartIndexing {
	margin-right: 5px;
}

#animated_map_type_container .ui-button,
.chartIndexing .ui-button,
#animated_map_transport_container .ui-button, #frequencySelectorContainer .ui-button, #main_visualization_button .ui-button, #pinkey_container .ui-button {
	display: inline-block;
}
#animated_map_type_container .ui-button-text, #animated_map_type_container .optionsLabel,
.chartIndexing .ui-button-text, .chartIndexing .optionsLabel{
	float:none;
	display: block;
	height: 16px;
	padding-bottom: 3px;
}

.chartIndexing .optionsLabel {
	float: left;
	margin-right: 6px;
	padding: 4px 8px 4px 0px;
	font-weight: bold;
	text-transform: uppercase;
}
#animated_map_type_container .optionsLabel {
	float: left;
	margin-right: 4px;
	padding: 4px 8px 4px 7px;
	font-weight: bold;
	text-transform: uppercase;
}

#map_units_label_container {
	text-align: center;
}
#map_units_label{
	font-weight: bold;
}

.optionsLabel .ui-buttonset .ui-button,
.chartIndexing .ui-buttonset .ui-button,
#animated_map_type_container.ui-buttonset .ui-button,
#animated_map_transport_container .ui-button,
#frequencySelectorContainer .ui-button,
#main_visualization_button .ui-button,
#pinkey_container .ui-button {
	margin: 0 0 0 -4px;
	padding: 4px 8px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-top: none;
	border-bottom: none;
}
#animated_map_transport_container .ui-button {
	margin: 0 0 0 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#animated_map_transport_container .ui-button:first-child {
	margin-left: 6px;
}
.chartIndexing .ui-buttonset .ui-button,
#animated_map_type_container.ui-buttonset .ui-button,
#frequencySelectorContainer.ui-buttonset .ui-button,
#main_visualization_button.ui-buttonset .ui-button,
#pinkey_container.ui-buttonset .ui-button {
	cursor: pointer;
}
.chartIndexing .ui-buttonset .ui-button, #animated_map_type_container.ui-buttonset .ui-button,
#animated_map_transport_container .ui-button, #frequencySelectorContainer.ui-buttonset .ui-button, #main_visualization_button.ui-buttonset .ui-button, #pinkey_container.ui-buttonset .ui-button {
	background: url("images/bg-sprites.png") repeat-x 0px -1px;
}
#animated_map_transport_container .ui-button {
	border: 1px solid #eaeaea;
}
#frequencySelectorContainer.ui-buttonset .ui-button,
#main_visualization_button.ui-buttonset .ui-button,
#pinkey_container.ui-buttonset .ui-button {
	border: 1px solid #cecece;
}
.chartIndexing .ui-buttonset .ui-button:hover, #animated_map_type_container.ui-buttonset .ui-button:hover {
	background: url("images/bg-shade2.png") repeat-x 0px 0px #76d5ff; 
	border-left: 1px solid #5eabcc;
	border-right: 1px solid #5eabcc;
}
#animated_map_transport_container .ui-button:hover,
#frequencySelectorContainer.ui-buttonset .ui-button:hover,
#main_visualization_button.ui-buttonset .ui-button:hover,
#pinkey_container.ui-buttonset .ui-button:hover {
	background: url("images/bg-shade2.png") repeat-x 0px 0px #76d5ff; 
	border: 1px solid #5eabcc;
}
.chartIndexing .ui-buttonset .ui-state-active.ui-button, #animated_map_type_container.ui-buttonset .ui-state-active.ui-button,
#animated_map_transport_container .ui-state-active.ui-button {
	border-left: 1px solid #0072a3;
	border-right: 1px solid #0072a3;
	background: url("images/bg-shade.png") repeat-x 0px -3px #189bd7;
	color: #ffffff;
}
#animated_map_transport_container .ui-state-active.ui-button,
#frequencySelectorContainer .ui-state-active.ui-button,
#main_visualization_button .ui-state-active.ui-button,
#pinkey_container .ui-state-active.ui-button {
	border: 1px solid #0072a3;
	background: url("images/bg-shade.png") repeat-x 0px -3px #189bd7;
	color: #ffffff;
}
.chartIndexing #columnEndpointsContainer,
.chartIndexing #columnValuesContainer {
	margin-right: 2px;
}
.chartIndexing #indexContainer {
	margin-top: 7px;
	margin-bottom: 3px;
	padding: 0px 10px 0px 10px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	min-height: 27px;
}

.chartIndexing #columnValuesContainer {
	width: auto;
	float: left;
}
.chartIndexing #columnEndpointsContainer {
	width: auto;
	float: right;
}
.chartIndexing #columnEndpointsContainer{
	margin-left: 10px;
}

#map {
	height: 450px;
	padding: 9px 14px 0px 14px;
}
h2.map_title, div.map_container {
	margin: 9px 14px 0px 14px;
}

div.map_container {
	margin-right: 0px !important;
}

div.legend_container {
	margin-right: 14px;
	margin-top: 50px !important;
}

#map #map_legend{
	width: 250px;
	font-size: 12px;
	height: 1.5em;
	margin: 0 0 0 0;
}

#map_legend span {
	float:none;
	font-weight: bold;
	vertical-align: top;
}
#map_legend > span > span {
	/*float:right;*/
  margin-right: 7px;
  margin-top: 0px;
  text-align: right;
  display: block;
  clear: none;
	position: absolute;
	right: 18px;
}
#map_legend > span > span:first-child {
	/*float:left;*/
	margin-right: 0px;
	margin-top: 20px;
  margin-left: 7px;
  text-align: left;
  display: block;
  left: 688px;
}
#map_legend > span > span.map_legend_gradient {
	float: none;
	margin-top: 0px;
	margin-left: 7px;
	position: relative;
	right: 0px;
	left: 0px;
}
#map_legend span span.map_legend_gradient span.growth_gradient_component {
	float: none;
	width: 118px;
	display: inline-block;
	margin: 0px;
	clear: none;
}
#map_legend span span.map_legend_gradient span.growth_gradient_component:first-child {
	margin-left: -25px;
}
#map_legend span > span.marker_container {
	float:left;
	clear: right;
	width: 250px;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	position: relative;
	right: 0px;
	left: 0px;
}

#map_legend .plantMarkers .marker_container {
	margin-bottom: 2px;
}

#map_legend .plantMarkers .map_legend_marker {
	background-image: url('images/circleTrans.png') !important;
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;
	margin-top: 3px;
}

#mapTitle {
  color: black;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #dadada;
}

.map_legend_marker {
	display: inline-block;
	margin:0 10px 0 2px;
	height : 1.5em;
	width : 1.5em;
}
.map_legend_gradient {
	margin: 0 0 0 0;
	height: 20px;
	width: 236px;
	font-weight: bold;
}
.chart_indexing {
	margin-top: 0.5em;
	padding-left: 0.75em;
}
.chart_indexing h4, .chart_indexing form{
	float: left;
}

.animated_map_button_container {
	width:250px;
	float:left;
	margin-top: 20px;
}
.animated_map_button_container hr {
	background-color: #dadada;
}
#animated_map_transport_container{
	display: inline-block;
/*	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;*/
	margin-right: 10px;
	margin-bottom: 6px;
	margin-left: 1px;
  width: 250px;
}

#controls_container{
	width:250px;
	float: right;
	margin-top: 50px;
}
#controls_container h2 {
  border-bottom: 1px solid #333333;
  font-weight: bold;
}
#animated_map_type_container{
	float: left;
	width: 250px;
	margin-right:10px;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  clear: both;
}

#animated_map_slider{
	width : 232px;
	padding: 0;
	margin: 50px 0px 20px 10px;
	float: left;
	clear: both;
}
#animated_map_slider > a, #animated_map_slider > a:hover, #animated_map_slider > a:focus {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
#animated_map_transport_container button .ui-button-text-icon-primary,
.map_play_icon, .map_pause_icon, .map_reset_icon {
	background-image: url("images/icon-sprites2.png") !important;
	float: left;
	display: inline-block;
}
#animated_map_transport_container #play_button+label {
	width: 44px;
	height: 19px;
}
#animated_map_transport_container #pause_button+label {
	width: 55px;
	height: 19px;
}
#animated_map_transport_container #reset_button {
  height: 30px;
  line-height: 19px;
  width: 80px;
}
#animated_map_transport_container #reset_button.ui-button.ui-state-focus {
	color: #ffffff;
}
.map_play_icon {
	background-position: -9px -201px;
}
#animated_map_transport_container .ui-button:hover .map_play_icon {
	background-position: -39px -201px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_play_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_play_icon {
	background-position: -69px -201px;
}
.map_pause_icon {
	background-position: -9px -224px;
}
#animated_map_transport_container .ui-button:hover .map_pause_icon {
	background-position: -39px -224px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_pause_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_pause_icon {
	background-position: -69px -224px;
}
.map_reset_icon {
	background-position: -8px -246px;
}
#animated_map_transport_container .ui-button:hover .map_reset_icon {
	background-position: -39px -246px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_reset_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_reset_icon {
	background-position: -69px -246px;
}

#tableContainer {
	position: relative;
	white-space:nowrap;
	height:600px;
	clear:left;
}

#tableContainer.loading {
	background-image: url(https://www.eia.gov/global/scripts/jQuery/tabs/loading.gif);
	background-position: center;
	background-repeat:no-repeat;
}

/**
 * Table Classes
 **/
.inner-slickgrid-container {
	width:100%;
	height:100%;
}
.basic_table table{
	margin-top: 0px;
	margin-bottom: 0px;
}

.basic_table td:first-child, .basic_table th:first-child{
	text-align:right;
}
#termsTables .basic_table td, #termsTables .basic_table th, #detailTermsTables .basic_table td, #detailTermsTables .basic_table th{
	text-align:left !important;
}
#detailTermsTables.pagecontent, #termsTables.pagecontent {
	padding: 1.2em 1.2em !important;
	margin:0px !important;
	width: auto !important;
}
#detailTermsTables .basic_table thead [rowspan] {
	border-bottom: 2px solid #189bd7 !important;
}
td.description{
	border-top:none !important;
	border-bottom:none !important;
	background-color:transparent !important;
	overflow:hidden;
}

td.description span{
	text-align:left;
	text-indent:0 !important;
}
.description_wrapper{
	position: relative;
	display: inline-block;
	overflow:hidden;
	white-space: nowrap;
	top: -3px;
}
.description_text_wrapper{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	padding-top: 3px;
}

.description_text_wrapper.bold{
	font-weight: bold;
}

.description_spacer{
	position: relative;
	display: inline-block;
	background:url(images/treeview-default-line.gif);
	background-repeat:no-repeat;
	height:29px;
	width:28px;
}
.description_spacer.blank{
	background-image:none;
}
.description_spacer.pre{
	background-position:0 -1000px;
}
.description_spacer.intermediate{
	background-position: 0 0;
}
.description_spacer.last{
	background-position: 0 -1766px;
}
.slick-pane .slick-header-column, .slick-pane .ui-state-default  {
	background-image: none;
	background-color: transparent;
	border: none;
	border-width: 0px;
	font-size: 12.8px;
}
.slick-header-columns-right, .grid-canvas-right .slick-cell{
	text-align: right;
}
.slick-row.highlight .slick-cell {
	background-color: rgb(255,255,150);
}

.slick-cell {
	border-color: transparent transparent #cccccc transparent;
  border-style: none none dashed none;
  border-width: 1px;
  padding-top: 3px;
  padding-left: 4px;
	font-size: 12.8px;
}
.slick-cell .link_cell {
	color: #189bd7;
}
.slick-cell:hover .link_cell {
	text-decoration: underline;
	cursor: pointer;
}
.slick-cell:empty:hover .link_cell{
	cursor: default;
}
.slick-pane-right {
	border-left: solid 1px #189BD7 !important;
}
.slick-pane-left, .slick-pane-right, .slick-viewport, .slick-viewport-top, .slick-viewport-left, .slick-viewport-right, .grid-canvas, .grid-canvas-top, .grid-canvas-left, .grid-canvas-right  {
	overflow: hidden;
}
.slick-pane a {
	color: #189BD7;
}
.slick-row.level_0 {
	font-weight: bold;
	border-top: 1px solid #189BD7;
}
:first-child.level_0{
	border-top: none;
}
.END_ROW .slick-cell{
	border-bottom: none;
}
.slick-sort-indicator {
	background: url("images/icon-sprites.png") no-repeat scroll -212px -2px transparent;
	width: 15px;
	height: 15px;
}
.slick-sort-indicator.slick-sort-indicator-asc {
	background: url("images/icon-sprites.png") no-repeat scroll -97px -6px transparent;
}
.slick-sort-indicator.slick-sort-indicator-desc {
	background: url("images/icon-sprites.png") no-repeat scroll -2px -86px transparent;
}
/**
 * Buttons
 **/
.filter_button, .visualization_button, .download_button, .help_button, .analysis_button{
	padding:0.25em;
	display:inline-block;
	height:2em;
	border:1px solid #cccccc;
	font-size: 12.8px;
	background:url("images/bg-sprites.png") repeat-x 0px 1px;
}

.filter_button .filter_button_text, .visualization_button .visualization_button_text, .download_button .download_button_text, .help_button .help_button_text, .analysis_button .analysis_button_text{
	display: inline-block;
	padding: 0.25em 1.75em 0em 0.25em;
	color: #189BD7;
	background:url("images/icon-sprites.png") no-repeat;
	text-transform: uppercase;
}
.filter_button:hover .filter_button_text, .visualization_button:hover .visualization_button_text, .download_button:hover .download_button_text, .help_button:hover .help_button_text {
	text-decoration: underline;
}
.filter_button:hover, .visualization_button:hover, .download_button:hover, .help_button:hover, .analysis_button:hover {
	cursor: pointer;
}
.filter_icon, .download_icon, .help_icon, .analysis_icon {
	display: inline-block;
	background:url("images/icon-sprites.png") no-repeat;
}
.filter_button.selected, .visualization_button.selected, .download_button.selected, .help_button.selected, .analysis_button.selected {
	width:auto;
	border:1px solid #189BD7;
	background: #189BD7;
}
.filter_button.selected .filter_button_text, .visualization_button.selected .visualization_button_text, .download_button.selected .download_button_text, .help_button.selected .help_button_text, .analysis_button.selected .analysis_button_text {
	color: #003975;
}
#overlay_filter_button:hover .filter_button_text, #overlay_visualization_button:hover .visualization_button_text, #overlay_download_button:hover .download_button_text, #overlay_help_button:hover .help_button_text {
	text-decoration: none;
}
#overlay_filter_button:hover, #overlay_visualization_button:hover, #overlay_download_button:hover , #overlay_help_button:hover {
	cursor: default;
}

#overlay_filter_button {
	width: 145px;
}
/**
 * Filter Button
 **/
#filter_dialog_wrap{
	display:none;
}
#filter_dialog{
	background:#fff;
	height:auto;
	width:auto;
}
.filter_button .filter_button_text {
	background-position: 96px -86px;
}
.filter_icon {
	width: 24px;
	background-position: 0px -36px;
}
.filter_button.selected .filter_button_text {
	background-position: -114px -86px;
}
.filter_button.selected .filter_icon {
	background-position: -30px -36px;
}
.filter_button.disabled .filter_button_text, .filter_button:hover.disabled .filter_button_text {
	color: #cccccc;
	text-decoration:none;
	background-position: -114px -26px;
}
.filter_button:hover.disabled {
	cursor: default;
}
.filter_button.disabled .filter_icon {
	background-position: -60px -36px;
}

/**
 * visualization Button
 **/
.visualization_button .visualization_button_text {
	width: 133px;
	background-position: 134px -86px;
}
.visualization_icon {
	width: 30px;
	display: inline-block;
	background:url("images/icon-sprites2.png") no-repeat;
}
.visualization_button.selected .visualization_button_text {
	background-position: -76px -86px;
}
.visualization_button.disabled .visualization_button_text, .visualization_button:hover.disabled .visualization_button_text{
	color: #cccccc;
	text-decoration:none;
	background-position: -76px -26px;
}
.visualization_button.disabled  .visualization_icon {
	background-position: -250px 0px;
}
	
/**
 * Download Button
 **/
.download_button .download_button_text {
	background-position: 78px -86px;
}
.download_icon {
	width: 30px;
	background-position: 0px -66px;
}
.download_button.selected .download_icon {
	background-position: -30px -66px;
}
.download_button.selected .download_button_text {
	background-position: -132px -86px;
}
dl.download_menu {
	margin-bottom: 0px;
}
.download_menu dt {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: solid 1px #DADADA;
	padding-bottom: 6px;
	padding-top: 10px;
	margin-bottom: 4px;
	text-transform: uppercase;
	clear: both;
}
.download_menu dt.clear {
	margin-top: -20px;
	border-bottom: none;
}
.download_menu dd {
	margin-left: 0px;
}

.download_menu dd a {
    cursor: pointer;
}
/**
 * Analysis Button
 **/
.analysis_button{
	width : 125px;
}
.analysis_button .analysis_button_text {
	background-position: 67px -86px;
}
.analysis_icon {
	width: 30px;
	background-position: 0px -282px;
}
.analysis_button.selected .analysis_icon {
	background-position: -27px -282px;
}
.analysis_button:hover .analysis_button_text {
	text-decoration: underline;
}
.analysis_button.selected .analysis_button_text {
	background-position: -143px -86px;
	text-decoration: none;
}

/**
 *Help Button
 **/
.help_icon {
	width: 24px;
	background-position: -118px -66px;
}
.help_button .help_button_text {
	background: none;
	padding-right: .5em;
	color: #00405D;
}
/*.help_button.selected .help_icon {
	background-position: -144px -66px;
}
.help_button.selected .help_button_text {
	color: #ffffff;
}*/
/**
 * Time Selection
 **/
#time_selection_container{
	width : auto;
	height : 50px;
	display: inline-block;
	float:left;
}
#timeSelectionContainer {
	width: auto;
	float:left;
}

.timeSlider {
	width : 320px;
	float:left;
	margin-right:2em;
	margin-top:0.45em;
}
.timeSlider  .ui-slider-handle {
	cursor: pointer;
	cursor: -moz-grab;
}
.timeSlider .ui-slider-handle.ui-state-hover {
	text-decoration: none;
}
#frequencySelectorContainer, #timeSliderContainer {
	position: relative;
	width:auto;
	height: auto;
	display: inline-block;
	float:left;
	padding:0.75em 0 0.75em 0;
	vertical-align: middle;
	font-size: 12.8px;
}
#frequencySelectorContainer {
	min-width: 194px;
	padding: 0 0 0 4px;
}

#frequencySelectorContainer .labelContainer  {
	float:left;
	width:auto;
	margin-right:4px;
	text-transform: uppercase;
}
#frequencySelectorContainer label, #main_visualization_button label, #pinkey_container label {
	/*font-weight: normal;*/
	vertical-align: top;
}
#timeSliderContainer .labelContainer {
	float:left;
	width:auto;
	margin-right:1em;	
	text-transform: uppercase;
}

.time_slider_tooltip, .time_slider_tooltip:hover {
	width:100px;
	color:black;
	font-weight: bold;
	text-decoration: none;
	margin-top: -1.8em;
}
.time_slider_tooltip + .time_slider_tooltip, .time_slider_tooltip + .time_slider_tooltip:hover {
	text-align: right;
	left: inherit !important;
	right: -8px !important;
}
.dual_slider_handle + .time_slider_tooltip, .dual_slider_handle + .time_slider_tooltip:hover {
	margin-right: 0px;
	margin-left: -8px;
}
.single_slider_handle .time_slider_tooltip, .single_slider_handle .time_slider_tooltip:hover {
	margin-top: -1.6em;
}
#main_filter_button {
	float: left;
	margin-right:1.0em;
	display: inline-block;
}
#main_visualization_button {
	float: left;
	margin-right:1.0em;
	display: inline-block;
}
#pinkey_container {
	float: left;
	margin-right: 1.0em;
	display: inline-block;
}
#main_download_button {
	float: right;
	margin-left:1.0em;
	display: inline-block;
}
#main_analysis_button {
	float: left;
	display: inline-block;
	margin-right:1.0em;
}
#help_button {
	display: inline-block;
	margin-left:1.0em;
	float: right;
	background:url("images/bg-sprites.png") repeat-x 0px -44px;
}
#help_button.selected {
	background-image: none;
	background-color: #189bd7;
}
#footnote_container{
	margin-top: 2em;
	font-style: italic;
	font-size: 13px;
	margin-left: .5em;
	clear:left;
}

#search_container{
	display: none;
}

.chart_column {
	overflow:visible !important;
}

.chartButton {
	display:inline-block;
	height: 17px;
	width:19px;
	background-image: url("images/icon-sprites.png");
	background-position: -66px -3px;
}
.chartButton.charted {
	background-image: url("images/icon-sprites.png");
	background-position: -5px -3px;
}
.chartButton:hover {
	background-image: url("images/icon-sprites.png");
	background-position: -36px -3px;
	cursor: pointer;
}

.parentChartButton {
	display:inline-block;
	height: 17px;
	width:19px;
	background-image: url("images/icon-sprites.png");
	background-position: -66px -3px;
}
.parentChartButton.charted {
	background-image: url("images/icon-sprites.png");
	background-position: -5px -3px;
}
.parentChartButton:hover {
	background-image: url("images/icon-sprites.png");
	background-position: -36px -3px;
	cursor: pointer;
}

.link_prompt {
	color:grey;
}

.link_option {
	color : #000;
}

#topic_select, #report_select {
	z-index: 10;
}
#top_topic_selection_container, #middle_topic_selection_container{
	width:924px;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-left: none;
	border-right: none;
	padding-top:8px;
	padding-bottom:8px;
}
#middle_topic_selection_container{
	padding-top: inherit;
	padding-bottom: 0px;
	background-color: transparent;
	border-bottom: none;
	border-top: none;
	margin-bottom: 14px;
	display: none;
}
#middle_topic_selection_container .topic_selection_inner_container h1 {
	padding-top: 0px;
}
.topic_selection_inner_container{
	width:418px;
	float: left;
}
.topic_selection_inner_container:first-child{
	margin-right: 29px;
}
.topic_selection_inner_container.or {
	margin-right: 29px;
	width: 30px;
}
.topic_selection_inner_container.or h1 {
	margin-top: 14px;
	border-bottom: none;
	font-size: 20px;
}
#topic_select_label{
	display: inline-block;
	margin-right: 10px;
}

#topic_select, #report_select {
	width: 418px;
}

.qtip-content {
	font-size: 12.8px;
}
/***
* Slider styles
****/
.filter_menu .ui-slider {
  background-color: #f2fbff;
  background-image: none;
  border: 1px solid #ACE1FA;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 8px;
}
.filter_menu .ui-slider-handle {
	background-color: #189bd7;
	background-image:none;
	border: solid 1px #189bd7;
	border-radius: 4px;
	left: -5px;
	width: 17px;
	height: 31px;
	margin-bottom: -30px;
	margin-top: 0px;
	background-image: url("https://www.eia.gov/global/scripts/modules/dist/css/images/icon-sprites.png");
	background-position: -4px -150px;
}
/***
* Filter menu styles
****/
#filter_dialog > div, #download_dialog > div, #visualization_dialog > div, #analysis_dialog > div {
	border-top: 3px solid #189BD7;
}
#analysis_dialog > div {
	padding: 2.1em;
}
#download_dialog > div {
	padding: 1.2em 2.1em 1.8em 2.1em;
}
.filter_buttons {
	display:block;
	text-align: right;
	padding: 12px 15px 0px 0px;
	width:720px;
	font-size: 12.8px;
}
.style2 #submitButton, .style2 #cancelButton, .style2 #resetButton {
	text-transform: uppercase;
	color: #189BD7;
	display: inline;
	margin-left:10px;
	padding: 8px 0px 4px 0px;
	float: right;
}

.style2 #submitButton:hover span, .style2 #cancelButton:hover span, .style2 #resetButton:hover span{
	text-decoration: underline;
	cursor: pointer;
}
.style2 #submitButton:hover div, .style2 #cancelButton:hover div, .style2 #resetButton:hover div {
	text-decoration: none;
	cursor: pointer;
}
.style2 #submitButton div{
  background-image: url("images/icon-sprites.png");
  background-position: -3px -186px;
  opacity: 0.3;
  padding-left: 20px;
  display:inline;
}
.style2 #resetButton div{
  background-image: url("images/icon-sprites.png");
  background-position: -33px -186px;
  opacity: 0.3;
  padding-left: 20px;
  display:inline;
}
.style2 #cancelButton div{
  background-image: url("images/icon-sprites.png");
  background-position: -61px -186px;
  opacity: 0.3;
  padding-left: 20px;
  display:inline;
}
.style2 #submitButton:hover div, .style2 #cancelButton:hover div, .style2 #resetButton:hover div{
	opacity: 1.0;
}
.filter_menu_title span {
	width:30px;
	display: inline-block;
}
.filter_menu_title span.title_text {
	width: 72%;
	float: left;
}
.filter_menu_title .arrow.left {
	background: url("images/icon-sprites.png") -3px -242px;
}
.filter_menu_title .arrow.right {
	background: url("images/icon-sprites.png") 90px -242px;
}
.filter_menu_title .arrow.left:hover {
	background: url("images/icon-sprites.png") -3px -210px;
}
.filter_menu_title .arrow.right:hover {
	background: url("images/icon-sprites.png") 90px -210px;
}
.searchContainer {
	padding: 0em 2.4em 1em 2.4em;
}
.filter_menu_title span.title_text{
	cursor: move;
}ul.filter_menu{
	display : block;
	position : relative;
	margin:0px;
	padding:0em 0em 1.2em 1.2em;
	width:720px;
	clear: both;
}

.oneWide  ul.filter_menu,
.oneWide .filter_buttons {
	width:480px;

}
.twoWide  ul.filter_menu,
.twoWide .filter_buttons {
	width:480px;

}
.threeWide ul.filter_menu,
.threeWide .filter_buttons  {
	width:720px;
}
.fourWide ul.filter_menu,
.fourWide .filter_buttons  {
	width: 960px;
}
ul.filter_menu li.filter_menu_item{
	background-color: #FFFFFF !important;
	display : block;
	position : relative;
	float : left;
	padding : 0.4em 0em 0.4em 0.4em;
	margin-left:0.5em;
	margin-right:0.5em;
	width: 215px;
}
ul.filter_menu li.clear{
	display : block;
	position : relative;
	float : none;
	clear : both;
	list-style-type: none;
}
ul.filter_menu li.disabled{
	enabled: false;
}
div.filter_tree_div {
	background-color: #DFF2FB;
	border-radius : 1em;
	height: 360px;
	overflow-y: hidden;
	width: 215px;
}
div.filter_tree_scroller {
	height: 305px;
	position: relative;
	float: right;
	margin-top: 22px;
	margin-right: 14px;
}
ul.filter_tree, ul.filter_tree ul{
	list-style-type: none;
    padding-left: 1em;
}
ul.filter_tree {
	float : left;
	width: 175px;
	height: 315px;
	overflow-y: hidden;
	padding: 0em 1em;
	padding-right: 0em;
	padding-bottom: 1em;
	margin-top: 1em;
    padding-left: .5em;
}
ul.filter_tree li input, ul.filter_tree li ul li input, ul.filter_tree li ul li ul li input{
	display: inline-block;
	float: left;
	clear: left;
}
ul.filter_tree li ul, ul.filter_tree li ul li ul{
	clear: left;
}
ul.filter_tree li p{
	margin-bottom:0;
	font-size: inherit;
	display: inline-block;
	width:11em;
	float: left;
}
ul.filter_tree li ul li p{
	width:9.5em;
	display: inline-block;
	float: left;
}
ul.filter_tree li ul li ul li p{
	width:8em;
	display: inline-block;
	float: left;
}
div.filter_menu_title{
	font-family: Times New Roman, Times, serif;
	position:relative;
	font-size: 18px;
	text-align: center;
	height: 1.5em;
	text-transform: uppercase;
	background-color: #FFFFFF;
	padding: 8px 0px;
}
div.filter_menu_title .arrow{
	cursor: pointer;
}
.style2 .filter_menu_header h3 span {
	font-weight: normal;
	text-transform: none;
}
div.filter_menu_header  img { 
	float: right;
	height: 9px;
	width: 9px;
	background: url(images/minusplus.png.html) 0px 0px no-repeat;
	cursor: pointer;
}
div.filter_menu_header  img.disabled{ 
	background-position: -10px 0px;
}
.hidden {
	display: none;
}

.filter_menu_item .filter_all {
	text-align: center;
	padding-top:2px;
	margin-bottom: -1em;
}
.filter_menu_item .filter_all > span {
	margin: 0px 2px;
}
.filter_menu_item .filter_all a {
	cursor: pointer;
	font-weight: bold;
}
/***
* Download menu styles
****/
#download_dialog_wrap,#visualization_dialog_wrap, #analysis_dialog_wrap {
	display:none;
}

#download_dialog, #visualization_dialog, #analysis_dialog {
	background:#fff !important;
	height:auto;
	width:auto;
	position: relative;
}

ul.download_menu, ul.visualization_menu, ul.analysis_menu {
	display:block;
	position : relative;
	background-color: #FFFFFF !important;
	list-style-type: bullet;
	padding-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
ul.analysis_menu {
	list-style: disc;
	padding-left: 20px;
}
ul.download_menu > li a, ul.visualization_menu > li a{
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
}
ul.download_menu > li, ul.visualization_menu > li{
	background-color: #FFFFFF !important;
	display : block;
	position : relative;
	padding : 0.4em 0em 0.4em 0em;
	margin-left: 4px;
	margin-right:4px;
}
ul.download_menu > li {
	margin-left: 12px;
}
ul.download_menu > .clear, ul.visualization_menu > .clear{
	display : block;
	position : relative;
	float : none;
	clear : both;
}
ul.download_menu > li.disabled, ul.visualization_menu > li.disabled{
	enabled: false;
}

#analysis_dialog .add_insight {
	width: 460px;
	margin-top: 14px;
}
#analysis_dialog #historical {
	clear: none;
	padding-right: 25px;
	margin-right: 20px;
	border-right: 1px dashed #CECECE;
	display: inline-block;
}
#analysis_dialog #projections {
	clear: none;
	display: inline-block;
}
/***
* Choose dataset and Addition info boxes
****/
.ltblue {
	background-color: #DFF2FB;
	padding-top: 0px;
	padding-bottom: 12px;
}

.grey_side h5 {
	margin-bottom: 0em;
	margin-top: 10px;
	font-size: 11.5px;
}
.grey_side form {
    border-bottom: 1px solid #E3E5E6;
    margin: 0;
    padding-bottom: 16px;
}
.grey_side form + h5 {
	padding-top: 10px;
}
.ltblue h1 {
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid #333333;
}
.ltblue h3 {
	font-size: 11.5px;
	text-transform: uppercase;
	border-bottom: none;
	margin: 0;
	padding: 0px;
}
.ltblue form {
	border-bottom: none;
	padding-bottom:0px;
}
.ltblue form + h1 {
	padding-top: 20px;
}

/**
  * Time Selection Styles
  **/
#search_time_container {
	background-color: #DFF2FB;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	height: 30px;
	margin-top: 10px;
	padding: 15px 10px 5px 10px;
}

#time_selection_container {
	display: inline-block;
	margin: 0px 10px;
	float: right;
	text-align: right;
}

/***
* Time slider styles
****/
.timeSlider .ui-slider-handle.ui-state-default.dual_slider_handle {
	background: url("images/icon-sprites.png") no-repeat scroll -37px -124px transparent;
	border: none;
	margin-top:-0.175em;
	border-radius:0px;
}
.timeSlider div + .ui-slider-handle.ui-state-default.dual_slider_handle{
	background: url("images/icon-sprites.png") no-repeat scroll -6px -124px transparent;
	border: none;
	margin-top:-0.175em;
	border-radius:0px;
}
.timeSlider .ui-slider-handle.ui-state-default.single_slider_handle,
#animated_map_slider .ui-slider-handle.ui-state-default{
	background: url("images/icon-sprites.png") no-repeat scroll -66px -124px transparent;
	border: none;
	margin-top:-0.175em;
	border-radius:0px;
}
.timeSlider.range.ui-slider.ui-slider-horizontal, .timeSlider.ui-slider.ui-slider-horizontal, #animated_map_slider.ui-slider.ui-slider-horizontal {
	height: 0.4em;
	border-color: #cccccc;
}
.timeSlider .ui-widget-header, #animated_map_slider.ui-widget {
	background: url("images/bg-sprites.png") repeat-x scroll 0px -34px transparent;
}
.map_slider_tooltip {
	line-height: 1.1em;
	text-align: center;
}

/***
* Plant title styles
****/
#title_container {
	margin-bottom: 15px;
	display: none;
	font-size: 12.8px;
}
#title_container h1 {
	font-family: Arial, Helvetica, Sans-serif;
	border-bottom: none;
	font-size: 15.5px;
  font-weight: bold;
  padding-left: 3px;
  padding-top: 4px;
}

/**
  * Search Box Styles
  **/
#search_container {
	/*background-color: #DFF2FB;*/
	float: left;
	display: inline-block;
	width: 36%;
}
.aggregate #search_container, .plantData #search_container {
	display: none;
}
#searchbox {
	padding-left: 0.25em;
}
#searchbox input {
	width: 250px;
}
#search_box_reset {
	text-transform: uppercase;
	padding-left: 10px;
	vertical-align: text-top;
	font-size: 12.8px;
}
#search_box_reset:hover {
	cursor: pointer;
}
#search_box_reset span {
	width: 20px;
	background-image: url("images/icon-sprites.png");
  background-position: -33px -184px;
  display: inline-block;
  opacity: 0.3;
}
#search_box_reset:hover span {
	text-decoration: none;
	opacity: 1.0;
}
/**
  * Load Mask Styles
  **/
.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    background-color: #777;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    background: #189BD7;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 10px;
    line-height: 16px;
    background: #fbfbfb;
    text-align: center;
}

.loadmask-msg div span.loading {
    padding:5px 0 5px 25px;
    background: url('images/ajax-loader.gif') no-repeat 5px 5px;
    cursor:wait;
}

.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}

.ico {
	background: url("images/icon-sprites2.png") no-repeat;
	width: 30px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
}
#main_visualization_button  label {
	height: 2em;
	padding-top: 0.5em !important;
	padding-bottom: 0em !important;
	background-position: 0px 1px !important;
}
#main_visualization_button  label span.ico, #pinkey_container label span.ico{
	margin-top: 1px;
	width: 30px;
	margin-left: -8px;
}
#main_visualization_button .ui-button-text, #pinkey_container .ui-button-text {
	vertical-align: top;
}
#pinkey_container .ico {
	margin-bottom: -2px;
}
.ico.linechart {
	background-position: -58px -65px;
}
.ico.linechart.selected, .visualization_icon.linechart, #main_visualization_button .ico.linechart {
	background-position: 2px -65px;
}
.chart_column .ico.linechart:hover, a:hover > .ico.linechart {
	background-position: -28px -65px;
}
.visualization_button.selected .visualization_icon.linechart, #main_visualization_button  > .ui-state-active .ico.linechart, #main_visualization_button  label:hover .ico.linechart  {
	background-position: -88px -65px;
}
.ico.parent.linechart {
	background-position: -66px -93px;
}
.ico.parent.linechart.selected{
	background-position: -6px -93px;
}
.chart_column .ico.parent.linechart:hover, a:hover > .ico.parent.linechart {
	background-position: -36px -93px;
}
.ico.columnchart {
	background-position: -58px -4px;
}
.ico.columnchart.selected, .visualization_icon.columnchart, #main_visualization_button .ico.columnchart {
	background-position: 2px -4px;
}
.chart_column .ico.columnchart:hover, a:hover > .ico.columnchart {
	background-position: -28px -4px;
}
.visualization_button.selected .visualization_icon.columnchart, #main_visualization_button  > .ui-state-active .ico.columnchart , #main_visualization_button  label:hover .ico.columnchart {
	background-position: -88px -4px;
}
.ico.parent.columnchart {
	background-position: -66px -34px;
}
.ico.parent.columnchart.selected {
	background-position: -6px -34px;
}
.chart_column .ico.parent.columnchart:hover, a:hover > .ico.parent.columnchart {
	background-position: -36px -34px;
}
.ico.map {
	background-position: -60px -117px;
}
.ico.map.selected, .visualization_icon.map, #main_visualization_button .ico.map {
	background-position: 0px -117px;
}
.chart_column .ico.map:hover, a:hover > .ico.map {
	background-position: -30px -117px;
}
.visualization_button.selected .visualization_icon.map, #main_visualization_button  > .ui-state-active .ico.map , #main_visualization_button  label:hover .ico.map {
	background-position: -90px -117px;
}
.ico.map.parent {
	background: none;
}
.chart_column .ico.map.parent:hover {
	cursor: default;
}
.ico.sourcekey {
	background-position: -60px -140px;
}
.ico.sourcekey.selected, .visualization_icon.sourcekey, #pinkey_container .ico.sourcekey {
	background-position: 0px -140px;
}
.chart_column .ico.sourcekey:hover, a:hover > .ico.sourcekey{
	background-position: -30px -140px;
}
.visualization_button.selected .visualization_icon.sourcekey, #pinkey_container  > .ui-state-active .ico.sourcekey, #pinkey_container  label:hover .ico.sourcekey  {
	background-position: -90px -140px;
}
.ico.sourcekey.parent {
	background: none;
}
.ico.pin {
	background-position: -62px -158px;
}
.ico.pin.selected, .visualization_icon.pin, #pinkey_container .ico.pin {
	background-position: -2px -158px;
}
.chart_column .ico.pin:hover, a:hover > .ico.pin {
	background-position: -32px -158px;
}
.visualization_button.selected .visualization_icon.ico.pin, #pinkey_container  > .ui-state-active .ico.pin, #pinkey_container  label:hover .ico.pin {
	background-position: -92px -158px;
}
.ico.pin.parent {
	background-position: -69px -181px;
}
.ico.pin.parent.selected {
	background-position: -9px -181px;
}
.chart_column .ico.pin.parent:hover {
	background-position: -39px -181px;
}
.ico.remove {
  background-image: url("images/icon-sprites.png");
  background-position: -52px -172px;
  background-size: 280px;
  opacity: 0.3;
}
.ico.remove:hover {
	opacity: 1.0;
}

.ui-helper-hidden-accessible {
position: absolute;
left: -99999px;
}