.formDiv .menuShow
{
	display: block;
}

.formDiv .menuHide
{
	display: none;
}

.formDiv LI
{
  	list-style-type: none;
}

.formDiv div
{
	padding-left: 1.5em;
}

.formDiv
{
	background-color: white;
	margin: 0px;
}

.rtitle_form 
{
	background-image: none;
	background-repeat:repeat-y;
	background-position-x:left;
}

.checkBox
{
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.checked
{
	background: url(../imgs/checkBoxes4.png) 0px 0px;
}

.checked:hover
{
	background: url(../imgs/checkBoxes4.png) -14px 0px;
}

.intermediate
{
	background: url(../imgs/checkBoxes4.png) -28px 0px;
}

.intermediate:hover
{
	background: url(../imgs/checkBoxes4.png) -42px 0px;
}

.unchecked
{
	background: url(../imgs/checkBoxes4.png) -56px 0px;
}

.unchecked:hover
{
	background: url(../imgs/checkBoxes4.png) -70px 0px;
}

.hidden
{
	display:none;
}

.submit
{
	width: 150px;
}

DIV.Changes
{
    font-size: 14px;
    text-align: center;
}
    
DIV.Changes A
{
    text-decoration: underline; 
}
    
DIV.Changes FONT
{
    FONT-WEIGHT: bold; 
    FONT-FAMILY: Arial, Helvetica, Sans-Serif; 
    color: #666666;
}