A:link {
	COLOR: #000099
}
A:visited {
	COLOR: #000099
}
A:hover {
	COLOR: #990033; TEXT-DECORATION: underline
}
.breadcrumbs {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.breadcrumbs A {
	COLOR: #000099; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumbshd {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fdf4f5
}
.dropdown {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.Pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.CategoryTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
TH.SectionHead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-INDENT: 5pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d3e1fa
}
.SectionHead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-INDENT: 5pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d3e1fa
}
.SectionHead A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.SectionHead A:hover {
	COLOR: #990033; TEXT-DECORATION: underline
}
.SubSection {
	FONT-WEIGHT: 400; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.SubSection A {
	FONT-WEIGHT: 400; FONT-SIZE: 10pt; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
.SubSection A:hover {
	COLOR: #990033; TEXT-DECORATION: underline
}
LI.SubSection {
	MARGIN-BOTTOM: -2px; MARGIN-LEFT: -2px; COLOR: black; FONT-FAMILY: Arial, Helvetica, Sans-Serif; LIST-STYLE-TYPE: square
}
.SubSectionSHD {
	FONT-WEIGHT: 400; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #f4f4f4
}
.SubSectionSHD A {
	FONT-WEIGHT: 400; FONT-SIZE: 10pt; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
.SubSectionSHD A:hover {
	COLOR: #990033; TEXT-DECORATION: underline
}
.TblHeadGrey {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-INDENT: 5pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e4e4e4
}
.RepAnForCat {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.RepAnForCat A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-DECORATION: underline
}
.RepAnForCat A:hover {
	FONT-SIZE: 12px; COLOR: #990033; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.tagline {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.update {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.report_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.report_summary {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.report_releaseinfo {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; COLOR: #009933; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman", Times, serif
}
.report_peggy {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-ALIGN: justify
}
.front {
	DISPLAY: none; FONT-SIZE: 1pt; COLOR: #ffffff
}
.front A {
	FONT-SIZE: 1pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.front A:visited {
	FONT-SIZE: 1pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.notice {
	PADDING-RIGHT: 1pt; PADDING-LEFT: 1pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 1pt; COLOR: #ff0000; PADDING-TOP: 1pt; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffff00
}
.emergency {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: arial
}
.hotboxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hotbox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.hotboxSHD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #fdf4f5
}
.BoxLine {
	BORDER-LEFT-COLOR: #cc3333; BORDER-BOTTOM-COLOR: #cc3333; BORDER-TOP-COLOR: #cc3333; BORDER-RIGHT-COLOR: #cc3333
}
.Boxtextblack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.Boxtextblack A {
	FONT-WEIGHT: bold; COLOR: #000099; TEXT-DECORATION: underline
}
.Boxtextblack A:hover {
	COLOR: #cc0000
}
.Boxtextblack A:visited {
	COLOR: #000099
}
.Boxtextred {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #960018; FONT-FAMILY: tahoma, sans-serif
}
.Boxtextred A {
	FONT-WEIGHT: bold; COLOR: #990033; TEXT-DECORATION: underline
}
.Boxtextred A:hover {
	COLOR: #000099
}
.Boxtextred A:visited {
	COLOR: #990033
}
.rightTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.BulletSq {
	FONT-SIZE: medium; COLOR: gray; LIST-STYLE-TYPE: square
}
TD.NavBar {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #000099
}
.NavBar A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
.NavBar A:visited {
	COLOR: #ffffff
}
.NavBar A:hover {
	COLOR: #b5cde6
}
.data {
	FONT-SIZE: 12px; MARGIN-LEFT: 15px; CURSOR: default; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.misctext {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.misctext A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: underline
}
.misctext A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.contactinfo {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.contactinfo A {
	COLOR: #000099
}
.footnotes {
	FONT-WEIGHT: 400; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.footnotes A {
	FONT-WEIGHT: 400; FONT-SIZE: 8pt; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
.footnotes A:hover {
	COLOR: #990033; TEXT-DECORATION: underline
}
TH.SM_SectionHead {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; TEXT-INDENT: 1pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d3e1fa
}
.SM_tblHeadGrey {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; TEXT-INDENT: 1pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e4e4e4
}
.SM_SubSectionSHD {
	FONT-WEIGHT: 400; FONT-SIZE: 8pt; COLOR: #000000; TEXT-INDENT: 1pt; FONT-FAMILY: Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #f4f4f4
}
.SM_SubSection {
	FONT-WEIGHT: 400; FONT-SIZE: 8pt; COLOR: #000000; TEXT-INDENT: 1pt; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.tbl_bkd {
	BACKGROUND-COLOR: #e4eef8
}
