/*---header styles-----*/
.report_header {
  display: block;
  width: 914px;
  margin-right: 22px;
  margin-left: 22px;
  border-bottom: none;
}
div.report_header > div {
  //display: table-row;
}
div.report_header > div > div {
  //display: table-cell;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 12px;
  min-height: initial;
  vertical-align: bottom;
}
div.report_header > div > div.pub_title {
  //width: 462px;
  min-height: 20px;
}
div.report_header > div > div > div {
  border-left: solid 1px #ededed;
  border-right: none;
  height: 70px
}
div.report_header > div:first-child > div {
  border: none;
  padding-bottom: 24px;
}
div.report_header > div:first-child div a {
  display: block;
}

.report_header h1 {
  text-transform: none;
  text-indent: 0;
  padding-top: 0;
}
.report_header h2 {
  padding-top: 0;
  text-indent: 0;
  font-style: italic;
}
.report_header a, .report_header p {
  text-indent: 0;
  float: none;
}
.report_header p, .report_header p a  {
  text-transform: none;
  font-size: 8pt;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding-left: 0;
  line-height: 1.75em;
}

.report_header a.ico_download {
  background: url(https://www.eia.gov/petroleum/production/images/icons/download.png) no-repeat 0px 0px;
  display: inline-block;
  padding-left: 21px;
  margin-top: 0;
}
/*---end header styles-*/
.pagecontent.mr_temp2 {
  margin-top: 12px;
}
.mr_temp2 .main_col {
  width: 610px;
  //border-right: 1px solid #d5d5d5;
  margin-right: 0px;
  padding-right: 30px;
}

.mr_temp2 .side_col {
  margin-right: 22px;
  margin-top: 4px;
  //width: 355px;
}

.side_col div.blue_top, .side_col div.green_top {
  border-top-width: 3px;
  padding-top: 6px;
}

.side_col .blue_top li {
  list-style: none;
  margin-top: 4px;
  font-size: 14px;
}

.side_col .blue_top li:first-of-type {
  margin-top: 14px;
}

.side_col .blue_top p .right {
  margin: 0;
}

.side_col .blue_top hr {
  margin: 14px 0 0 0;
  background: transparent;
  border-top: 1px dashed #cccccc;
}

.side_col div.green_top h4 a {
  color: #333333;
}

.side_col .green_top h4 a span{
  font-size: 11pt;
  font-style: italic;
  color: #666666;
}

.green_top.tie_container img {
  margin: 8px 0 4px 0;
}

.green_top.tie_container p strong, .green_top.tie_container p b {
  font-weight: normal;
  line-height: 1.25em;
}

.green_top.tie_container .no_btm_border {
  margin-top: 16px;
}

.green_top.tie_container p sub {
  line-height: 0em;
  font-size: 80%;
}

.green_top.tie_container p em {
  color: #666666;
}

.side_col > div {
  margin-bottom: 40px;
}

.mr_temp2 .aeo_footer {
  margin-top: 60px;
}

.mr_temp2 .main_col .feature > span{
  padding: 20px;
}
.mr_temp2 .main_col .feature > span p:first-child{
  margin-top: 0;
}

#sector1 {
  margin-bottom: 22px;
}

/*---text styles-----*/
.mr_temp2 .main_col h1{
  font-size: 19pt;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.mr_temp2 .main_col h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}

.mr_temp2 .main_col h2 a, .mr_temp2 .main_col a h2 {
  color: #189bd7;
}

.mr_temp2 .main_col h3, .mr_temp4 .main_col h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 11pt;
  border: none;
  padding: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: inherit;
  margin-top: 18px;
  line-height: 1.5em;
}

.mr_temp2 .main_col h4 {
  margin-bottom: 0px !important;
  margin-top: 14px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  padding: 0px;
  line-height: 2em;
}

.mr_temp2 .main_col h4+ol li:first-child {
  margin-top: 0px;
}

.mr_temp2 .main_col h4 a{
  color: #189bd7;
}
.side_col h4, .mr_temp2 .side_col h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 17pt;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}

.mr_temp2 .main_col p, .side_col p, .mr_temp2 .main_col ul li, .mr_temp2 .main_col ol li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
  line-height: 1.75em;
}
.mr_temp2 .main_col h4.author {
  line-height: 1.5em;
  font-style: italic;
  color: #555555;
}
.mr_temp2 .main_col p.tags {
  font-size: 12pt;
  font-style: italic;
  font-family: Times New Roman, Times, serif;
  line-height: 1.25em;
  margin-top: 10px;
}
div.padd_map p span {
  margin-left: 20px;
}
.side_col p {
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
  line-height: 1.25em;
}
.mr_temp2 .main_col h3+p, .mr_temp2 .main_col h2+p {
  margin-top: 4px;
}
.side_col h4+p {
  margin-top: 10px;
}

.basic_table thead th, .basic_table tbody td, .basic_table tfoot td {
  font-size: 10.5pt;
}

.basic_table td:first-child+td, .basic_table th:first-child+th {
	text-align: left;
}
.side_col .basic_table thead th, .side_col .basic_table tbody td, .side_col .basic_table tfoot td {
  font-size: 10pt;
}
.mr_temp2 .main_col table tfoot tr.total td, .mr_temp4 .main_col table tfoot tr.total td  {
  font-size: inherit;
}

.mr_temp2 .main_col p a.endnotes, .mr_temp2 .main_col li a.endnotes {
  font-weight: bold;
  cursor: pointer;
}
/*--end text styles--*/


/*--tab styles-------*/

.pagecontent .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.pagecontent .page_tabs hr {
  margin: -1px 0 0 0;
  background: #189bd7;
}
.pagecontent .ui-state-default, .ui-widget-content .ui-state-default {
  background-color: #ffffff;
  border: none;
}
.pagecontent .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #999999;
  font-style: italic;
}
.pagecontent .ui-state-default.ui-state-hover a {
  color: #189bd7;
}
.pagecontent .page_tabs .ui-state-active, .pagecontent .ui-widget-content .ui-state-active {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #189bd7;
  border-bottom: none;
  padding-bottom: 0px;
  font-style: italic;
}
.pagecontent .ui-tabs .ui-tabs-nav li a {
  padding: .5em .75em .25em .75em;
}
.pagecontent .page_tabs .ui-state-active a, .pagecontent .ui-state-active a:link, .pagecontent .ui-state-active a:visited {
  color: #333333;
}
.pagecontent .ui-tabs .ui-tabs-panel {
  border: none;
  padding: 20px 0 0 0;
}
.pagecontent .ui-tabs .ui-tabs-panel p {
  border-top: 1px dashed #dadada;
  padding-top: 6px;
  margin-top: 6px;
}
.pagecontent .ui-tabs .ui-tabs-panel p:first-child {
  border-top: none;
}

/*--end tab styles---*/

.controlContainer {
	margin: 20px 0px;
	padding: 14px 10px 10px 10px;
	border-top: 1px solid #5e9c30;
	border-bottom: 1px solid #5e9c30;
}
#visualizationControls {
	display: inline-block;
}
#visualizationControls  > div {
	width: 78px;
	display: inline-block;
	background: url('https://www.eia.gov/petroleum/production/images/sprites.png') no-repeat;
	border-left: 1px solid #dadada;
}
#visualizationControls  > div:first-child {
	border-left: none;
}

#periodicity {
	float: right;
	display: inline-block;
	height: 44px;
	font-size: 0px;
}
#periodicity > div {
	display: inline-block;
	width: 70px;
	height: 100%;
	padding-top: 12px;
}
#periodicity > div  > div{
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	top: 10px;
	background: url('https://www.eia.gov/petroleum/production/images/sprites.png') no-repeat -9999px -9999px;
}
#visualizationControls  div p, #periodicity div p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9pt;
	margin-top: 35px;
	text-align: center;
	color: #a6a6a6;
}
#periodicity div p {
	margin: 0px;
	line-height: 1.25em;
}
#visualizationControls  div.active p, #periodicity  div.active p {
	color: #189bd7;
}
#visualizationControls  div:hover p, #periodicity  div:hover p {
	color: #189bd7;
	cursor: pointer;
}
#visualizationControls .chartButton {
	background-position: -430px -114px;
	margin-right: 6px;
}
#visualizationControls .chartButton:hover, #visualizationControls .chartButton.active {
	background-position: -430px -21px;
}
#visualizationControls  .mapButton {
	background-position: -143px -112px;
}
#visualizationControls  .mapButton:hover, #visualizationControls  .mapButton.active {
	background-position: -143px -19px;
}
#periodicity .monthly  {
	border-right: 1px solid #189bd7;
}

#periodicity .monthly p {
	text-align: right;
	padding-right: 16px;
}
#periodicity .annual p {
	padding-left: 16px;
}
#periodicity .monthly  div {
	float: right;
}
#periodicity .annual div {
	float: left;
}
#periodicity .monthly.active  div {
	background-position: -319px -392px;
}
#periodicity .annual.active div {
	background-position: -393px -392px;
}
/*--table styles---------*/

.mr_temp2 .basic_table caption {
  padding: 0px 0px 0px 0px;
  /*color: #189bd7;*/
  text-transform: uppercase;
  border-bottom: 1px solid #777777;
}
.mr_temp2 .basic_table caption em {
  text-transform: none;
}
.mr_temp2  .side_col .basic_table {
  width: 355px;
}
.mr_temp2  .side_col .basic_table tbody td:first-child {
  padding-left: 0px;
}
.mr_temp2 .basic_table tr:last-child th {
  //border-bottom: 3px solid #cccccc;
}
.mr_temp2 .basic_table thead th, .basic_table tr th {
  padding-bottom: 0px;
}
.mr_temp2 .basic_table tbody tr td, .mr_temp2 .basic_table tbody tr:first-child td {
  padding-top: 6px;
}

.mr_temp2 .basic_table tbody tr:last-child td {
  border-bottom: 1px solid #189bd7;
  padding-bottom: 4px;
}
.mr_temp2 .basic_table tfoot tr:first-child td {
  padding-top: 5px;
  padding-left: 4px;
  border-top: none;
  font-style: italic;
  font-size: 100%;
}
.mr_temp2 .basic_table tbody tr.selected  td , .mr_temp2 .basic_table tbody tr:hover  td {
  background-color: #e4f7ff;
}
.mr_temp2 .basic_table tr.selected  td:nth-child(5), .mr_temp2 .basic_table tr:hover td:nth-child(5), .mr_temp2 .basic_table tr.selected  td:nth-child(7), .mr_temp2 .basic_table tr:hover td:nth-child(7) {
  background-color: #b0d9eb;
}

.mr_temp2 .basic_table tbody tr:hover  td {
  cursor: pointer;
}
.ico {
  background: url("https://www.eia.gov/global/images/icons/sprites/icon-sprites2.png") no-repeat;
  width: 24px;
  height: 13px;
  display: inline-block;
  cursor: pointer;
}
.ico.linechart {
  background-position: -62px -67px;
}
.selected .ico.linechart {
  background-position: -2px -67px;
}
.ico.linechart:hover, .mr_temp2 .basic_table tr:hover td > .ico.linechart {
  background-position: -32px -67px;
}
.mr_temp2 .basic_table span.no_change, .mr_temp2 .basic_table span.value_down, .mr_temp2 .basic_table span.value_up {
  width: 8px;
  height: 12px;
  margin-left: 2px;
  display: inline-block;
  float: none;
}
.mr_temp2 .basic_table span.value_down {
  background: url(https://www.eia.gov/petroleum/production/images/icons/arrows.png) no-repeat center bottom;
}
.mr_temp2 .basic_table span.value_up {
  background: url(https://www.eia.gov/petroleum/production/images/icons/arrows.png) no-repeat center 1px;
}
.mr_temp2 .basic_table thead tr th:last-child, .mr_temp2 .basic_table tr th:last-child, .mr_temp2 .basic_table tbody tr td:last-child {
  padding-right: 6px;
}

.mr_temp2 .basic_table th:nth-child(2), .mr_temp2 .basic_table td:nth-child(2) {
  width: 110px;
}

.mr_temp2 .basic_table th:nth-child(5), .mr_temp2 .basic_table td:nth-child(5),
.mr_temp2 .basic_table th:nth-child(7), .mr_temp2 .basic_table td:nth-child(7) {
  background-color: #f7f7f7;
  width: 54px;
}


/*--end table styles-----*/