/* Subnav styles */
.pagecontent {
	display: block;
	background-color: white;
}
#usOverviewPage > h1 {
	margin-left: 22px;
}
#dataPage .main_col, #sedsHistoryPage .main_col, #sedsCurrentPage .main_col{
	display: block;
}
.change_location {
	cursor:pointer;
	font-size:11px !important;
}
.subnav_sub_title {
	cursor:default !important;
	font-weight:bold !important;
}
.L2_toggle_table {
	margin-top:10px; 
	padding:0px 0px 0px 2px;
}
.L2_toggle_table tr td {
	line-height:20px;
	vertical-align:top !important;
	border:0px;
}
.L2_blue_toggle {
	display:none;
}
.L2_blue_toggle h2 {
	margin:0px;
	border-bottom:1px solid #92948f;
	padding-left:12px;
}
.more_block {
	border-top: 1px solid #e6e6e6;
}
.inactive:hover {
	background-color: transparent !important;
}
.inactive a {
	cursor: default;
	color: #666666 !important;
}
.inactive a:hover {
	text-decoration: none !important;
}

#stateSelectSpan {
	padding-top : 5px;
	padding-bottom : 5px;
}
.state .side_col > div {
	margin-top : 10px;
	margin-bottom : 1em;
}

.state .main_col h1, .seds h1 {
	border-bottom: none;
}

.datacontent .expandall, .datacontent .collapseall  {
	float: left;
	margin-bottom: 5px;
}

#tabs > div {
	height : 400px !important;
}

.print_link {
	text-align: right;
	margin-right: 15px;
}
#profile_map_container {
	margin-bottom: 15px;
}
#profile_map_container > .carousel_footer {
	height: inherit;
	padding: 5px 10px;
	width: inherit;
	font-size: 12px;
}
#profile_map_container, #profile_map_inner_container {
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
#profile_map_container.carousel {
	padding-top: 10px;
}
.main #profile_map_container {
	margin-bottom: 0px;
	
}
#state_map_container {
	height: 420px;
	width: 640px;
	float: left;
	padding-left: 10px;
}
#state_map_container > div {
	height: 100%;
}
#territory_map_container {
	margin-top: 10px;
	display: inline-block;
	padding: 0 12px 12px;
}

#quick_facts_container ul, #more_data_container ul {
	list-style-type: square;
}
#quick_facts_container li, #more_data_container li {
	margin-top: 5px;
}
#rankings_container {
	margin-bottom: 15px;
}

/*#more_data_container {
	border: 1px solid #EAEAEA;
	margin-bottom: 15px;
}
#more_data_container > span{
	background-color:  #EAEAEA;
}
#more_data_container > #more_data_title {
	background-color:  #EAEAEA;
	padding: 2px 15px;
	font-weight: bold;
}
#more_data_container > #summaryReports {
	background-color: #FFF;
	width: 230px;
	padding: 15px;
	margin-top: 10px;
}
#more_data_container > #byFuel {
	background-color: #FFF;
	width: 320px;
	padding: 15px 15px;
	border-right: 5px solid #EAEAEA;
	margin-top: 10px;
}
#more_data_container > #byFuel .right {
	width: 120px;
}
#more_data_container > #byFuel .left {
	width: 110px;
}
#more_data_container > #byFuel > div, #more_data_container > #summaryReports > div{
	font-weight: bold;
}
*/
#tabs {
	margin-bottom: 15px;
}

.seds #sedsBreakdown {
	margin: 15px 0px;
	background-color : #EAEAEA;
	width : 100%;
}
.seds #sedsBreakdown > span{
	width : 25%;
	margin: 0px 25px;
	float: none;
	vertical-align: top;
}
.seds .about p {
	margin: 25px 0px;
}
.seds #sedsBreakdown h3 {
	border-bottom: none;
	text-transform: none;
	padding-bottom: 0px;
}
.seds #sedsAboutLinks li {
	list-style-type: square;
}

.indent-1 {
	padding-left: 48px !important;
}
#rankings_table {
	margin-top: 0px;
	margin-bottom: 10px;
	width: 100%;
}
.print_profile {
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #DADADA;
	margin-bottom: 13px;
	padding: 4px 13px 4px 17px;
}
.ico_print {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	/*background-position: right bottom;*/
	padding-left: 24px !important;
}
.popup_wrapper{
	display: none;
}

#rankings_selection ul, #rankings_sources ul {
	/*list-style-type: none;*/
	margin-bottom: 12px;
	/*margin-left: 0;*/
}
/*#rankings_selection ul ul {
	margin-left: 1.5em;
}*/

#byFuel > h3, #summaryReports > h3 {
	border-bottom: none;
	margin-bottom: 0px;
	padding-top: 0px;
}

#byFuel, #summaryReports {
	margin-top: 10px;
}

#byFuel {
	border-right: 1px solid #dadada;
	padding-right: 28px;
}
#rankings_selection.grey_side h5, #rankings_sources.grey_side h5 {
	font-size: 12px;
	margin-bottom: 0px;
	font-weight: bold;
}
#state_list_inc_us_popup, #state_list_exc_us_popup, #state_terr_list_exc_us_popup, #region_overview_popup {
	font-size: 16px !important;
	line-height: 1.5em;
	padding: 5px;
}
#state_list_inc_us_popup p, #state_list_exc_us_popup p, #state_terr_list_exc_us_popup p, #region_overview_popup p {
	font-size: 16px !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
	display: none;
}
#analysisPage .analysis .right {
	width: 675px;
}

#analysisPage .analysis .left {
	width: 210px;
	color: #003975;
}

.summary td {
	font-weight: bold;
}
.update p {
	font-size: 11px;
	color: #7d7d7d;
}

.textRight {
	text-align: right;
}

#analysisPage .analysis h2 {
	margin-top: 26px;
	border-top: 1px solid #666666;
	padding-top: 20px;
  }
#analysisPage .analysis h2:first-of-type {
	border-top: none;
	margin-top:0px;
	padding-top: 6px;
}
/* miroslava.vomela@eia.gov - 2013-11-07
.pullquote {
	float:right; 
	position:relative; 
	margin:0 0 15px 20px; 
	padding:10px 10px 10px 0px; 
	border-left: 3px solid #189bd7;
	width:27%;
	height:auto;
	color: #777777;
}

.pullquote p {
	font-size:1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0px 10px 0px 30px;
	margin-bottom:0px;
	text-indent: -.9em;
}

.pullquote p:before {
	content: open-quote;
	top: .3em;
	left: 0em;
}
.pullquote p:after {
	content: close-quote;
	top: .3em;
}
.pullquote p:before, .pullquote p:after{
	font-size: 2.25em;
	line-height: 0em;
	position: relative;
	color: #189bd7;
}

*/

/* Christian.stauffer@eia.gov 2013-12-10 */
.pullquote {
	float:right; 
	position:relative; 
	margin:-4px 0 15px 20px; 
	padding:0px 10px 10px 0px; 
	border-left: 2px solid #eee;
	width:27%;
	height:auto;
	/*color: #777777;*/
	color:#189bd7;
}

.pullquote p {
	font-size:1.25em;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0px 10px 0px 20px;
	margin-bottom:0px;
	font-style:italic;
	/*text-indent: -.9em;*/
}

.pullquote p:before, .pullquote p:after{
	font-size: 2.25em;
	line-height: 0em;
	position: relative;
	color: #189bd7;
}
/*
.pagecontent .main_col h1 {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	border-bottom: none;
	/*border-top: 1px solid #333333;
}

div.main_col > h1:nth-child(1) {
	/*color:red;
	border-top: none !important;
	margin-top: 0px !important;
	}
/*div.analysis > h1:nth-child(1) {
	color:blue;
	border-top: none !important;
	margin-top: 0px !important;
	}*/
	
/* kips new code below --------------------------------------- */	

#layerinfo {
	margin-top: 5px;
	margin-left: 5px;
	font-size:14px;
}
#layerinfo_img {
    border-style: none;
	vertical-align:middle;
}