#parentMapContainer {
	height: 400px;
	margin-top: 25px;
}

#mapContainer {
	height: 100%;
}

#rankings_selection .left {
	width: 50%;
}
#rankings_selection .right {
	width: 50%;
}

.ranking_side_col {
	float: right;
	width: 425px;
	margin-right: 0px;
	display: block;
}

.rankingsTable .odd td {
	background-color: white;
}

.rankingsTable {
	width: 100%;
}

.map_legend_marker {
	display: inline-block;
	margin: 2px 1.5em 2px 1.5em;
	height: 1.5em;
	width: 1.5em;
}
#map_legend {
	width: auto;
	margin: 0 auto;
	text-align: center;
}
#map_legend span {
	float: none;
}
.marker_container {
	white-space: nowrap;
	text-align: left;
	display: block;
}
.jvectormap-zoomin, .jvectormap-zoomout {
	display: none;
}

#largeMapContainer {
	display: none;
	height: 500px;
	width: 800px;
}
.jvectormap-label {
	z-index: 1103;
}

#rankingTableHeader {
	height: 22px;
	background-color: #F4F4F4;
	/*background-color: #DFF2FB;*/
	padding: 5px 25px;
}
@media print {
	#rankings_selection, #largeMapContainer {
		display: none;
	}
	
	.ranking_side_col {
		float: left;
		width: 100%;
	}
	
	.map_legend_marker {
		-webkit-print-color-adjust: exact;
	}
	
	#map_legend {
		margin-top: 75px;
		float: right;
	}
	#mapTitle {
		clear: both;
	}
	#mapContainer {
		float: left;
		height: 400px;
		width: 400px;
	}
}