.mr_temp2 .main_col {
  width: 630px;
}
.side_col {
  margin-right: 22px;
  margin-top: 4px;
}
.side_col div.blue_top{
  border-top-width: 3px;
  padding-top: 6px;
}
.side_col > div {
  margin-bottom: 40px;
}

.mr_temp2 .aeo_footer {
  margin-top: 60px;
}

/*---text styles-----*/
.mr_temp2 .main_col h1 {
  font-size: 19pt;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.mr_temp2 .main_col h2 {
  color: #666666;
  font-size: 13.5pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #dadada;
}
.mr_temp2 .main_col h1+h2 {
  border-top: none;
  padding-top: 0px;
  margin-top: 16px;
}
.mr_temp2 .main_col h2 a, .mr_temp2 .main_col a h2 {
  color: #189bd7;
}
.mr_temp2 .main_col h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #9d9d9d;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px;
  margin-top: 2px;
}
.mr_temp2 .main_col h3 {
  text-transform: none;
  font-style: italic;
}
.mr_temp2 .main_col h3+h3 {
  padding-bottom: 8px;
  line-height: 1em;
}
.mr_temp2 .main_col h2+h3.author {
  text-transform: uppercase;
  font-style: normal;
}
.mr_temp2 .main_col h2+h3.author:before {
  content:"By ";
  text-transform: none;
}
.mr_temp2 .main_col h4 {
  margin-bottom: 2px !important;
  margin-top: 8px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 11pt;
}
.mr_temp2 .main_col h4:before {
  content:"tags: ";
}
.mr_temp2 .main_col h4 a{
  color: #189bd7;
}
.side_col h4, #full_intro h4, .mr_temp2.if_article .side_col h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 19pt;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}
.mr_temp2 .main_col p, .side_col p, #full_intro p, #full_intro li,
.mr_temp2.if_article .main_col p, .mr_temp2.if_article .main_col ul li, .mr_temp2.if_article .main_col ol li {
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
}
.side_col p {
  margin-top: 8px;
}
.mr_temp2 .main_col h3+p, .mr_temp2 .main_col h2+p {
  margin-top: 4px;
}
.side_col h4+p, #full_intro h4+p {
  margin-top: 0px;
}
#full_intro ul li {
  margin-top: 6px;
}
#full_intro ul li:first-child {
  margin-top: 4px;
}

/*--end text styles--*/

#full_intro {
  width: 600px;
  height: auto;
  padding: 30px;
}

/*--tab styles-------*/
.side_col h4+div.page_tabs {
  margin-top: 6px;
}
.side_col .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.side_col .page_tabs hr {
  margin: -1px 0 0 0;
  background: #949494;
}
.side_col .ui-state-default, .ui-widget-content .ui-state-default {
  background-color: #ffffff;
  border: none;
}
.side_col .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #999999;
  font-style: italic;
}
.side_col .ui-state-default.ui-state-hover a {
  color: #189bd7;
}
.side_col .page_tabs .ui-state-active, .ui-widget-content .ui-state-active {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #949494;
  border-bottom: none;
  padding-bottom: 0px;
  font-style: italic;
}
.side_col .ui-tabs .ui-tabs-nav li a {
  padding: .25em .5em .15em .5em;
}
.side_col .page_tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #333333;
}
.side_col .ui-tabs .ui-tabs-panel {
  border: none;
  padding: 0;
}
.side_col .ui-tabs .ui-tabs-panel p {
  border-top: 1px dashed #dadada;
  padding-top: 6px;
  margin-top: 6px;
}
.side_col .ui-tabs .ui-tabs-panel p:first-child {
  border-top: none;
}

/*--end tab styles---*/


/*--article layout styles-------*/

div.pagecontent.mr_temp2.if_article {
  width: 958px;
  margin: 0px;
  margin: 0px auto;
}
.mr_temp2.if_article .main_col {
  width: 630px;
}
.if_header {
  margin: 0px 22px 30px 22px;
  padding-top: 10px;
  border-top: 4px solid #189bd7;
  display: table;
  width: 916px;
}
.if_header img {
  display: table-cell;
  margin-right: 12px;
}
.if_header > div {
  display: table-cell;
  width: 840px;
  vertical-align: top;
}
.mr_temp2.if_article .side_col > div.blue_top:first-child {
  border-top: none;
}
.mr_temp2.if_article .side_col .author_section {
  margin-bottom: 80px;
}
.mr_temp2.if_article .side_col .author_section > div {
  border-bottom: 1px dashed #dadada;
  padding-bottom: 12px;
  margin-bottom: 12px;
  margin-top: 6px;
}
.mr_temp2.if_article .side_col .author_section > p+div {
  margin-top: 24px;
}
.mr_temp2.if_article .main_col img {
  width: 600px;
  border: 1px solid #cccccc;
  margin: 20px 0 10px 0;
}
.mr_temp2.if_article .main_col a.ico_xls+img, .mr_temp2.if_article .main_col a.ico_xls+br+img {
  margin-top: 30px;
}
.mr_temp2.if_article .main_col p.release+img {
  border: none;
  padding: 0;
  width: 630px;
}
.mr_temp2.if_article .side_col div.acronyms > div {
  height: 200px;
  overflow: auto;
}
.mr_temp2.if_article .side_col div.acronyms p {
  margin-right: 2px;
}
.mr_temp2.if_article .side_col div.comments > p, .comments_form p {
  margin-bottom: 14px;
}
.comments iframe {
  min-height: 370px;
  height: auto;
  width: 240px;
}
.comments_form, .comment_response {
  margin: 0;
}
.comments_form p, .comments_form em, .comment_response p, .comment_response h2 {
  font-size: 10.5pt;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  margin: 0 0 12px 0;
}
.comment_response h2 {
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: 6px;
}
.comments_form em {
  font-size: 10pt;
  margin: 0;
}
.comments_form input, .comments_form select, .comments_form textarea {
  width: 240px;
  margin: 2px 0 14px 0;
  padding: 0px;
  border: 1px solid #bababa;
}
.comments_form input {
  height: 20px;
}
.comments_form label {
  font-style: italic;
  font-weight: bold;
  font-size: 10.5pt;
  font-family: Arial, Helvetica, sans-serif;
}
.comments_form button {
  width: 164px;
  margin-left: 38px;
  border: 1px solid #00405d;
  background-color: #7496a6;
  color: #ffffff;
  font-weight: bold;
  font-size: 10.5pt;
  padding: 6px;
  cursor: pointer;
}
.mr_temp2.if_article .side_col .comments hr {
  margin: 14px 0px 14px 0px;
  background-color: #bababa;
}
.mr_temp2.if_article .side_col .comments > div {
  border-top: 1px dotted #bababa;
  border-bottom: 1px solid #bababa;
  height: 200px;
  overflow: auto;
  margin-top: 6px;
}
.mr_temp2.if_article .side_col .social > div {
  display: table-row;
}
.mr_temp2.if_article .side_col .social > div > div {
  display: table-cell; 
}
.mr_temp2.if_article .side_col .social > div > div:first-child {
  padding-right: 30px;
}
.mr_temp2.if_article .side_col .social > div p .ico_print {
  background-position: 0px 0px;
  margin-top: 10px;
  font-weight: bold;
}
.mr_temp2.if_article .side_col .social > div .ico_print.print_button, .mr_temp2.if_article .side_col .social > div .ico_print.print_button:visited {
  cursor: pointer;
  color: #189bd7;
}

/*--end article layout styles---*/


/*--article text styles---------*/
.mr_temp2.if_article > h4 {
  display: block;
  border-bottom: 1px solid #189bd7;
  text-transform: uppercase;
  color: #189bd7;
  margin: 0 22px;
  padding-bottom: 6px;
}

.if_header div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #189bd7;
  border: none;
  padding: 0px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0px;
  margin-top: 6px;
}
.if_header div p {
  font-size: 8pt;
  color: #9d9d9d;
  margin-bottom: 0px;
  line-height: 1.2em;
}
.mr_temp2.if_article .main_col h1 {
  border-bottom: none;
  line-height: 1.25em;
  font-weight: bold;
}
.mr_temp2.if_article .main_col p, .mr_temp2.if_article .main_col ul li, .mr_temp2.if_article .main_col ol li {
  line-height: 1.75em;
}
.mr_temp2.if_article .main_col p.author, .mr_temp2.if_article .main_col p.author+p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #9d9d9d;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px;
  margin-top: 2px;
  font-weight: bold;
  line-height: 1.5em;
}
.mr_temp2.if_article .main_col p.author {
  text-transform: uppercase;
  font-style: normal;
}
.mr_temp2.if_article .main_col h1+p.author:before {
  content:"By ";
  text-transform: none;
}
.mr_temp2.if_article .main_col p.author+p.release {
  font-style: italic;
}

.mr_temp2.if_article .main_col h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
}
.mr_temp2.if_article .main_col h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  color: inherit;
  font-style: normal;
  margin-top: 14px;
  line-height: 1.5em;
}
.mr_temp2.if_article .main_col h2+p, .mr_temp2.if_article .main_col h3+p {
  margin-top: 0px;
}
.mr_temp2.if_article .main_col h4:before {
  content: none;
}
.mr_temp2.if_article .main_col h4 {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px !important;
  margin-top: 14px;
}
.mr_temp2.if_article .main_col h4+ol li:first-child {
  margin-top: 0px;
}
.mr_temp2.if_article .main_col table.basic_table tr th,
.mr_temp2.if_article .main_col table.basic_table tr td {
  font-size: 10.5pt;
}
.mr_temp2.if_article .main_col table tfoot tr.total td {
  font-size: inherit;
}
.mr_temp2.if_article .main_col p a.endnotes, .mr_temp2.if_article .main_col li a.endnotes {
  font-weight: bold;
  cursor: pointer;
}

.mr_temp2.if_article .side_col div.blue_top.author_section div p:first-child,
.mr_temp2.if_article .side_col div.pull_quote p:first-child {
  margin-top: 0px;
}
.mr_temp2.if_article .side_col div.pull_quote {
  padding: 20px;
  background-color: #dff2fb;
}
.mr_temp2.if_article .side_col div.pull_quote p {
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 17pt;
  font-weight: normal;
  font-style: italic;
  color: #00405d;
  line-height: 1.4em;
}
.mr_temp2.if_article .side_col div.pull_quote p:first-child:first-letter {
  font-size: 200%;
  line-height: 1em;
}
.mr_temp2.if_article .side_col .author_section p.author {
  font-weight: bold;
  color: #666666;
  font-size: 12pt;
}
.mr_temp2.if_article .side_col .author_section p.author em {
  font-weight: normal;
  color: #333333;
  font-size: 10.5pt;
}
.mr_temp2.if_article .side_col .author_section p.author+p {
  font-size: 10pt;
  margin-top: 0px;
}
.mr_temp2.if_article .side_col .author_section > p {
  font-size: 10pt;
}
.mr_temp2.if_article .side_col .author_section div.author_photo {
  display: table;
  width: 100%;
  border-bottom: none;
  padding-bottom: 0px;
}
.mr_temp2.if_article .side_col .author_section div.author_photo img {
  display: table-cell;
  width: 75px;
}
.mr_temp2.if_article .side_col .author_section div.author_photo > div {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 10px;
  min-width: 155px;
}
.mr_temp2.if_article .side_col .author_section div.author_photo + p.email {
  border-bottom: 1px dashed #dadada;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.mr_temp2.if_article .side_col .comments h5 {
  font-size: 14.5pt;
  font-weight: normal;
  margin-bottom: 4px;
}
.mr_temp2.if_article .side_col .comments div span {
  border-top: 1px dotted #bababa;
  display: block;
  margin-top: 8px;
}
.mr_temp2.if_article .side_col .comments div span:first-child {
  margin-top: 0;
}
.mr_temp2.if_article .side_col .comments div span p {
  font-size: 10pt;
  padding: 2px 0 0 0;
  margin: 0;
  line-height: 1em;
}
.mr_temp2.if_article .side_col .comments div span p:first-child {
  padding: 8px 0 2px 0;
  margin: 0;
}
.mr_temp2.if_article .side_col .comments div span:first-child {
  border-top: none;
}
.mr_temp2.if_article .side_col .comments div p em {
  font-family: "Times New Roman", Times, serif;
}
.mr_temp2.if_article .side_col .comments div blockquote {
  margin: 4px 4px 10px 20px;
  padding-left: 10px;
  border-left: 1px solid #dddddd;
  color: inherit;
}
/*--end article text styles-----*/

/* This somehow overrides the style: "html { overflow-y: scroll; }"" in /global/styles/EIA_global.css, which was causing duplicate scrollbars in Fancybox e.g. at http://www.eia.gov/forecasts/aeo/section_issues.cfm#tight_oil -SNW */
body {
  overflow-y:hidden;
}