.mr_temp1 .main_col h1 {
  font-size: 19pt;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.mr_temp1 .main_col h2 {
  color: #666666;
  font-size: 13.5pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #dadada;
}
.mr_temp1 .main_col h1+h2 {
  border-top: none;
  padding-top: 0px;
  margin-top: 16px;
}
.mr_temp1 .main_col h2 a, .mr_temp1 .main_col a h2 {
  color: #189bd7;
}
.mr_temp1 .main_col h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #9d9d9d;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px;
  margin-top: 2px;
}
.mr_temp1 .main_col h3 {
  text-transform: none;
  font-style: italic;
}
.mr_temp1 .main_col h3+h3 {
  padding-bottom: 8px;
  line-height: 1em;
}
.mr_temp1 .main_col h2+h3.author {
  text-transform: uppercase;
  font-style: normal;
}
.mr_temp1 .main_col h2+h3.author:before {
  content:"By ";
  text-transform: none;
}
.mr_temp1 .main_col h4 {
  margin-bottom: 2px !important;
  margin-top: 8px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 11pt;
}
.mr_temp1 .main_col h4:before {
  content:"tags: ";
}
.mr_temp1 .main_col h4 a{
  color: #189bd7;
}
.mr_temp1 .main_col p, .mr_temp1 .main_col ul li, .mr_temp1 .main_col ol li {
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
}
.mr_temp1 .main_col img {
  width: 600px;
  border: 1px solid #cccccc;
  margin: 20px 0 10px 0;
}
.mr_temp1 .main_col a.ico_xls+img, .mr_temp1 .main_col a.ico_xls+br+img {
  margin-top: 30px;
}
.mr_temp1 .main_col p.release+img {
  border: none;
  padding: 0;
  width: 630px;
}
.mr_temp1 > h4 {
  display: block;
  border-bottom: 1px solid #189bd7;
  text-transform: uppercase;
  color: #189bd7;
  margin: 0 22px;
  padding-bottom: 6px;
}
/*
.mr_temp1 .main_col h1 {
  border-bottom: none;
  line-height: 1.25em;
  font-weight: bold;
}
*/
.mr_temp1 .main_col p, .mr_temp1 .main_col ul li, .mr_temp1 .main_col ol li {
  line-height: 1.75em;
}
.mr_temp1 .main_col p.author, .mr_temp1 .main_col p.author+p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #9d9d9d;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px;
  margin-top: 2px;
  font-weight: bold;
  line-height: 1.5em;
}
.mr_temp1 .main_col p.author {
  text-transform: uppercase;
  font-style: normal;
}
.mr_temp1 .main_col h1+p.author:before {
  content:"By ";
  text-transform: none;
}
.mr_temp1 .main_col p.author+p.release {
  font-style: italic;
}

.mr_temp1 .main_col h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
}
.mr_temp1 .main_col h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  color: inherit;
  font-style: normal;
  margin-top: 14px;
  line-height: 1.5em;
}
.mr_temp1 .main_col h2+p, .mr_temp1 .main_col h3+p {
  margin-top: 0px;
}
.mr_temp1 .main_col h4:before {
  content: none;
}
.mr_temp1 .main_col h4 {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  padding: 0px;
  line-height: 2em;
  margin-bottom: 0px !important;
  margin-top: 14px;
}
.mr_temp1 .main_col h4+ol li:first-child {
  margin-top: 0px;
}
.mr_temp1 .main_col table.basic_table tr th,
.mr_temp1 .main_col table.basic_table tr td {
  font-size: 10.5pt;
}
.mr_temp1 .main_col table tfoot tr.total td {
  font-size: inherit;
}
.mr_temp1 .main_col p a.endnotes, .mr_temp1 .main_col li a.endnotes {
  font-weight: bold;
  cursor: pointer;
}

