@charset "utf-8";
/* CSS Document */ 

P{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H1{
	FONT-SIZE: 18pt;
	FONT-WEIGHT: normal;
	COLOR: #ffc553;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H2{
	FONT-SIZE: 12pt;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H3{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H4{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #00aa00;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H6{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #aa0000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	display: none;
}
.kidsonly {
	display:none;
	background-color: #F00000;
}
.adultsonly {

}
.footnote-or-source {
	font-size: 66%;
	clear: both;
}
.superscript {
	font-size: 66%;
	position: relative;
	bottom: .6em;
}
.subscript {
	font-size: 66%;
	position: relative;
	top: .4em;
}

ul {
	list-style-type: none;
	padding: 0em;
	margin: 0em;
}

ul li {
	background-image: url(../images/style-images/sqbullet.gif);
	background-repeat: no-repeat;
	background-position: .1em .4em;
	//background-position: .1em .6em;
	padding-left: 1em;
	font-size: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

/* did you know callout box styles */


div.callout {
	padding: 10px 10px 10px 10px;
	background: #fffeee url(../images/style-images/dyk-bg.png) repeat-x top left;
	border: dotted 1px #ffc553;
	width: 245px;
	display: inline-block;
	margin: 7px 0px 10px 10px;
	clear: both;
}

div.callout h2 {
	margin-top: 0px;
	padding-top: 0px;
}
div.callout p {
	margin-bottom: 0px;
	padding-bottom: .9em;
}

.did-you-know {
	padding: 10px 10px 10px 10px;
	background: #fffeee url(../images/style-images/dyk-bg.png) repeat-x top left;
	border: dotted 1px #ffc553;
	width: 250px;
	//width: 251px;
	display: block;
	float: right;
	margin: 7px 0px 10px 10px;
	clear: right;
	position:relative;
}

.did-you-know a:link img {
	border: none;
}

.did-you-know h4 {
	color: #000;
	margin-top: 0px;
	padding-top: 0px;
}
.did-you-know p {
	margin-bottom: 0px;
	padding-bottom: .9em;
}

/* -----------------------------------------------  */

/* image and chart classes */

.image {
	display: block;
	border: 1px dotted #ccc;
	text-align: center;
	padding: 3px;
	margin: 10px 10px 10px 0px;
	clear: both;
}

.image a:link img, .image a:visited img  {
	border: none;
}
/* alignment classes for use with images, charts, maps */

.left {
	padding: 3px;
	max-width: 273px;
	width: auto;
	float: left;
	margin: 0px 10px 10px 0px;
	clear: both;
}
.right {
	padding: 3px;
	max-width: 273px;
	width: auto;
	float: right;
	margin: 0px 0px 10px 10px;
	clear: both;
}
.large {
	padding: 3px;
	max-width: 700px;
	width: auto;
	margin: 0px 10px 10px 0px;
	clear: both;
	border: none;
}
.left-large {
	padding: 3px;
	max-width: 500px;
	width: auto;
	float: left;
	margin: 0px 0px 10px 0px;
	clear: both;
	text-align: left;
}
.image-title {
	text-align: left;
	max-width: 265px;
	//width: 265px;
	padding-bottom: 3px;
}

.image-caption {
	text-align: left;
	max-width: 265px;
	//width: 265px;
	padding-top: 3px;
}

.image-enlarge {
	text-align: left;
	padding-right: 3px;
}

.left-large .image-title {
	text-align: left;
	width: auto;
	max-width: 490px;
	padding-bottom: 3px;
}

.left-large .image-caption {
	text-align: left;
	width: auto;
	max-width: 490px;
	padding-top: 3px;
}

.portrait {
	max-width: 200px;
	//width: 200px;
}

.wide {
	text-align: center;
	width: auto;
	max-width: none;
	padding-bottom: 3px;
}
.wide-lalign {
	width: auto;
	max-width: none;
	padding-bottom: 3px;
}

.donotclear {
	clear: none;
}
.clearright {
	clear: right;
}
.spacer {
	width:auto;
	min-height:330px;
	border:none;
	clear:right;
}

/* -----------------------------------------------  */

#heavyedit {
	padding: 10px 10px 10px 10px;
	background: #ff0000;
	border: solid 3px #ff0000;
	width: 98%;
	display: inline-block;
	float: right;
	margin: 7px 0px 10px 10px;
	font-weight: bold;
	color: white;
	font-size: 14pt;
}

.lightedit {
	padding: 10px 10px 10px 10px;
	background: #ddd;
	border: solid 3px #888;
	width: 90%;
	display: none;
	position: relative;
	/*float: right;*/
	margin: 7px 0px 10px 10px;
	font-weight: bold;
	color: black;
	font-size: 14pt;
}

.A {
	background: #0a0;
	color: white;
}
.B {
	background: #7C2;
	color: white;
}
.C {
	background: #ed0;
	color: #444;
}
.D {
	background: #F80;
	color: BLACK;
}
.F {
	background: #D00;
	color: white;
}
.cep {
	overflow:hidden;
}

.cep iframe {
	margin-top:-155px;
}

#outreach-image {
	margin: 45px 5px 10px 13px;
}
.outreach-code {
	font-size:9pt;
	background-color:#f0f0f0;
	border-width:1px;
	border-color:#bbb;
	border-style:solid;
}

.printonly {
	display: none;	
}

.updatedDate {
	float: left;
	margin-top: 19px;
}
a {text-decoration:none;}