@charset "utf-8";
/* CSS Document */ 




/* -------------------------- */
body {
	background-color: #185088;
	background: url(https://www.eia.gov/energyexplained/images/style-images/blue-bg.gif) repeat;
/*	margin : 20px;*/
	margin-top : 0px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;

}
#content {
	background-color: #ffffff;
	border: 1px solid #042a50;
	width: 950px;
	clear: both;
	padding: 0px;
/*	background: #aabbdd;
	background-image: url(../images/style-images/bg-blue-fade.jpg);
	background-repeat: repeat-x;*/
}

#page-frame {
	/*margin-right: 3px;*/
	height: auto;
	border : 1px dotted #666;
}

#home-header {
	//margin-bottom: -3px;
}

#feature-section {
	//margin-bottom: -3px;
}

div.main {
	clear: both;
	position: relative;
	padding: 0px;
	width: 730px;
	background:url(https://www.eia.gov/energyexplained/images/style-images/bg.png) repeat-x;
	background-color: #fff;
}

#pagetitle {
	padding: 0px;
	margin: 0px;
	height: 96px;
	background-repeat: no-repeat;
}

.pgtitle {
	padding-left: 85px;
	padding-bottom: 0px;
	padding-top: 66px;
	COLOR: #fff;
	font-family: arial;
	font-style: italic;
}

#content a:link {
	color: #009;
	/*background-image: none;*/
}

#content ul li a:link {
	/*background-image: none;*/
	}

#content a:hover {
	color: #990000;
	text-decoration:underline;
}

#content table tr td a {
	color: #009;
	text-decoration:none;
}

#tabs {

	margin : 0;
	padding-bottom : 0px;
	padding-left: 5px;
	padding-right: 0px;
	height: 29px;

/*
	padding-left : 50px;
	border-bottom : 1px solid #ccc;
*/
}

#tabs a:link, #tabs a:visited	{
/*	background : #E8EBF0;
	border-left: dotted 1px  #039;
	border-right: dotted 1px #fff;
	border-top: dotted 1px #039;
		
	border : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
*/
	color: #fff;
	float : left;
	font-size : 12pt;
	font-weight : normal;
	line-height : 14px;
/*	margin-right : 8px;
	
	padding : 2px 10px 2px 10px;
*/
	text-decoration : none;
}

#tabs li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#empty {
	display : inline;
	list-style-type: none;
	margin-bottom: 10px;
	padding: 0;
	height: 29px;
}

#tabs li.tabactive a, #tabs li.tabactive a:link, #tabs li.tabactive a:hover, #tabs li.tabactive  a:visited {
	background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-L.png) left bottom no-repeat;
	// background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-L12.png) left bottom no-repeat;

	
/*	// background: transparent url(../images/style-images/Tab-Lie.png) left bottom no-repeat;
	background:url(../images/style-images/bg-on.png) repeat-x; */
	padding : 12px 12px 8px 12px;
	// padding : 12px 12px 8px 17px;
		margin-right:-6px;
/*	//padding-bottom: 0px;
	//padding-top:2px;
	background : #fff;
	
	border-bottom : 1px solid #fff;
*/
	color : #000;
}
#tabs li.tabactive a span {
	background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-R.png) right bottom no-repeat;
	padding : 6px;
	margin-left:-6px;
	// margin-left:-12px;

    //padding-bottom: 0px;
    //padding-left: 6px;



/*		//margin-top: 8px;
	padding-right: 12px;*/
/*	height:30px;*/
/*	background:url(../images/style-images/bg-on.png) repeat-x;*/
/*	padding : 12px 12px 8px 12px;
	//padding-bottom: 8px;
	background : #fff;*/
}

#tabs li.tabactive a span b {
    background: #FFF; /*url(../images/style-images/bg-on.png) repeat-x;*/
	font-weight:normal;
	/*background: transparent url(../images/style-images/Tab-R.png) right bottom no-repeat;*/
	padding : 6px;
	margin-left:-6px;
	padding-right: 6px;
	height:30px;
	//padding-bottom: -6px;	
	
/*	//margin-top: 4px !important;
	background:url(../images/style-images/bg-on.png) repeat-x;*/
/*	padding : 12px 12px 8px 12px;
	//padding-bottom: 8px;
/*	background : #fff;*/
}

#tabs li.tabinactive a:link, #tabs li.tabinactive a:hover, #tabs li.tabinactive  a:visited {
	/*padding : 12px 12px 7px 12px;
	border-right: dotted 0px #fff;*/
	background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-inact-L.png) left bottom no-repeat;
	// background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-inact-L12.png) left bottom no-repeat;

	
/*	// background: transparent url(../images/style-images/Tab-Lie.png) left bottom no-repeat;
	background:url(../images/style-images/bg-on.png) repeat-x; */
	padding : 12px 12px 8px 12px;
	// padding : 12px 12px 8px 17px;
	margin-right:-6px;
/*	//padding-bottom: 0px;
	//padding-top:2px;
	background : #fff;
	
	border-bottom : 1px solid #fff;
*/
	color : #FFF;
}

#tabs li.tabinactive a span {
	background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-inact-R.png) right bottom no-repeat;
	padding : 6px;
	margin-left:-6px;
	// margin-left:-12px;
    //padding-bottom: 0px;
    //padding-left: 7px;
}
#tabs li.tabinactive a span b {
	background: transparent url(https://www.eia.gov/energyexplained/images/style-images/Tab-inact-bg.png) repeat-x;
	font-weight:normal;
	/*background: transparent url(../images/style-images/Tab-R.png) right bottom no-repeat;*/
	padding : 6px;
	margin-left:-6px;
	padding-right: 6px;
	height:30px;

    //padding-bottom: -6px;	
}


#tabs li.tabinactive a:hover span b {
	color: #FFF;
	text-decoration: underline;
}

div.panelactive {
	background : #fff;
	position: relative;
	clear : both;
	margin : 0px;
	margin-top: 0px;
	//margin-top: 1px; 
	padding : 15px;
	padding-top: 5px;
	//padding-right: 5px; 
	display: block;
	width:700px;
}

div.panelactive table{
	border-collapse: collapse;
	border: solid 1px #ccc;
}

div.panelinactive {
	display: none;
}

div.article-text {
	min-height:200px;	
}

div.menu {
/*
	background : #ddd;
	border : 1px dashed #ccc;
*/	
	margin-top: 0px;
	//margin-top: 0px;
	min-height:400px;
	width:220px; 
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
} 

.related {
	background: url(https://www.eia.gov/energyexplained/images/style-images/vert-fade.png) repeat-x top left;
	padding: 0px 10px 10px 20px;
	//padding : 10px 10px 10px 20px;
	margin: 0px;
	width: 100%;
	border-top: dotted 1px #2487ed;
}

div.related_topics {
	padding : 0px 10px 0px 20px;
	//padding-left: 0px;
	margin : 0px;
	position: relative;
	min-height: 75px;
	//height: 75px;
}
.brdrght {	border-right: dotted 1px #2487ed;}
div.related_other {
	padding : 0px;
	padding-left: 20px;
	margin : 0px;
	position: relative;
	min-height: 75px;
	//height: 75px;
	display: block;

}

#menu ul {
	margin-left: -18px;
	//margin-left: 20px;
	margin-top: 0pt;
	padding-top: 2pt;
}

#browse-menu {
	margin: 0pt;
	padding: 0pt 0pt 5pt 0pt;
}

td {
	vertical-align: top;
	font-size: 10pt;
}

th {
	vertical-align: top;
	text-align: left;
	font-size: 10pt;	
	background-color:#FFC;
}


.print-email-share {
	padding-top:10px;
	padding-bottom:5px;
	padding-right:5px;
}

#icon-line, #icon-line a:link, #icon-line a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;	
}

#icon-line a:hover{
	text-decoration: underline;
}

#icon-line img {
	margin-right: 2px;
	margin-bottom: 5px;
}

div.menu a:visited {
	color:#009;
}

#eialogo {
	/*width: 415px;*/
	position: relative;
	float: left;
	clear: both;
}

#search, .search {
	position: relative;
	/*width: 280px;*/
	float: right;
	text-align: right;
}
#search label {
	font-size: 8pt;	
}

#breadcrumbs {
	width: 100%;
	position: relative;
	float: left;
	clear: both;
	margin-bottom:-8px;
	//padding-bottom:16px;
}
#drillDeeperLinks table, #forwardBackwardLinks table, div.related-links table{
	border: none;
}
#forwardBackwardLinks {
	border-top: dotted 0px #dedede;
	/*margin-top: 10px;*/
	padding: 18px 12px 27px 7px;
	width: auto;
	position: relative;
	clear: both;
}
#drillDeeperLinks {
	/*border-top: dotted 0px #ccc;*/
	margin-top: 10px;
	padding: 0px 0px 10px 0px;
	width: auto;
	position: relative;
	clear: both;
}
#forwardBackwardLinks td {
	width: 50%;
}

td.upward-links {
	text-align: left;
}
td.downward-links{
	text-align: right;
}
a.backward-link {
	text-align:left;
	font-size : 12pt;
}
a.forward-link {
	text-align: right;
	font-size : 12pt;
}
a.upward-link {
	text-align:left;
	font-size : 11pt;
}
a.downward-link {
	text-align: right;
	font-size : 11pt;
}

.home-link {
	margin-top: 0px;
	margin-bottom: 1px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-top: dotted 1px #999;
	border-bottom: dotted 1px #999;
	background-color: #2487ed;
}

div.home-link a:link img, div.home-link a:visited img, div.home-link a:hover img {
	border: none;
}

.rightnav-split {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	//padding-top: 0px;
	padding-bottom: 1px;
	border-top: dotted 1px #999;
}

#rightnav-split {
	background-color: white;
	height: 6px;
	margin-left:-20px;
	//width: 220px;
	margin-bottom:-3px;
}


form {
	margin-top: 0px;
}

.activepage {
	position:absolute;
	margin-left: -20px;
	margin-top: -2px;
	z-index: 19;
}
.resourcefile {
	font-style: italic;
	font-size: 10pt;
}
p.resourcefile {
	text-align: right;
	clear: both;
}

P{
	padding-top: 1pt;
	margin-top: 0pt;
}
H1{
	padding: 4pt 0pt 2pt 0pt;
	margin-bottom: 0pt;
}
H2{
	padding: 4pt 0pt 1pt 0pt;
	margin-bottom: 0pt;
}
H3{
	padding: 4pt 0pt 1pt 0pt;
	margin-bottom: 0pt;
}
H4{
	padding-bottom: 0pt;
	margin-bottom: 0pt;	
}
H6{
	padding-bottom: 0pt;
	margin-bottom: 0pt;	
}

div.article-text form{
	margin-bottom:36px;	
}
div.article-text table{
	margin-bottom:6px;	
}
div.article-text table tr td, div.article-text table tr th{
	border-collapse: collapse;
	border: solid 1px #ccc;
	padding: 6px;
}
div.article-text table tr th{
	background: url(https://www.eia.gov/energyexplained/images/style-images/vert-fade.png) repeat-x top left;
	text-align:left;
}
div.article-text table tr td p, div.article-text table tr th h3{
	margin-bottom:0px;
	padding-top:4pt;
	margin-top:0;
}
div table.home, div table.feature {
	border: none;
	background: url(https://www.eia.gov/energyexplained/images/style-images/vert-fade.png) repeat-x top left;
	padding:5px 10px 10px 5px;
/*	border-top: dotted 1px #2487ed;*/
	margin-bottom: 15px;
}


/* Robert Ciconte ADDED */
.related-links b {font-weight:normal;}
#breadcrumbs b {font-weight:normal;}

#foot {/*margin:10px;*/border-top: 16px solid #d3e3ff;}
.NavBarRow2 a {color:#9eb5cb !important;}
.NavBarRow2 a:hover {color:#003466 !important;}

#print-hed {display: none;}
div table.noborder tr td, div table.noborder {border: none;}