@charset "utf-8";
/* CSS Document */ 




/* -------------------------- */

#donotprint {
	display: none;
	width: 0px;
	height: 0px;
}
#printonly {
	display: inline;	
}
#ratepage {
	display: none;
	width: 0px;
	height: 0px;	
}
#fdback {
	display: none;
	width: 0px;
	height: 0px;	
}
#rating {
	display: none;
	width: 0px;
	height: 0px;	
}

body {
	background-color: none;
	margin: 0in;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	height:auto;

}
#content {
	background-color: none;
	border: none;
	margin-right: 0in;
	margin-left: 0in;
	width: auto;
	clear: both;
	padding: 0px;
}

.article-text {background-color: none; clear:both;}

#feature-section {
	//margin-bottom: -3px;
}

div.main {
	clear: both;
	padding: 0px;
	width: auto;


	/*background:url(../images/style-images/bg.png) repeat-x;
	background-color: #fff;*/
}
#print-header {
	z-index:-100;
	position:absolute;
	margin:0px;
	padding:0px;
	/*display:none;*/
}

#pagetitle {
	padding: 0px;
	margin: 0px;
	height: auto;
	margin-top: 0px;
	padding-top: 110px;
	//padding-top: 125px;
}

#content a:link {
	color: #009;
}

#content a:hover {
	color: #990000;
}

#tabs {
	display: none;
}

div.panelactive {
	background-color : none;
	position: relative;
	clear : both;
	margin : 0px;
	margin-top: 0px;
	//margin-top: 1px; 
	padding : 15px;
	padding-top: 5px;
	//padding-right: 5px; 
	display: block;
	width:700px;
}

div.panelinactive {

	display: none;
}

div.panelactive table{
	border-collapse: collapse;
	border: solid 1px #ccc;
}

div.menu {
/*
	background : #ddd;
	border : 1px dashed #ccc;
*/	
	margin-top: 0px;
	//margin-top: 0px;
	min-height:400px;
	width:220px; 
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
} 
div.article-text table tr td, div.article-text table tr th{
	border-collapse: collapse;
	border: solid 1px #ccc;
	padding: 6px;
}
div.article-text table tr th{
	background: url(https://www.eia.gov/energyexplained/images/style-images/vert-fade.png) repeat-x top left;
	text-align:left;
}
div.article-text table tr td p, div.article-text table tr th h3{
	margin-bottom:0px;
	padding-top:4pt;
	margin-top:0;
}

#drillDeeperLinks table, #forwardBackwardLinks table, div.related-links table{
	border: none;
}
.related, div.related-links table {
	width: 100%;
	margin-bottom: 20px;
	border-top: dotted 1px #2487ed;
	clear:both;
}

div.related_topics {
	min-height: 75px;
	//height: 75px;
	border-right: dotted 1px #2487ed;
	clear:both;
}

#menu ul {
	margin-left: -18px;
	//margin-left: 20px;
	margin-top: 0pt;
	padding-top: 2pt;
}

#browse-menu {
	margin: 0pt;
	padding: 0pt 0pt 5pt 0pt;
}

td {
	vertical-align: top;
	font-size: 10pt;
}

th {
	vertical-align: top;
	text-align: left;
	font-size: 10pt;	
	background-color:#FFC;
}
.print-email-share {
	display: none;
	height: 0px;
	width: 0px;
}
#icon-line, #icon-line a:link, #icon-line a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;	
}

#icon-line a:hover{
	text-decoration: underline;
}

#icon-line img {
	margin-right: 2px;
	margin-bottom: 5px;
}

div.menu a:visited {
	color:#009;
}

#eialogo {
	width: 415px;
}

#search {
display: none;
width: 0px;
}
#search label {
	font-size: 8pt;	
}

#breadcrumbs {
display: none;
width: 0px;
}
.home-link {
	margin-top: 0px;
	margin-bottom: 1px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-top: dotted 1px #999;
	border-bottom: dotted 1px #999;
	background-color: #2487ed;
}

div.home-link a:link img, div.home-link a:visited img, div.home-link a:hover img {
	border: none;
}

.rightnav-split {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 1px;
	border-top: dotted 1px #999;
}

#rightnav-split {
	background-color: white;
	height: 6px;
	margin-left:-20px;
	margin-bottom:-3px;
}

table.home {
	/*background: url(../images/style-images/vert-fade.png) repeat-x top left;*/
	padding:0px;
	/*border-top: dotted 1px #2487ed;*/
	margin-bottom: 15px;
}

table.feature {
	background: url(https://www.eia.gov/energyexplained/images/style-images/vert-fade.png) repeat-x top left;
	padding:5px 10px 10px 5px;
	border: dotted 1px #2487ed;
	margin-bottom: 15px;
}
form {
	margin-top: 0px;
}
#drillDeeperLinks, #forwardBackwardLinks {
	display: none;
	clear:both;
}
#ratepage1, #ratepage2, #ratepage3, #ratepage4, #ratepage5 {
	display: none;
}
div.related_topics {
	display: none;
	width: 0in;
	clear:both;
}
.related td {
	width: auto;
	text-align: left;
}
P{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-top: 1pt;
	margin-top: 0pt;
}
H1{
	FONT-SIZE: 16pt;
	FONT-WEIGHT: bold;
	COLOR: #136dc5;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding: 4pt 0pt 0pt 0pt;
	margin-bottom: 0pt;
}
H2{
	FONT-SIZE: 12pt;
	FONT-WEIGHT: bold;
	COLOR: #136dc5;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding: 4pt 0pt 1pt 0pt;
	margin-bottom: 0pt;
}
H3{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding: 4pt 0pt 2pt 0pt;
	margin-bottom: 0pt;
}
H4{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #00aa00;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-bottom: 0pt;
	margin-bottom: 0pt;	
}
H6{
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #aa0000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-bottom: 0pt;
	margin-bottom: 0pt;	
	display: none;
}
.kidsonly {
	display:none;
	background-color: #F00000;
}
.adultsonly {

}
.footnote-or-source {
	font-size: 66%;
	clear:both;
}
.superscript {
	font-size: 66%;
	position: relative;
	bottom: .6em;
}
.subscript {
	font-size: 66%;
	position: relative;
	top: .4em;
}
li {
	list-style: square;
	font-size: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

/* image and chart classes */
.image a:link img, .image a:visited img{
	border:none;
}

/* image and chart classes */

.image {
	display: block;
	border: 1px dotted #ccc;
	text-align: center;
	padding: 3px;
	margin: 10px 10px 10px 0px;
	clear: both;
	background-color:#fff;
}

.image a:link img, .image a:visited img  {
	border: none;
}
/* alignment classes for use with images, charts, maps */

.left {
	padding: 3px;
	max-width: 273px;
	width: auto;
	float: left;
	//float:none;
	margin: 0px 10px 10px 0px;
	clear: both;
	

}
.right {
	padding: 3px;
	max-width: 273px;
	width: auto;
	float: right;
	margin: 0px 0px 10px 10px;
	clear: both;
}
.large {
	padding: 3px;
	max-width: 700px;
	width: auto;
	margin: 0px 10px 10px 0px;
	clear: both;
	border: none;
}
.left-large {
	padding: 3px;
	max-width: 500px;
	width: auto;
	float: left;
	margin: 0px 0px 10px 0px;
	clear: both;
	text-align: left;
}
.image-title {
	text-align: left;
	max-width: 265px;
	//width: 273px;
	padding-bottom: 3px;
}

.image-caption {
	text-align: left;
	max-width: 265px;
	//width: 273px;
	padding-top: 3px;
}

.image-enlarge {
	display: none;
}

.left-large .image-title {
	text-align: left;
	width: auto;
	max-width: 490px;
	padding-bottom: 3px;
}

.left-large .image-caption {
	text-align: left;
	width: auto;
	max-width: 490px;
	padding-top: 3px;
}

.portrait {
	max-width: 200px;
	//width: 200px;
}

.wide {
	text-align: center;
	width: auto;
	max-width: none;
	padding-bottom: 3px;
}
.wide-lalign {
	width: auto;
	max-width: none;
	padding-bottom: 3px;
}

.donotclear {
	clear: none;
}
.clearright {
	clear: right;
}
.spacer {
	width:auto;
	min-height:330px;
	border:none;
	clear:right;
}

.lightedit {
	display: none;
}

.did-you-know {
	padding: 10px 10px 10px 10px;
	background: #fffeee url(https://www.eia.gov/energyexplained/images/style-images/dyk-bg.png) repeat-x top left;
	border: dotted 1px #ffc553;
	width: 251px;
	//width: 273px;
	display: inline-block;
	float: right;
	margin: 7px 0px 10px 10px;
	clear:both;
}

.did-you-know h4 {
	color: #000;
	margin-top: 0px;
	padding-top: 0px;
}
.did-you-know p {
	margin-bottom: 0px;
	padding-bottom: .9em;
}

div#print-hed { display: none; }
/* -----------------------------------------------  */