@charset "utf-8";
/* CSS Document */

#ratepage1, #ratepage2, #ratepage3, #ratepage4, #ratepage5 {
	font-size: 10pt;
	display: block;
	background-color: #FFFfff;
	padding: 0px 10px 5px 10px;
	margin-top: -10px;
	//float:right;
	/*margin-right: 7px;*/
	//margin-right: 5px;
}
#rtext, #rtext1, #rtext2, #rtext3, #rtext4, #rtext5, #rtextav1, #rtextav2, #rtextav3, #rtextav4, #rtextav5 {
	font-size: 10pt;
	font-weight: normal;
	vertical-align: super;
	//margin-bottom: 6px;
	//padding-right: 2px;
	position: relative;
	display: inline;
}

#ratepage1 form img, #ratepage2 form img, #ratepage3 form img, #ratepage4 form img, #ratepage5 form img {
	position: relative;
	z-index: 200;
}

#ratepage1 input, #ratepage2 input, #ratepage3 input, #ratepage4 input, #ratepage5 input {
	position: relative;
	z-index: 10;
}

#rate1, #rate2, #rate3, #rate4, #rate5  {
	background-color: #2487ed;
	width: 0px;
	height: 25px;
	z-index: 100;
	position: absolute;
	display:inline;
}

#fdback1, #fdback2, #fdback3, #fdback4, #fdback5  {
	width: 200px;
	background-color: #EBEBEB;
	border: 1px solid #CCC;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	position: relative;
	display: none;
	font-size: 10pt;
}
#fdback1 p, #fdback2 p, #fdback3 p, #fdback4 p, #fdback5 p  {
	padding-bottom: 0px;
	margin-bottom: 5px;
}

#close-box1, #close-box2, #close-box3, #close-box4, #close-box5 {
	border: solid 1px #CCC;
	width: 15px;
	height: 15px;
	float: right;
	text-align: center;
	color:#666;
	line-height: 10px;
	cursor:pointer;
}