.mr_temp4 h3 {
    border-bottom: none;
    padding-top: 0px;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height,  width;
    -moz-transition-property: height,  width;
    -ms-transition-property: height,  width;
    -o-transition-property: height,  width;
    transition-property: height,  width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform,  opacity;
    -moz-transition-property: -moz-transform,  opacity;
    -ms-transition-property: -ms-transform,  opacity;
    -o-transition-property: -o-transform,  opacity;
    transition-property: transform,  opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item {
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
.isotope.infinite-scrolling {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
a.rounder {
    color:#fff;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 2px solid #CCCCCC;
    /*margin: auto;*/
	margin: 0px 10px 10px 0px;
	float:left;
}

.circle_ng_navigator {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_nav.png') 59% 60%;background-size:cover;}
.circle_ng_map {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_map.png') 59% 60%;background-size:cover;}
.circle_ng_query {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_query.png') 59% 60%;background-size:cover;}
.circle_pet_map {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/petroleum_map.png') 59% 60%;background-size:cover;}
.circle_fossil_fuel {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/fossil_fuel_map.png') 59% 60%;background-size:cover;}
.circle_disruptions {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/disruptions.png') 59% 60%;background-size:cover;}
.circle_steo {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/steo.png') 59% 60%;background-size:cover;}
.circle_radio {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/radio.png') 59% 60%;background-size:cover;}
.circle_totalenergy_mer {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/totalenergy_mer.png') 59% 60%;background-size:cover;}
.circle_elec_data {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/elec_data_browse.png') 59% 60%;background-size:cover;}
.circle_coal_data {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/coal_data_browse.png') 59% 60%;background-size:cover;}
.circle_renew_data {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/renew_plant_map.png') 59% 60%;background-size:cover;}
.circle_crude_import_data {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/crude_import_tool.png') 59% 60%;background-size:cover;}
.circle_aeo {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/aeo.png') 59% 60%;background-size:cover;}
.circle_video {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/video.png') 59% 60%;background-size:cover;}
.circle_nuclear_outages {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/nuclear_outages2.png') 59% 60%;background-size:cover;}
.circle_afv {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/afv.png') 59% 60%;background-size:cover;}
.circle_930 {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/930.png') 59% 60%;background-size:cover;}

.circle_bulk {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/bulk_download.png') 59% 60%;background-size:cover;}
.circle_excel {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/excel.png') 59% 60%;background-size:cover;}
.circle_google {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/google_sheets.png') 59% 60%;background-size:cover;}
.circle_flood {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/cool/flood.png') 59% 60%;background-size:cover;}
.circle_ieo {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/ieo.png') 59% 60%;background-size:cover;}
.circle_intportal {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/international.png') 59% 60%;background-size:cover;}
.circle_ies {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/ies.png') 59% 60%;background-size:cover;}
.circle_gulf {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/cool/gulf.png') 59% 60%;background-size:cover;}
.circle_state {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/us.png') 59% 60%;background-size:cover;}
.circle_api {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/cool/api.png') 59% 60%;background-size:cover;}
.circle_embed {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/cool/embed.png') 59% 60%;background-size:cover;}
.circle_calc {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/calc.png') 59% 60%;background-size:cover;}
.circle_ph {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/placeholder.png') 59% 60%;background-size:cover;}
.circle_play {background:url('http://www.eia.gov/global/includes/issuestrends/images/interactive/play.png') 59% 60%;background-size:cover;}

button {
	border: 0px;
    background-color: #a33340;
    color: #FFF;
	text-transform:uppercase;
	font-weight:bold;
    padding: 10px;
    margin-right: 15px;
    min-width: 125px;
	cursor:pointer;

}

button[data-filter=".maps"] {
    background-color: #189bd7;

}

button[data-filter=".tools"] {
    background-color: #BD732A;
}

button[data-filter=".databrowsers"] {
	background-color: #5d9732;
}

button:hover {
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.filter-button-group {
    margin-bottom: 16px;
}

.grid-item {
    width: 253px;
    height: 130px;
    border: 1px solid #ccc;
    border-top: 6px solid #189bd7;
    background-color: #fafafa;
    border-bottom: 2px solid #189bd7;
    margin: 0 20px 20px 0;
    padding: 15px;
}

.maps { /*BD732A*/
    border-bottom-color: #189bd7;
    border-top-color: #189bd7;
}
.tools { 
    border-bottom-color: #BD732A;
    border-top-color: #BD732A;
}

.databrowsers {
    border-top-color: #5d9732;
    border-bottom-color: #5d9732;
}

.front-content {
    overflow: hidden;
    border: none; 
    background: #fafafa;
    padding: 15px;  
}

.front-content h3 {
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight: normal;
    color: #333;
    border:none;
    text-align: left;
    margin-top: 20px;
	display:inline;
	text-transform:none;
	/*float:left;*/
}

.back-content {
    overflow: hidden;
    border: none; 
    padding: 15px;
    color: #fff;
}

.back-content .synopsis {
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 24px;
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	cursor:pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.grid-item.effect__click.flipped .card_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.grid-item.effect__click.flipped .card_back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card_back {
  background: #189bd7;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.databrowsers .card_back {
  background: #5d9732;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.maps .card_back {
  background: #189bd7;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tools .card_back {
  background: #BD732A;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/*Mobile Portrait*/

@media screen and (max-width: 479px) {

html, body {
    margin-bottom: 0px;
}

.pagecontent {
    margin-bottom: 40px;
}

#header h1 {
   margin-right: 0px;
   max-width: 100%;
   background-size: 100%;
   float: none;
   background-image: url(http://www.eia.gov/global/images/logos/eia_logo.jpg);
   background-repeat: no-repeat;
}

#outerX {
    width: 100% !important;
    padding: 0;
}

#innerX {
    margin: 0;
}

#header .global-width, #header .utils, #header .utils2 {
    display: none;
}

.mr_temp4 .main_col {
    max-width: 98%;
    margin-left: 0;
    left: 0;
}

.grid {
    width: 100%;
    margin: 0 auto;
}

.grid-item {
    width: 100%;
    height: 160px;
    padding: 0;
    margin: 0 0 20px 0;
}

.button-group {
    width: 100%;
}

.button-group button {
    margin-bottom: 20px;
}

button {
    min-width: 90px;
}

#footer h3 {
    display: none; /* quicklicks neccessary on mobile? */
}

#addbar h2 {
    max-width: 100%;
    background-size: 100%;
}

#quicklinks p {
    float: none;
    display: inline-block;
    margin: 13px !important;
}

}

/* Larger Mobile */

@media (min-width: 480px) and (max-width: 767px) {

html, body {
    margin-bottom: 0px;
}

.pagecontent {
    margin-bottom: 40px;
}

#header {
    background-position: 0%;
}

#header h1 {
   margin-right: 0px;
   max-width: 100%;
   background-size: 100%;
   float: none;
   background-image: url(http://www.eia.gov/global/images/logos/eia_logo.jpg);
   background-repeat: no-repeat;
}

#outerX {
    width: 100% !important;
    padding: 0;
}

#innerX {
    margin: 0;
}

#header .global-width, #header .utils, #header .utils2 {
    display: none;
}

.mr_temp4 .main_col {
    max-width: 100%;
    margin-left: 0;
    left: 0;
}

.grid {
    width: 100%;
}

.grid-item {
    width: 100%;
    height: 160px;
    padding: 0;
    margin: 0 0 20px 0;
}

.button-group {
    width: 100%;
}

.button-group button {
    margin-bottom: 20px;
}

#footer h3 {
    display: none; /* quicklicks neccessary on mobile? */
}

#addbar h2 {
    max-width: 100%;
    background-size: 100%;
}

#quicklinks p {
    float: none;
    display: inline-block;
    margin: 13px !important;
}

}

/*Tablets Portait*/

@media (min-width: 768px) and (max-width: 959px) {

html, body {
    margin-bottom: 0px;
}

#outerX {
    width: 100% !important;
    padding: 0;
}

#innerX {
    margin: 0;
}

#header {
    background-position: 0%;
}

#header .global-width, #header .utils, #header .utils2 {
    display: none;
}

.mr_temp4 .main_col {
    width: 100%;
    margin: 0;
    left: 0;
}

.grid {
    width: 100%;
}

.grid-item {
    width: 45%;
    height: 160px;
    padding: 0;
}

#footer h3 {
    display: none; /* quicklicks neccessary on mobile? */
}

}

/*@media (min-width: 960px) and (max-width: 1199px) {

#outerX {
    width: 100% !important;
    padding: 0;
}

#innerX {
    margin: 0;
}

#header {
    background-position: 0%;
}

#header .global-width, #header .utils, #header .utils2 {
    display: none;
}

.mr_temp4 .main_col {
    width: 100%;
    margin: 0;
    left: 0;
}

.grid {
    width: 100%;
}

.grid-item {
    height: 160px;
    padding: 0;
}

}*/


