/*---header styles-----*/
div.report_header {
  display: table;
  width: 914px;
  margin-right: 22px;
  margin-left: 22px;
  border-bottom: none;
}
div.report_header > div {
  display: table-row;
}
div.report_header > div > div {
  display: table-cell;
  border-bottom: solid 1px #5e9c30;
  padding-bottom: 12px;
  vertical-align: bottom;
}
div.report_header > div > div.open_title {
  width: 462px;
}
div.report_header > div > div > div {
  border-left: solid 1px #ededed;
  border-right: none;
  height: 70px
}
div.report_header > div:first-child > div {
  border: none;
  padding-bottom: 24px;
}
div.report_header > div > div.open_nav {
  text-align: center;
  background: url(../images/icons/icons.png);
}
div.report_header > div > div.open_nav a {
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9pt;
  float: none;
  position: relative;
  display: block;
  margin-top: 0px;
  height: 72px;
  min-width:130px;
}
div.report_header > div > div.open_nav div {
  top: 54px;
  position: relative;
}
div.report_header > div > div.open_nav.active,  div.report_header > div > div.open_nav div:hover {
  color: #5e9c30;
  cursor: pointer;
}
div.report_header > div > div.open_nav.intro {
  background-position: -12px -11px;
}
div.report_header > div > div.open_nav.active.intro, div.report_header > div > div.open_nav.intro:hover {
  background-position: -12px -120px;
}
div.report_header > div > div.open_nav.api {
  background-position: -122px -11px;
}
div.report_header > div > div.open_nav.active.api, div.report_header > div > div.open_nav.api:hover {
  background-position: -122px -120px;
}
div.report_header > div > div.open_nav.addon {
  background-position: -239px -11px;
}
div.report_header > div > div.open_nav.active.addon, div.report_header > div > div.open_nav.addon:hover {
  background-position: -239px -120px;
}
div.report_header > div > div.open_nav.graphsmaps {
	width:150px;
  background-position: -335px -11px;
}
div.report_header > div > div.open_nav.active.graphsmaps, div.report_header > div > div.open_nav.graphsmaps:hover {
  background-position: -335px -120px;
}
div.report_header > div > div.open_nav.active a {
  color: #5e9c30;
}
div.report_header > div > div.open_nav.active  div {
  border: none;
}
div.report_header > div > div.open_nav.active {
  border: solid 1px #5e9c30;
  border-bottom: none;
}
div.report_header > div > div.open_nav:hover a {
  color: #5e9c30;
  text-decoration: underline;
}
.report_header h1 {
  text-transform: none;
  text-indent: 0;
  padding-top: 0;
}
.report_header a {
  text-indent: 0;
}
.report_header p, .report_header p a  {
  text-transform: none;
  font-size: 8pt;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding-left: 0;
  line-height: 1.75em;
}

.report_header a.ico_download {
  background: url(../images/icons/download.png) no-repeat 0px 0px;
  display: inline-block;
  padding-left: 21px;
  margin-top: 0;
}
/*---end header styles-*/

a.button {
position: relative;
display: inline-block;
margin: 12px 0 8px 0px;
padding: 10px;
/*width: 180px;*/
background: /*url('/global/images/icons/download.png')*/ #0095d0 no-repeat 15px center;
background-size: 5%;
color: #fff;
text-align: center;
text-decoration: none;
white-space: nowrap;
font-weight: normal;
line-height: 20px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}
a.button:hover {
    background-color: #5f9732;
}
a.dl_button {
position: relative;
display: inline-block;
margin: 12px 0 8px 0px;
padding: 10px 10px 10px 36px;
/*width: 180px;*/
background: url('http://www.eia.gov/global/images/icons/download.png') #000 /*#0095d0*/ no-repeat 15px center;
background-size: 5%;
color: #fff;
text-align: center;
text-decoration: none;
white-space: nowrap;
font-weight: normal;
line-height: 20px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}
a.dl_button:hover {
    background-color: #fff /*#5f9732*/;
}
.msexcellink {
	display: block;
	width: 312px;
	height: 50px;
	margin-top:12px;
	background: url('../images/icons/add_on_button_excelr.png') bottom;
	text-indent: -99999px;
}
.msexcellink:hover {
	background-position: 0 0;
}
.googlelink {
	display: block !important;
	width: 312px !important;
	height: 50px !important;
	margin-top:12px !important;
	background: url('../images/icons/add_on_button_sheetsr.png') bottom left no-repeat !important;
	text-indent: -99999px !important;
}
.googlelink:hover {
	background-position: 0 0 !important;
}
