body {
  margin: 0.25in 0.25in 0.25in 0.25in;
}
div.report_header > div > div {
  border-bottom: none;
  padding-bottom: 0px;
}
div.report_header div div.twip_nav, div.report_header  > div:first-child, div.title.bg_petroleum, div.report_header div div.twip_title > h1+p+p, button.frame_print_button, .mr_temp2.print > a:first-child {
  display: none;
}
div.report_header, .mr_temp4 div.main_col {
  margin-left: 0px;
  margin-right: 0px;
}
.mr_temp2 div.side_col {
  display: block;
}
.mr_temp4 .g_container .graph {
  border-right: none;
  width: 100%;
  padding-right: 0px;
}
.mr_temp2.print .main_col > p:first-child {
  color: #666666;
}
.mr_temp2.print h2, .mr_temp2.print h3 {
  color: #189bd7;
}
.mr_temp2.print h4.author {
  color: #666666;
  page-break-after: always;
}
.mr_temp2.print .main_col hr {
  border-color: #189bd7;
  background-color: #189bd7;
  color: #189bd7;
  margin-top: 40px;
  margin-bottom: 0px;
}
.mr_temp2.print .main_col hr +h4{
  margin-top: 10px;
}
.mr_temp2.print .main_col {
  /*width: 6.6in;*/
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.mr_temp2.print .main_col #retail_prices, .mr_temp2.print .main_col #futures_prices, .mr_temp2.print .main_col #stocks {
  margin-bottom: 20px;
}
.mr_temp2.print .main_col #retail_prices img, .mr_temp2.print .main_col #futures_prices img, .mr_temp2.print .main_col #stocks img {
  /*width: 315px;*/
  width: 49%;
}
.mr_temp2.print > h1{
  margin: 0px 0px 0px 0px;
  margin-left: 0;
}