/*---header styles-----*/
div.report_header {
  display: table;
  width: 914px;
  margin-right: 22px;
  margin-left: 22px;
  border-bottom: none;
}
div.report_header > div {
  display: table-row;
}
div.report_header > div > div {
  display: table-cell;
  border-bottom: solid 1px #5e9c30;
  padding-bottom: 12px;
  vertical-align: bottom;
}
div.report_header > div > div.twip_title {
  width: 462px;
}
div.report_header > div > div > div {
  border-left: solid 1px #ededed;
  border-right: none;
  height: 70px
}
div.report_header > div:first-child > div {
  border: none;
  padding-bottom: 24px;
}
div.report_header > div > div.twip_nav {
  text-align: center;
  background: url(../images/icons/icons.png);
}
div.report_header > div > div.twip_nav a {
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9pt;
  float: none;
  position: relative;
  display: block;
  margin-top: 0px;
  height: 72px;
}
div.report_header > div > div.twip_nav div {
  top: 54px;
  position: relative;
}
div.report_header > div > div.twip_nav.active,  div.report_header > div > div.twip_nav div:hover {
  color: #5e9c30;
  cursor: pointer;
}
div.report_header > div > div.twip_nav.analysis {
  background-position: -12px -25px;
}
div.report_header > div > div.twip_nav.active.analysis, div.report_header > div > div.twip_nav.analysis:hover {
  background-position: -12px -133px;
}
div.report_header > div > div.twip_nav.crude {
  background-position: -102px -25px;
}
div.report_header > div > div.twip_nav.active.crude, div.report_header > div > div.twip_nav.crude:hover {
  background-position: -102px -133px;
}
div.report_header > div > div.twip_nav.gasoline {
  background-position: -199px -25px;
}
div.report_header > div > div.twip_nav.active.gasoline, div.report_header > div > div.twip_nav.gasoline:hover {
  background-position: -199px -133px;
}
div.report_header > div > div.twip_nav.distillate {
  background-position: -294px -25px;
}
div.report_header > div > div.twip_nav.active.distillate, div.report_header > div > div.twip_nav.distillate:hover {
  background-position: -294px -133px;
}
div.report_header > div > div.twip_nav.propane {
  background-position: -396px -25px;
}
div.report_header > div > div.twip_nav.active.propane, div.report_header > div > div.twip_nav.propane:hover {
  background-position: -396px -133px;
}
div.report_header > div > div.twip_nav.active a {
  color: #5e9c30;
}
div.report_header > div > div.twip_nav.active  div {
  border: none;
}
div.report_header > div > div.twip_nav.active {
  border: solid 1px #5e9c30;
  border-bottom: none;
}
div.report_header > div > div.twip_nav:hover a {
  color: #5e9c30;
  text-decoration: underline;
}
.report_header h1 {
  text-transform: none;
  text-indent: 0;
  padding-top: 0;
}
.report_header a {
  text-indent: 0;
}
.report_header p, .report_header p a  {
  text-transform: none;
  font-size: 8pt;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding-left: 0;
  line-height: 1.75em;
}

.report_header a.ico_download {
  background: url(../images/icons/download.png) no-repeat 0px 0px;
  display: inline-block;
  padding-left: 21px;
  margin-top: 0;
}
/*---end header styles-*/
.pagecontent.mr_temp2, .pagecontent.mr_temp4 {
  margin-top: 36px;
}
.mr_temp2 .main_col {
  width: 501px;
  border-right: 1px solid #d5d5d5;
  margin-right: 0px;
  padding-right: 30px;
}
.mr_temp2.print .main_col {
  width: 915px;
  border-right: none;
  padding-right: 0px;
  margin-left: 22px;
  margin-right: 22px;
}
.mr_temp2.print .main_col span {
  float: none;
}
.mr_temp2.print .main_col hr {
  background-color: #189bd7;
}
.mr_temp4 .main_col {
  margin-left: 22px;
  margin-right: 22px;
}
.mr_temp2 .side_col {
  margin-right: 22px;
  margin-top: 4px;
  width: 355px;
}
.side_col div.blue_top {
  border-top-width: 3px;
  padding-top: 6px;
}

.side_col > div {
  margin-bottom: 40px;
}
.mr_temp2 .side_col #retail_prices, .mr_temp2 .side_col #futures_prices, .mr_temp2 .side_col #stocks {
  min-height: 280px;
}

.mr_temp2 .aeo_footer {
  margin-top: 60px;
}
.mr_temp4 .g_container {
  border-top: 3px solid #189bd7;
  border-bottom: 1px dashed #cccccc;
  padding-top: 6px;
  padding-bottom: 16px;
  margin-top: 44px;
}
.mr_temp4 .g_container:first-child {
  margin-top: 0px;
}
.mr_temp4 .g_container .graph {
  border-right: 1px solid #cccccc;
  padding-right: 20px;
  width: 739px;
  min-height: 390px;
}
/*---text styles-----*/
.mr_temp2 .main_col h1, .mr_temp4 .main_col h1 {
  font-size: 19pt;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
div.schedule h1, div.archive h1, div.download h1 {
  display: block;
  font-size: 26px;
  border-bottom: solid 1px #dadada;
  padding-bottom: 6px;
  padding-top: 16px;
  font-weight: normal;
}
.mr_temp2 .main_col h2, .mr_temp4 .main_col h2, div.schedule  h2, div.archive  h2, div.download  h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}

.mr_temp2 .main_col h2 a, .mr_temp4 .main_col h2 a, .mr_temp2 .main_col a h2 {
  color: #189bd7;
}
div.schedule  a, div.archive table a, div.download  a {
  color: #189bd7;
  text-decoration: none;
}
div.schedule  a:hover, div.archive  table a:hover, div.download  a:hover {
  text-decoration: underline;
}
div.download  a.ico_xls {
  padding-left: 20px;
}
.mr_temp2 .main_col h3, .mr_temp4 .main_col h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 11pt;
  border: none;
  padding: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: inherit;
  margin-top: 18px;
  line-height: 1.5em;
}

.mr_temp2 .main_col h4, .mr_temp4 .main_col h4 {
  margin-bottom: 0px !important;
  margin-top: 14px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  padding: 0px;
  line-height: 2em;
}

.mr_temp2 .main_col h4+ol li:first-child {
  margin-top: 0px;
}

.mr_temp2 .main_col h4 a, .mr_temp4 .main_col h4 a{
  color: #189bd7;
}
.side_col h4, .mr_temp2 .side_col h4, .mr_temp4 .main_col div.g_container h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 19pt;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}
.mr_temp2 .side_col h4 em, .mr_temp4 .main_col div.g_container h2 em {
  font-size: 14pt;
}
.mr_temp2 .main_col p, .mr_temp4 .main_col p, .side_col p, .mr_temp2 .main_col ul li, .mr_temp2 .main_col ol li, div.schedule  p, div.archive  p, div.padd_map p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
  line-height: 1.75em;
}
.mr_temp2 .main_col h4.author {
  line-height: 1.5em;
  font-style: italic;
  color: #555555;
}
.mr_temp2 .main_col p.tags {
  font-size: 12pt;
  font-style: italic;
  font-family: Times New Roman, Times, serif;
  line-height: 1.25em;
  margin-top: 10px;
}
div.padd_map p span {
  margin-left: 20px;
}
.side_col p {
  margin-top: 8px;
}
.mr_temp2 .main_col h3+p, .mr_temp2 .main_col h2+p {
  margin-top: 4px;
}
.side_col h4+p {
  margin-top: 0px;
}

.basic_table thead th, .basic_table tbody td, .basic_table tfoot td {
  font-size: 10.5pt;
}
.side_col .basic_table thead th, .side_col .basic_table tbody td, .side_col .basic_table tfoot td {
  font-size: 10pt;
}
.mr_temp2 .main_col table tfoot tr.total td, .mr_temp4 .main_col table tfoot tr.total td  {
  font-size: inherit;
}
div.schedule  table {
  margin-top: 20px;
  width: 900px;
}
div.archive  table {
  margin-top: 20px;
  width: 100%;
}
div.archive  table thead th {
  line-height: 1.25em;
  padding-bottom: 4px;
}
div.schedule  table, div.schedule  table tbody, div.archive  table, div.archive  table tbody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  line-height: 1.75em;
}
div.archive  table tbody tr td:first-child {
  border-bottom: none;
}
div.archive  table tbody tr td,div.archive  table thead tr th  {
  width: 110px;
}
div.archive  table tbody tr td:last-child,div.archive  table thead tr th:last-child  {
  width: auto;
}
div.schedule  table tr:last-child td, div.archive  table tbody tr:last-child td  {
  border-bottom: 1px solid #189bd7;
}
div.schedule table tr.pastholiday td {
  color: #cccccc;
}
div.schedule, div.archive, div.padd_map, div.download {
  margin: 20px;
  min-width: 900px;
}
.mr_temp2 .main_col p a.endnotes, .mr_temp2 .main_col li a.endnotes {
  font-weight: bold;
  cursor: pointer;
}
/*--end text styles--*/


/*--tab styles-------*/
.mr_temp4 .g_container .ui-tabs .ui-tabs-nav {
  float: right;
  border: none;
  padding-left: 0px;
  width: 172px;
}
.mr_temp4 .g_container .ui-tabs .ui-tabs-nav li {
  float: none;
  margin: 6px 0;
  padding: 6px 0 6px 0px;
  font-size: 13pt;
  background-color: transparent;
}
.mr_temp4 .g_container .ui-tabs .ui-tabs-nav li a {
  float: none;
  margin: 0;
  display: block;
  padding: 0 10px 0 0;
  font-size: 13pt;
}
.mr_temp4 .g_container .ui-tabs .ui-tabs-nav li.ui-state-active {
  border: none;
}
.mr_temp4 .g_container .page_tabs .ui-state-default a span.graph_icon {
  background: url("../images/icons/graph_icons.png") no-repeat left -238px;
  width: 34px;
  height: 34px;
  position: relative;
  top: -7px;
}
.mr_temp4 .g_container .page_tabs .ui-state-active a span.graph_icon{
  background-position: left 0px;
}
.mr_temp4 .g_container .page_tabs .ui-state-default:hover a span.graph_icon {
  background-position: left -118px;
}
.mr_temp4 .g_container .page_tabs .ui-state-default:hover a {
  color: #76d5ff;
}
.mr_temp4 .g_container .page_tabs .ui-state-active:hover a span.graph_icon, .mr_temp4 .g_container .page_tabs .ui-state-active:hover a {
  background-position: left 0px;
  cursor: default;
  color: #189bd7;
}
.mr_temp4 .g_container .page_tabs .ui-state-active a, .mr_temp4 .g_container .ui-state-active a:link, .mr_temp4 .g_container .ui-state-active a:visited {
  color: #189bd7;
}
.mr_temp4 .g_container .ui-tabs .ui-tabs-panel {
  border: none;
  padding: 0;
}
.archive h4+div.page_tabs {
  margin-top: 6px;
}
.archive .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.archive .page_tabs hr {
  margin: -1px 0 0 0;
  background: #949494;
}
.archive .ui-state-default, .ui-widget-content .ui-state-default {
  background-color: #ffffff;
  border: none;
}
.archive .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #999999;
  font-style: italic;
}
.archive .ui-state-default.ui-state-hover a {
  color: #189bd7;
}
.archive .page_tabs .ui-state-active, .archive .ui-widget-content .ui-state-active {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #949494;
  border-bottom: none;
  padding-bottom: 0px;
  font-style: italic;
}
.archive .ui-tabs .ui-tabs-nav li a {
  padding: .25em .5em .15em .5em;
}
.archive .page_tabs .ui-state-active a, .archive .ui-state-active a:link, .archive .ui-state-active a:visited {
  color: #333333;
}
.archive .ui-tabs .ui-tabs-panel {
  border: none;
  padding: 0;
}
.archive .ui-tabs .ui-tabs-panel p {
  border-top: 1px dashed #dadada;
  padding-top: 6px;
  margin-top: 6px;
}
.archive .ui-tabs .ui-tabs-panel p:first-child {
  border-top: none;
}

/*--end tab styles---*/


/*--article layout styles-------*/

.pagecontent.mr_temp2 .main_col p img, .pagecontent.mr_temp2 .main_col > img {
  padding: 10px 0px 10px 0px;
  border: none;
  border-top: 3px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  float: none;
  margin: 20px 0px 20px 0px;
  max-width: 501px;
}


/*--end article layout styles---*/


/*--table styles---------*/
.mr_temp2  .side_col .basic_table {
  width: 355px;
}
.mr_temp4 .basic_table {
  width: 100%;
  margin: 30px 0px;
}
.mr_temp4 .main_col > table.basic_table:first-child {
  margin-top: 0px;
}
.mr_temp4 .basic_table caption {
  padding: 0px 0px 0px 0px;
  color: #189bd7;
  text-transform: uppercase;
  border-bottom: 1px solid #189bd7;
}
.mr_temp4 .basic_table caption em {
  text-transform: none;
}
.mr_temp4 .basic_table caption span {
  float: right;
  text-transform: none;
  font-weight: normal;
}
.mr_temp4 .basic_table caption a:hover span {
  text-decoration: underline;
}
.mr_temp4 .basic_table tr td:first-child {
  min-width: 214px;
}
.mr_temp4 .basic_table tr.indented td:first-child {
  min-width: 204px;
}
.mr_temp2  .side_col .basic_table tbody td:first-child {
  padding-left: 0px;
}
.mr_temp2 .basic_table tr:last-child th, .mr_temp4 .basic_table tr:last-child th {
  border-bottom: 3px solid #cccccc;
}
.mr_temp2 .basic_table thead th, .mr_temp4 .basic_table thead th, .basic_table tr th {
  padding-bottom: 0px;
}
.mr_temp2 .basic_table tbody tr td, .mr_temp2 .basic_table tbody tr:first-child td, .mr_temp4 .basic_table tbody tr td, .mr_temp4 .basic_table tbody tr:first-child td {
  padding-top: 6px;
}
.mr_temp4 .basic_table thead tr th:nth-child(2), .mr_temp4 .basic_table tbody tr td:nth-child(2) {
  background-color: #f7f7f7;
}
.fourweek .double-header th[colspan] {
  border-right: none;
}
.mr_temp4 .fourweek thead.double-header tr:first-child th:nth-child(4), .mr_temp4 .fourweek thead.double-header tr:last-child th:nth-child(6), .mr_temp4 .fourweek tbody tr td:nth-child(6) {
  background-color: #f7f7f7;
}
.mr_temp2 .basic_table tbody tr:last-child td, .mr_temp4 .basic_table tbody tr:last-child td {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 4px;
}
.mr_temp2 .basic_table tfoot tr:first-child td, .mr_temp4 .basic_table tfoot tr:first-child td {
  padding-top: 5px;
  padding-left: 4px;
  border-top: none;
  font-style: italic;
  font-size: 100%;
}
.mr_temp2 .basic_table tbody tr.selected  td , .mr_temp2 .basic_table tbody tr:hover  td {
  background-color: #e4f7ff;
}
.mr_temp2 .basic_table tbody tr:hover  td {
  cursor: pointer;
}
.ico {
  background: url("http://www.eia.gov/global/images/icons/sprites/icon-sprites2.png") no-repeat;
  width: 24px;
  height: 13px;
  display: inline-block;
  cursor: pointer;
}
.ico.linechart {
  background-position: -62px -67px;
}
.selected .ico.linechart {
  background-position: -2px -67px;
}
.ico.linechart:hover, .mr_temp2 .basic_table tr:hover td > .ico.linechart {
  background-position: -32px -67px;
}
.mr_temp2 .basic_table span.no_change, .mr_temp2 .basic_table span.value_down, .mr_temp2 .basic_table span.value_up {
  width: 8px;
  height: 12px;
  margin-left: 2px;
  display: inline-block;
}
.mr_temp2 .basic_table span.value_down {
  background: url(../images/icons/arrows.png) no-repeat center bottom;
}
.mr_temp2 .basic_table span.value_up {
  background: url(../images/icons/arrows.png) no-repeat center 1px;
}
.mr_temp2 .basic_table thead tr th:last-child, .mr_temp2 .basic_table tr th:last-child, .mr_temp2 .basic_table tbody tr td:last-child {
  padding-right: 6px;
}

/*--end table styles-----*/

button.frame_print_button {
  margin: 0;
  display: block;
  position: absolute;
  clear: none;
  right: 0;
}
/*button.frame_print_button+h1 {
  margin: 20px 20px 0px 20px;
}*/
.mr_temp2.print {
  margin-top: 0px;
}
div.print div.main_col > p:first-child {
  margin-top: 0px;
  margin-bottom: 20px;
}
.mr_temp2.print > a:first-child {
  margin-left: 22px;
  margin-top: 36px;
  display: block;
}
.mr_temp2.print > h1{
  margin: 0px 22px;
  border-bottom: none;
  padding-bottom: 0;
  font-size: 24pt;
}
.mr_temp2.print .main_col hr+h4 {
  margin-top: 0;
}
.mr_temp2.print .main_col > hr {
  margin-bottom: 10px;
}