#tableContainer {
  /**
* Table Classes
**/
  /**
* Ico Styles
**/
}
#tableContainer .inner-slickgrid-container {
  width: 100%;
  height: 100%;
}
#tableContainer td.description {
  border-top: none !important;
  border-bottom: none !important;
  background-color: transparent !important;
  overflow: hidden;
}
#tableContainer td.description span {
  text-align: left;
  text-indent: 0 !important;
}
#tableContainer .description_wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  top: -3px;
}
#tableContainer .description_text_wrapper {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
#tableContainer .description_text_wrapper.bold {
  font-weight: bold;
}
#tableContainer .description_spacer {
  position: relative;
  display: inline-block;
  background: url("images/treeview-default-line.gif");
  background-repeat: no-repeat;
  height: 29px;
  width: 28px;
}
#tableContainer .description_spacer.blank {
  background-image: none;
}
#tableContainer .description_spacer.pre {
  background-position: 0 -1000px;
}
#tableContainer .description_spacer.intermediate {
  background-position: 0 0;
}
#tableContainer .description_spacer.last {
  background-position: 0 -1766px;
}
#tableContainer .slick-pane .slick-header-column,
#tableContainer .slick-pane .ui-state-default {
  background-image: none;
  background-color: transparent;
  border: none;
  border-width: 0;
  font-size: 12.8px;
}
#tableContainer .slick-header-columns-right,
#tableContainer .grid-canvas-right .slick-cell {
  text-align: right;
}
#tableContainer .slick-row.highlight .slick-cell {
  background-color: #ffff96;
}
#tableContainer .slick-cell {
  border-color: transparent transparent #cccccc transparent;
  border-style: none none dashed none;
  border-width: 1px;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 12.8px;
}
#tableContainer .slick-cell .link_cell {
  color: #189BD7;
}
#tableContainer .slick-cell:hover .link_cell {
  text-decoration: underline;
  cursor: pointer;
}
#tableContainer .slick-cell:empty:hover .link_cell {
  cursor: default;
}
#tableContainer .slick-pane-right {
  border-left: solid 1px #189BD7 !important;
}
#tableContainer .slick-pane-left,
#tableContainer .slick-pane-right,
#tableContainer .slick-viewport,
#tableContainer .slick-viewport-top,
#tableContainer .slick-viewport-left,
#tableContainer .slick-viewport-right,
#tableContainer .grid-canvas,
#tableContainer .grid-canvas-top,
#tableContainer .grid-canvas-left,
#tableContainer .grid-canvas-right {
  overflow: hidden;
}
#tableContainer .slick-pane a {
  color: #189BD7;
}
#tableContainer .slick-row.level_0 {
  font-weight: bold;
  border-top: 1px solid #189BD7;
}
#tableContainer :first-child.level_0 {
  border-top: none;
}
#tableContainer .END_ROW .slick-cell {
  border-bottom: none;
}
#tableContainer .slick-sort-indicator {
  background: url("images/icon-sprites.png") no-repeat scroll -212px -2px transparent;
  width: 15px;
  height: 15px;
}
#tableContainer .slick-sort-indicator.slick-sort-indicator-asc {
  background: url("images/icon-sprites.png") no-repeat scroll -97px -6px transparent;
}
#tableContainer .slick-sort-indicator.slick-sort-indicator-desc {
  background: url("images/icon-sprites.png") no-repeat scroll -2px -86px transparent;
}
#tableContainer .chart_column {
  overflow: visible !important;
}
#tableContainer .ico {
  background: url("images/icon-sprites2.png") no-repeat;
  width: 30px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}
#tableContainer .ico.linechart {
  background-position: -58px -65px;
}
#tableContainer .ico.linechart.selected,
#tableContainer .visualization_icon.linechart {
  background-position: 2px -65px;
}
#tableContainer .chart_column .ico.linechart:hover,
#tableContainer a:hover > .ico.linechart {
  background-position: -28px -65px;
}
#tableContainer .ico.parent.linechart {
  background-position: -66px -93px;
}
#tableContainer .ico.parent.linechart.selected {
  background-position: -6px -93px;
}
#tableContainer .chart_column .ico.parent.linechart:hover,
#tableContainer a:hover > .ico.parent.linechart {
  background-position: -36px -93px;
}
#tableContainer .ico.map {
  background-position: -60px -117px;
}
#tableContainer .ico.map.selected,
#tableContainer .visualization_icon.map {
  background-position: 0 -117px;
}
#tableContainer .chart_column .ico.map:hover,
#tableContainer a:hover > .ico.map {
  background-position: -30px -117px;
}
#tableContainer .ico.map.parent {
  background: none;
}
#tableContainer .chart_column .ico.map.parent:hover {
  cursor: default;
}
#tableContainer .ico.sourcekey {
  background-position: -60px -140px;
}
#tableContainer .ico.sourcekey.selected,
#tableContainer .visualization_icon.sourcekey {
  background-position: 0 -140px;
}
#tableContainer .chart_column .ico.sourcekey:hover,
#tableContainer a:hover > .ico.sourcekey {
  background-position: -30px -140px;
}
#tableContainer .ico.sourcekey.parent {
  background: none;
}
#tableContainer .ico.pin {
  background-position: -62px -158px;
}
#tableContainer .ico.pin.selected,
#tableContainer .visualization_icon.pin {
  background-position: -2px -158px;
}
#tableContainer .chart_column .ico.pin:hover,
#tableContainer a:hover > .ico.pin {
  background-position: -32px -158px;
}
#tableContainer .ico.pin.parent {
  background-position: -69px -181px;
}
#tableContainer .ico.pin.parent.selected {
  background-position: -9px -181px;
}
#tableContainer .chart_column .ico.pin.parent:hover {
  background-position: -39px -181px;
}
#tableContainer .ico.remove {
  background-image: url("images/icon-sprites.png");
  background-position: -52px -172px;
  background-size: 280px;
  opacity: 0.3;
}
#tableContainer .ico.remove:hover {
  opacity: 1.0;
}
#tableContainer .slick-header-column.deselect_header {
  margin-left: 5px;
  background: url("images/icon-sprites.png") no-repeat -66px -186px;
  width: 14px;
  height: 15px;
  opacity: 0.3;
}
#tableContainer .slick-header-column.deselect_header:hover {
  opacity: 1;
  cursor: pointer;
}
#tableContainer .pinkey_header {
  cursor: pointer;
  padding-right: 100px;
  z-index: 2;
}
#tableContainer .pinkey_header + .slick-header-column {
  margin-left: -100px;
}
#tableContainer .pinkey_header .slick-column-name {
  font-size: 0;
}
#tableContainer .pinkey_header .slick-column-name > div {
  display: inline-block;
  position: relative;
  font-size: 13px;
}
#tableContainer .pinkey_header .slick-column-name > div .ico {
  width: 20px;
  background-image: url("images/icon-sprites2.png");
}
#tableContainer .pinkey_header .slick-column-name > div.pin_button {
  padding-right: 11px;
}
#tableContainer .pinkey_header .slick-column-name > div.pin_button .ico {
  background-position: -100px -161px;
  width: 12px;
  height: 12px;
}
#tableContainer .pinkey_header .slick-column-name > div.pin_button.selected {
  padding-right: 8px;
  border-right: 3px solid #189BD7;
}
#tableContainer .pinkey_header .slick-column-name > div.pin_button.selected .ico,
#tableContainer .pinkey_header .slick-column-name > div.pin_button:hover .ico {
  background-position: -10px -161px;
}
#tableContainer .pinkey_header .slick-column-name > div.api_button {
  padding-left: 8px;
}
#tableContainer .pinkey_header .slick-column-name > div.api_button .ico {
  background-position: -98px -143px;
  width: 15px;
  height: 10px;
}
#tableContainer .pinkey_header .slick-column-name > div.api_button.selected {
  padding-left: 5px;
  border-left: 3px solid #189BD7;
}
#tableContainer .pinkey_header .slick-column-name > div.api_button.selected .ico,
#tableContainer .pinkey_header .slick-column-name > div.api_button:hover .ico {
  background-position: -8px -143px;
}
#tableContainer .pinkey_header .slick-column-name > div:hover,
#tableContainer .pinkey_header .slick-column-name > div.selected {
  color: #189BD7;
}
#tableContainer .pinkey_header .slick-column-name > div .text {
  text-transform: uppercase;
}
/**
* Page-wide styles
**/
.style2 select,
.style2 label,
.style2 form,
.style2 li {
  font-size: 12.8px;
}
.style2 h1 {
  border-bottom: solid 1px #dadada;
  font-size: 25px;
  padding-bottom: 6px;
  padding-top: 16px;
  margin-bottom: 8px;
  clear: both;
}
.style2 h2 a {
  color: #00405d;
}
.style2 h2 {
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
  clear: both;
}
.style2 h3 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: solid 1px #dadada;
  padding-bottom: 6px;
  padding-top: 10px;
  margin-bottom: 4px;
  text-transform: uppercase;
  clear: both;
}
.style2 h4 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.style2 h4 a {
  color: #00405d;
}
.style2 h5 {
  font-size: 13px;
  font-weight: bold;
}
.menerdat_temp .main_col {
  width: 692px;
  margin-right: 2px;
}
.menerdat_temp .side_col {
  width: 240px;
}
.menerdat_temp hr {
  background-color: #189BD7;
  margin: 16px 0;
}
/**
* Selection Container
**/
#selection_container {
  width: 924px;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-left: none;
  border-right: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
#selection_container .inner_container {
  width: 666px;
  float: left;
}
#selection_container .inner_container.or {
  margin-right: 29px;
  width: 30px;
}
#selection_container .inner_container.or h1 {
  margin-top: 14px;
  border-bottom: none;
  font-size: 20px;
}
.ltblue {
  background-color: #DFF2FB;
  padding-top: 0;
  padding-bottom: 12px;
}
.grey_side h5 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 11.5px;
}
.grey_side form {
  border-bottom: 1px solid #E3E5E6;
  margin: 0;
  padding-bottom: 16px;
}
.grey_side form + h5 {
  padding-top: 10px;
}
.ltblue h1 {
  font-size: 22px;
}
.ltblue h2 {
  font-size: 18px;
  font-style: italic;
}
.ltblue h3 {
  font-size: 11.5px;
  text-transform: uppercase;
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.ltblue form {
  border-bottom: none;
  padding-bottom: 0;
}
.ltblue form + h1 {
  padding-top: 20px;
}
/**
* Header classes
**/
.style2 select,
.style2 label,
.style2 form,
.style2 li {
  font-size: 12.8px;
}
.style2 h1 {
  border-bottom: solid 1px #dadada;
  font-size: 25px;
  padding-bottom: 6px;
  padding-top: 16px;
  margin-bottom: 8px;
  clear: both;
}
.style2 h2 a {
  color: #00405d;
}
.style2 h2 {
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
  clear: both;
}
.style2 h3 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: solid 1px #dadada;
  padding-bottom: 6px;
  padding-top: 10px;
  margin-bottom: 4px;
  text-transform: uppercase;
  clear: both;
}
.style2 h4 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.style2 h4 a {
  color: #00405d;
}
.style2 h5 {
  font-size: 13px;
  font-weight: bold;
}
/**
* Layout classes
**/
.menerdat_temp .main_col {
  width: 692px;
  margin-right: 2px;
}
.menerdat_temp .side_col {
  width: 240px;
}
.menerdat_temp hr {
  background-color: #189BD7;
  margin: 16px 0;
}
/**
* Wireframe classes
**/
#simplemodal-overlay {
  background-color: #777;
  opacity: 0.8;
  -moz-opacity: 80%;
  filter: alpha(opacity=80);
}
#lineChartContainer {
  width: 920px;
  height: 415px;
  text-align: center;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
#mapContainer {
  width: 655px;
  height: 410px;
  padding: 1.65em 0.5em 0.25em 0;
  margin: 0 auto;
}
#mapContainer {
  float: left;
}
#mapContainer .jvectormap-zoomin,
#mapContainer .jvectormap-zoomout {
  display: block;
}
#map_controls_container {
  float: left;
}
.jvectormap-region {
  cursor: default;
}
.clickable-regions .jvectormap-region {
  cursor: pointer;
}
.clickable-markers .jvectormap-marker {
  cursor: pointer;
}
#chart_area {
  height: 484px;
}
#chart_area.carousel {
  height: 462px;
  overflow: visible;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 0;
}
div.chartIndexing {
  margin-right: 5px;
}
#animated_map_type_container .ui-button,
.chartIndexing .ui-button,
#animated_map_transport_container .ui-button,
#visualizationSelectorContainer .ui-button,
#frequencySelectorContainer .ui-button {
  display: inline-block;
}
#animated_map_type_container .ui-button-text,
#animated_map_type_container .optionsLabel,
.chartIndexing .ui-button-text,
.chartIndexing .optionsLabel {
  float: none;
  display: block;
  height: 16px;
  padding-bottom: 3px;
}
.chartIndexing .optionsLabel {
  float: left;
  margin-right: 6px;
  padding: 4px 8px 4px 0;
  font-weight: bold;
  text-transform: uppercase;
}
#animated_map_type_container .optionsLabel {
  float: left;
  margin-right: 4px;
  padding: 4px 8px 4px 7px;
  font-weight: bold;
  text-transform: uppercase;
}
#map_units_label_container {
  text-align: center;
}
#map_units_label {
  text-align: center;
  font-weight: bold;
}
.optionsLabel .ui-buttonset .ui-button,
.chartIndexing .ui-buttonset .ui-button,
#animated_map_type_container.ui-buttonset .ui-button,
#animated_map_transport_container .ui-button,
#visualizationSelectorContainer .ui-button,
#frequencySelectorContainer .ui-button {
  margin: 0 0 0 -4px;
  padding: 4px 8px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-top: none;
  border-bottom: none;
}
#animated_map_transport_container .ui-button {
  margin: 0 0 0 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#animated_map_transport_container .ui-button:first-child {
  margin-left: 6px;
}
.chartIndexing .ui-buttonset .ui-button,
#animated_map_type_container.ui-buttonset .ui-button,
#visualizationSelectorContainer.ui-buttonset .ui-button,
#frequencySelectorContainer.ui-buttonset .ui-button {
  cursor: pointer;
}
.chartIndexing .ui-buttonset .ui-button,
#animated_map_type_container.ui-buttonset .ui-button,
#animated_map_transport_container .ui-button,
#visualizationSelectorContainer.ui-buttonset .ui-button,
#frequencySelectorContainer.ui-buttonset .ui-button {
  background: url("images/bg-sprites.png") repeat-x 0 -1px;
}
#animated_map_transport_container .ui-button {
  border: 1px solid #eaeaea;
}
#visualizationSelectorContainer.ui-buttonset .ui-button,
#frequencySelectorContainer.ui-buttonset .ui-button {
  border: 1px solid #cecece;
}
.chartIndexing .ui-buttonset .ui-button:hover,
#animated_map_type_container.ui-buttonset .ui-button:hover {
  background: url("images/bg-shade2.png") repeat-x 0 0 #76d5ff;
  border-left: 1px solid #5eabcc;
  border-right: 1px solid #5eabcc;
}
#animated_map_transport_container .ui-button:hover,
#visualizationSelectorContainer.ui-buttonset .ui-button:hover,
#frequencySelectorContainer.ui-buttonset .ui-button:hover {
  background: url("images/bg-shade2.png") repeat-x 0 0 #76d5ff;
  border: 1px solid #5eabcc;
}
.chartIndexing .ui-buttonset .ui-state-active.ui-button,
#animated_map_type_container.ui-buttonset .ui-state-active.ui-button,
#animated_map_transport_container .ui-state-active.ui-button {
  border-left: 1px solid #0072a3;
  border-right: 1px solid #0072a3;
  background: url("images/bg-shade.png") repeat-x 0 -3px #189BD7;
  color: #ffffff;
}
#animated_map_transport_container .ui-state-active.ui-button,
#visualizationSelectorContainer .ui-state-active.ui-button,
#frequencySelectorContainer .ui-state-active.ui-button {
  border: 1px solid #0072a3;
  background: url("images/bg-shade.png") repeat-x 0 -3px #189BD7;
  color: #ffffff;
}
.chartIndexing #indexContainer {
  margin-top: 7px;
  margin-bottom: 3px;
  padding: 0 10px 0 10px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  min-height: 27px;
}
#map {
  height: 450px;
  padding: 9px 14px 0 14px;
}
h2.map_title,
div.map_container {
  margin: 9px 14px 0 14px;
}
div.map_container {
  margin-right: 0 !important;
}
div.legend_container {
  margin-right: 14px;
  margin-top: 50px !important;
}
#map #map_legend {
  width: 250px;
  font-size: 12px;
  height: 1.5em;
  margin: 0 0 0 0;
}
#map_legend span {
  float: none;
  font-weight: bold;
  vertical-align: top;
}
#map_legend > span > span {
  margin-right: 7px;
  margin-top: 0;
  text-align: right;
  display: block;
  clear: none;
  position: absolute;
  right: 18px;
}
#map_legend > span > span:first-child {
  margin-top: 20px;
  margin-left: 7px;
  text-align: left;
  display: block;
  left: 688px;
}
#map_legend > span > span.map_legend_gradient {
  float: none;
  margin-top: 0;
  margin-left: 7px;
  position: relative;
  right: 0;
  left: 0;
}
#mapTitle {
  color: black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #dadada;
}
.chart_indexing {
  margin-top: 0.5em;
  padding-left: 0.75em;
}
.chart_indexing h4,
.chart_indexing form {
  float: left;
}
.animated_map_button_container {
  width: 250px;
  float: left;
}
.animated_map_button_container hr {
  background-color: #000000;
}
#animated_map_transport_container {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: 1px;
  width: 250px;
}
#controls_container {
  width: 925px;
  float: right;
  margin-top: 10px;
}
#controls_container h2 {
  border-bottom: 1px solid #333333;
  font-weight: bold;
}
#animated_map_type_container {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  clear: both;
}
#animated_map_slider {
  width: 232px;
  padding: 0;
  margin: 30px 0 20px 10px;
  float: left;
  clear: both;
}
#animated_map_slider > a,
#animated_map_slider > a:hover,
#animated_map_slider > a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
#animated_map_transport_container button .ui-button-text-icon-primary,
.map_play_icon,
.map_pause_icon,
.map_reset_icon {
  background-image: url("images/icon-sprites2.png") !important;
  float: left;
  display: inline-block;
}
#animated_map_transport_container #play_button + label {
  width: 60px;
  height: 19px;
}
#animated_map_transport_container #pause_button + label {
  width: 60px;
  height: 19px;
}
#animated_map_transport_container #reset_button {
  height: 30px;
  line-height: 19px;
  width: 80px;
}
#animated_map_transport_container #reset_button.ui-button.ui-state-focus {
  color: #000000;
}
.map_play_icon {
  background-position: -9px -201px;
}
#animated_map_transport_container .ui-button:hover .map_play_icon {
  background-position: -39px -201px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_play_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_play_icon {
  background-position: -69px -201px;
}
.map_pause_icon {
  background-position: -9px -224px;
}
#animated_map_transport_container .ui-button:hover .map_pause_icon {
  background-position: -39px -224px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_pause_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_pause_icon {
  background-position: -69px -224px;
}
.map_reset_icon {
  background-position: -8px -246px;
}
#animated_map_transport_container .ui-state-focus.ui-button .map_reset_icon,
#animated_map_transport_container .ui-state-active.ui-button .map_reset_icon,
#animated_map_transport_container .ui-button:hover .map_reset_icon {
  background-position: -39px -246px;
}
#tableContainer {
  position: relative;
  white-space: nowrap;
  height: 700px;
  clear: left;
}
#tableContainer.loading {
  background-image: url("http://www.eia.gov/global/scripts/jQuery/tabs/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
}
/**
* Buttons
**/
.download_button,
.help_button,
.pub_button,
.case_button,
.region_button {
  height: 24px;
  padding: 2px;
  display: inline-block;
  border: 1px solid #cccccc;
  font-size: 12.8px;
  background: url("images/bg-sprites.png") repeat-x 0 1px;
}
.download_button .download_button_text,
.help_button .help_button_text,
.pub_button .pub_button_text,
.case_button .case_button_text,
.region_button .region_button_text {
  display: inline-block;
  padding: 0.25em 1.75em 0 0.25em;
  color: #189BD7;
  background: url("images/icon-sprites.png") no-repeat;
  text-transform: uppercase;
}
.download_button:hover .download_button_text,
.help_button:hover .help_button_text {
  text-decoration: underline;
}
.download_button:hover,
.help_button:hover,
.pub_button:hover,
.case_button:hover,
.region_button.active:hover {
  cursor: pointer;
}
.download_icon,
.help_icon {
  display: inline-block;
  background: url("images/icon-sprites.png") no-repeat;
}
.download_button.selected,
.help_button.selected,
.pub_button.selected,
.case_button.selected,
.region_button.selected {
  width: auto;
  border: 1px solid #189BD7;
  background: #189BD7;
}
.download_button.selected .download_button_text,
.help_button.selected .help_button_text,
.pub_button.selected .pub_button_text,
.case_button.selected .case_button_text,
.region_button.selected .region_button_text {
  color: #fff;
}
#overlay_download_button:hover .download_button_text {
  text-decoration: none;
}
#overlay_download_button:hover {
  cursor: default;
}
/**
* Download Button
**/
.download_button .download_button_text {
  background-position: 78px -86px;
}
.download_icon {
  width: 30px;
  background-position: 0 -66px;
}
.download_button.selected .download_icon {
  background-position: -30px -66px;
}
.download_button.selected .download_button_text {
  background-position: -132px -86px;
}
dl.download_menu {
  margin-bottom: 0;
}
.download_menu dt {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: solid 1px #DADADA;
  padding-top: 10px;
  margin-bottom: 6px;
  text-transform: uppercase;
  clear: both;
}
.download_menu dt.clear {
  margin-top: -20px;
  border-bottom: none;
}
.download_menu dd {
  margin-left: 0;
}
/**
* Help Button
**/
.help_icon {
  width: 24px;
  background-position: -118px -66px;
}
.help_button .help_button_text {
  background: none;
  padding-right: .5em;
  color: #00405D;
}
#pubstables_dialog_wrap,
#cases_dialog_wrap,
#regions_dialog_wrap {
  display: none;
}
/**
* Time Selection
**/
#time_selection_container {
  width: auto;
  height: 50px;
  display: inline-block;
  float: left;
}
#timeSelectionContainer {
  width: auto;
  float: left;
}
.timeSlider {
  width: 320px;
  float: left;
  margin-top: 0.45em;
}
.timeSlider .ui-slider-handle {
  cursor: pointer;
  cursor: -moz-grab;
}
.timeSlider .ui-slider-handle.ui-state-hover {
  text-decoration: none;
}
#visualizationSelectorContainer,
#frequencySelectorContainer,
#timeSliderContainer {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  padding: 2em 0.75em 0.75em 0;
  vertical-align: middle;
  margin-right: -20px;
  font-size: 12.8px;
}
#visualizationSelectorContainer,
#frequencySelectorContainer {
  min-width: 194px;
  padding: 20px 40px 0 4px;
  margin-right: 0;
}
#visualizationSelectorContainer .labelContainer,
#frequencySelectorContainer .labelContainer {
  float: left;
  width: auto;
  margin-right: 4px;
  text-transform: uppercase;
}
#visualizationSelectorContainer label,
#frequencySelectorContainer label {
  vertical-align: top;
}
#timeSliderContainer .labelContainer {
  float: left;
  width: auto;
  margin-right: 1em;
  text-transform: uppercase;
}
.time_slider_tooltip,
.time_slider_tooltip:hover {
  width: 100px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: -1.8em;
}
.time_slider_tooltip + .time_slider_tooltip,
.time_slider_tooltip + .time_slider_tooltip:hover {
  text-align: right;
  left: inherit !important;
  right: -8px !important;
}
.dual_slider_handle + .time_slider_tooltip,
.dual_slider_handle + .time_slider_tooltip:hover {
  margin-right: 0;
  margin-left: -8px;
}
.single_slider_handle .time_slider_tooltip,
.single_slider_handle .time_slider_tooltip:hover {
  margin-top: -1.6em;
}
#main_download_button {
  margin-top: 20px;
  float: right;
  margin-left: 1.2em;
  display: inline-block;
}
#help_button {
  display: inline-block;
  margin-left: 1.2em;
  margin-top: 20px;
  float: right;
  background: url("images/bg-sprites.png") repeat-x 0 -44px;
}
#help_button.selected {
  background-image: none;
  background-color: #189BD7;
}
#footnote_container {
  margin-top: 2em;
  /*font-style: italic;*/
  font-size: 13px;
  margin-left: .5em;
  clear: left;
}
#source {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  color: #888;
  float: left;
}
#search_container {
  display: none;
}
.link_prompt {
  color: grey;
}
.link_option {
  color: #000;
}
.link_option_series {
  color: #000;
}
.qtip-content {
  font-size: 12.8px;
}
/**
* Slider styles
**/
#table_select_right .ui-slider .ui-slider-handle,
#table_select_left .ui-slider .ui-slider-handle,
#case_select_inner .ui-slider .ui-slider-handle,
#region_select_inner .ui-slider .ui-slider-handle {
  background-color: #189BD7;
  border: solid 1px #189BD7;
  border-radius: 4px;
  left: -5px;
  width: 17px;
  height: 31px;
  margin-bottom: -18px;
  margin-top: 0;
  background-image: url("images/icon-sprites.png");
  background-position: -4px -150px;
}
#tableContainer .ui-slider.hSliderTop .ui-slider-handle {
  background-color: #189BD7;
  border: solid 1px #189BD7;
}
.ui-slider-handle:hover {
  cursor: pointer;
  cursor: -moz-grab;
}
/**
* Filter menu styles
**/
#download_dialog > div {
  border-top: 3px solid #189BD7;
}
#download_dialog > div {
  padding: 0 10px 10px 10px;
}
.searchContainer {
  padding: 0 2.4em 1em 2.4em;
}
div.filter_tree_scroller {
  height: 350px;
  position: relative;
  float: right;
  margin-top: 22px;
  margin-right: 14px;
}
.hidden {
  display: none;
}
/**
* Download menu styles
**/
#download_dialog_wrap {
  display: none;
}
#download_dialog {
  background: #fff !important;
  height: auto;
  width: auto;
  position: relative;
}
ul.download_menu {
  display: block;
  position: relative;
  background-color: #FFFFFF !important;
  list-style-type: bullet;
  padding-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
ul.download_menu > li a {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}
ul.download_menu > li {
  background-color: #FFFFFF !important;
  display: block;
  position: relative;
  padding: 0.4em 0 0.4em 0;
  margin-left: 4px;
  margin-right: 4px;
}
ul.download_menu > li {
  margin-left: 12px;
}
ul.download_menu > .clear {
  display: block;
  position: relative;
  float: none;
  clear: both;
}
ul.download_menu > li.disabled {
  enabled: false;
}
/**
* Choose dataset and Addition info boxes
**/
.ltblue {
  background-color: #DFF2FB;
  padding-top: 0;
  padding-bottom: 12px;
}
.grey_side h5 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 11.5px;
}
.grey_side form {
  border-bottom: 1px solid #E3E5E6;
  margin: 0;
  padding-bottom: 16px;
}
.grey_side form + h5 {
  padding-top: 10px;
}
.ltblue h3 {
  font-size: 11.5px;
  text-transform: uppercase;
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.ltblue form {
  border-bottom: none;
  padding-bottom: 0;
}
.ltblue form + h1 {
  padding-top: 20px;
}
/**
* Time Selection Styles
**/
#time_selection_container {
  display: inline-block;
  margin: 0 10px;
  float: right;
  text-align: right;
}
/**
* Time slider styles
**/
.timeSlider .ui-slider-handle.ui-state-default.dual_slider_handle {
  background: url("images/icon-sprites.png") no-repeat scroll -37px -124px transparent;
  border: none;
  margin-top: -0.175em;
  border-radius: 0;
}
.timeSlider div + .ui-slider-handle.ui-state-default.dual_slider_handle {
  background: url("images/icon-sprites.png") no-repeat scroll -6px -124px transparent;
  border: none;
  margin-top: -0.175em;
  border-radius: 0;
}
.timeSlider .ui-slider-handle.ui-state-default.single_slider_handle,
#animated_map_slider .ui-slider-handle.ui-state-default {
  background: url("images/icon-sprites.png") no-repeat scroll -66px -124px transparent;
  border: none;
  margin-top: -0.175em;
  border-radius: 0;
}
.timeSlider.range.ui-slider.ui-slider-horizontal,
.timeSlider.ui-slider.ui-slider-horizontal,
#animated_map_slider.ui-slider.ui-slider-horizontal {
  height: 0.4em;
  border-color: #cccccc;
}
.timeSlider .ui-widget-header,
#animated_map_slider.ui-widget {
  background: url("images/bg-sprites.png") repeat-x scroll 0 -34px transparent;
}
.map_slider_tooltip {
  line-height: 1.1em;
  text-align: center;
}
#visualizationSelectorContainer .ico,
.qtip-wrapper .ico {
  background: url("images/icon-sprites2.png") no-repeat;
  display: inline-block;
  width: 16px;
  height: 13px;
  margin-right: 5px;
}
#visualizationSelectorContainer .ico.linechart,
.qtip-wrapper .ico.linechart {
  background-position: -6px -67px;
}
#visualizationSelectorContainer .ui-state-active .ico.linechart,
.qtip-wrapper .ui-state-active .ico.linechart,
#visualizationSelectorContainer label:hover .ico.linechart,
.qtip-wrapper label:hover .ico.linechart {
  background-position: -96px -67px;
}
#visualizationSelectorContainer .ico.map,
.qtip-wrapper .ico.map {
  background-position: -8px -120px;
}
#visualizationSelectorContainer .ui-state-active .ico.map,
.qtip-wrapper .ui-state-active .ico.map,
#visualizationSelectorContainer label:hover .ico.map,
.qtip-wrapper label:hover .ico.map {
  background-position: -98px -120px;
}
#visualizationSelectorContainer .ico.sourcekey,
.qtip-wrapper .ico.sourcekey {
  background-position: -8px -143px;
}
#visualizationSelectorContainer .ico.pin,
.qtip-wrapper .ico.pin {
  background-position: -10px -161px;
}
#study_title {
  border-bottom: none;
  font-size: 20px;
  padding-bottom: 0;
  padding-top: 15px;
  margin-bottom: 0;
  clear: both;
}
#table_title {
  border-bottom: none;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-style: italic;
  clear: both;
}
.blue_side_border {
  border-left: solid 4px #189BD7;
  border-right: solid 4px #189BD7;
}
#blue_arrow {
  float: left;
  height: 25px;
  margin-top: 25px;
  margin-left: 0;
  margin-right: 0;
}
#blue_arrow #shaft {
  float: left;
  height: 11px;
  width: 25px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: solid 2px #189BD7;
}
#blue_arrow #head {
  float: left;
  width: 0;
  height: 0;
  margin-left: 0;
  margin-right: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid #189BD7;
}
.pub_button_container,
.case_button_container,
.region_button_container {
  margin-top: 22px;
  float: right;
}
.region_button {
  opacity: 0.4;
  cursor: default;
}
.region_button.active {
  opacity: 1;
}
/* Underline on rollover, and remove underline when selected */
.pub_button:hover .pub_button_text,
.case_button:hover .case_button_text,
.region_button.active:hover .region_button_text {
  text-decoration: underline;
}
.pub_button.selected .pub_button_text,
.case_button.selected .case_button_text,
.region_button.selected .region_button_text {
  text-decoration: none;
}
/* Position the down arrow inside each button (normal state) */
.pub_button .pub_button_text {
  background-position: 165px -86px;
}
.case_button .case_button_text {
  background-position: 140px -86px;
}
.region_button .region_button_text {
  background-position: 62px -86px;
}
/* Position the down arrow inside each button (rollover state) */
.pub_button.selected .pub_button_text {
  background-position: -45px -86px;
}
.case_button.selected .case_button_text {
  background-position: -70px -86px;
}
.region_button.selected .region_button_text {
  background-position: -148px -86px;
}
#table_select,
#case_select,
#region_select {
  position: absolute;
  z-index: 200;
  background-color: #fff;
  width: 800px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#table_select,
#region_select {
  height: 470px;
}
#table_select_inner,
#case_select_inner,
#region_select_inner {
  padding: 15px;
}
#table_select_left {
  float: left;
  width: 380px;
  height: 425px;
  overflow-y: hidden;
}
#table_select_right {
  float: right;
  width: 375px;
  height: 425px;
  overflow-y: hidden;
  background-color: #DFF2FB;
  border-left: solid 4px #189BD7;
}
/* AEO Tables list (in Publications & Tables modal dialog) */
#table_select_right ul.menuHide {
  display: none;
}
#table_select_right ul.tablesTree {
  padding-left: 17px;
}
#table_select_right ul.tablesTree li {
  list-style-type: none;
  list-style-position: inside;
}
#table_select_right ul.tablesTree li.subjectItem {
  clear: both;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: pointer;
}
#table_select_right img.accordion-open,
#table_select_right img.accordion-close {
  float: left;
  cursor: pointer;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  margin-top: 5px;
}
#table_select_right img.accordion-open {
  background: url("images/plus1.gif") 0 0;
}
#table_select_right img.accordion-close {
  background: url("images/minus1.gif") 0 0;
}
div.pubs_tables_scroller {
  height: 344px;
  position: relative;
  float: right;
  margin-top: 22px;
  margin-right: 14px;
}
.all_tables div.pubs_tables_scroller {
  height : 311px;
}
/* END AEO Tables list (in Publications & Tables modal dialog) */
.table_select_title,
.case_select_title,
.region_select_title {
  font-size: 16px;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
div.table_select_title div#sort-options {
  float: right;
  font-size: 10px;
}
div.table_select_title div#sort-options span {
  padding: 5px;
}
div.table_select_title div#sort-options span.selected {
  background-color: #fff;
}
.pub_item {
  clear: both;
  font-size: 15px;
  margin-left: 15px;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.pub_item.selected {
  background-color: #189BD7;
  color: #fff;
}
.pub_item:hover {
  background-color: #189BD7;
  color: #fff;
  cursor: pointer;
}
.table_item,
.case_item,
.region_item {
  clear: both;
  font-size: 13.2px;
  margin-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #189BD7;
}
.case_item,
.region_item {
  font-size: 15px;
  padding-top: 2px;
  color: #000;
}
/* Override label spec in screen.css */
.region_item label {
  font-weight: normal;
}
.case_item span:hover,
.region_item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.scrollable_list {
  float: left;
  width: 340px;
  height: 385px;
  overflow-y: hidden;
  padding-right: 0;
}
.all_tables .scrollable_list {
  height :352px;
}
#table_select_cancel,
#case_select_cancel,
#case_select_submit,
#region_select_cancel,
#region_select_submit {
  height: 20px;
  float: right;
  font-size: 15px;
  clear: both;
  margin-left: 500px;
  text-align: right;
  margin-bottom: 5px;
}
#case_select_cancel,
#case_select_submit,
#region_select_cancel,
#region_select_submit {
  clear: none;
  margin-left: 10px;
}
#table_select_cancel span,
#case_select_cancel span,
#case_select_submit span,
#region_select_cancel span,
#region_select_submit span {
  text-transform: uppercase;
  color: #189BD7;
}
#table_select_cancel span:hover,
#case_select_cancel span:hover,
#case_select_submit span:hover,
#region_select_cancel span:hover,
#region_select_submit span:hover {
  text-decoration: underline;
  cursor: pointer;
}
#table_select_cancel:hover div,
#case_select_cancel:hover div,
#case_select_submit:hover div,
#region_select_cancel:hover div,
#region_select_submit:hover div {
  opacity: 1.0;
  cursor: pointer;
}
#table_select_cancel div,
#case_select_cancel div,
#case_select_submit div,
#region_select_cancel div,
#region_select_submit div {
  background-image: url("images/icon-sprites.png");
  background-position: -61px -186px;
  opacity: 0.3;
  padding-left: 20px;
  display: inline;
}
#case_select_submit div,
#region_select_submit div {
  background-position: -3px -186px;
}
.float_left {
  float: left;
}
#case_select,
#region_select {
  width: 330px;
}
#case_select #cases_warning {
  color: #f00;
  padding-top: 10px;
  font-weight: bold;
}
/* Number of cases selected, and reset link */
#cases_options {
  clear: both;
  width: 100%;
  border-bottom: 1px #999 solid;
}
#case_select_inner .scrollable_list,
#region_select_inner .scrollable_list {
  width: 260px;
}
.scrollable_list .checkBox {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: 4px;
}
.scrollable_list .checkBox.checked {
  background: url("images/checkBoxes4.png") 0 0;
}
.scrollable_list .checkBox.checked:hover {
  background: url("images/checkBoxes4.png") -14px 0;
}
.scrollable_list .checkBox.unchecked {
  background: url("images/checkBoxes4.png") -56px 0;
}
.scrollable_list .checkBox.unchecked:hover {
  background: url("images/checkBoxes4.png") -70px 0;
}
.scrollable_list .checkBox.uncheckedDisabled {
  background: url("images/checkBoxes4.png") -84px 0;
  cursor: default;
}
/**
* Load Mask Styles
**/
.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
  background-color: #777;
  width: 100%;
  height: 100%;
  zoom: 1;
}
.loadmask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  background: #189BD7;
  padding: 2px;
}
.loadmask-msg div {
  padding: 5px 10px 5px 10px;
  line-height: 16px;
  background: #fbfbfb;
  text-align: center;
}
.loadmask-msg div span.loading {
  padding: 5px 0 5px 25px;
  background: url("images/ajax-loader.gif") no-repeat 5px 5px;
  cursor: wait;
}
.masked {
  overflow: hidden !important;
}
.masked-relative {
  position: relative !important;
}
.masked-hidden {
  visibility: hidden !important;
}
a.download_option {
  cursor: pointer;
}
#tableFilter {
  margin-left: 15px;
  width: 170px;
}
