label {
	font-weight: normal;
	vertical-align: bottom;
}

select {
	border-radius: 0;
	font-weight: normal;
	height: auto;
	background-color: none;
}
optgroup { font-size:1em; }
button {
	background-color:#0096d7;
	color: #fff;
	font-size: 1.5em;
	border:none;
}

.sidebar {
	padding: 0 .5em 0 .5em;
	margin: 1em 0;
	font-size: 1em;
}

.bottom {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.bottom img {
	padding: 0;
	margin: 0;
}

.branding-below {
	bottom: 54px;
	top: 0;
}

.branding-text {
	left: 7px;
	position: relative;
	top: 3px;
}

.logo {
	vertical-align: middle;
}

.width-100 {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing : border-box;‌
-moz-box-sizing : border-box;
}

.hidden, .hidden_search {
	display: none;
}
.hidden_id {
	display: none;
}
.icon {
	float:left;
	width: 1.2em;
	margin: 0 .2em .2em 0;
	padding: 0 0 0 0;
}

#tabs, #accordion, #accordion2, #show_filter {
	width: 100%;
	height: auto;
	border: none;
	/*font-size: .9em;*/
	font-weight: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#accordion {
	width: 100%;
	height: auto;
	border: none;
	font-size: .9em;
	font-weight: normal;
	padding: 0 0 0 0;
	margin: 0 0 2em 0;
}

#accordion .panel {
	border: none;
	padding: 1em 0 1em 0;
	clear: both;
	overflow: hidden;
}

.box {
	min-height: 15em;
	clear:all;
}
#accordion h3.ui-state-default {
	font-weight: normal;
	font-size: 1em;
	color: #444;
	background: none;
	border: none;
	background-color: #bdc3c7;
	/*border: none;
	border-bottom: .1em solid #cccccc;*/
	border-radius:0;
	padding:1em .5em .5em 2em;
	margin:0;
	/*padding: 0 0 0 2em;
	margin: 1em 0 0 0;*/
}
#accordion h3.ui-state-active {
	color: #fff;
	background: none;
	border: none;
	border-bottom: .1em solid #5d9732;
	border-radius:0;
	/*background-color: #34495e;*/
	background-color: #5e9c30;
}

#show_filter .panel, #accordion div {
	/*height: 22em;*/
	border: none;
}
#show_filter .panel ul, #accordion div ul, #accordion div {
	border-bottom: none;
	padding: 0;
	margin: 0;
}
#tabs ul {
	background: none;
	border: none;
	border-bottom: .2em solid #4d90fe;
	padding: 0px;
	margin: 1em 0;
	border-radius:0;
}
#tabs ul li {
	padding: 0;
	margin: 0 .3em .1em 0;
}

#tabs .ui-tabs-panel {
	background: none;
	border: none;
	padding: 0;
	margin: .4em 0;
}

#tabs li {
	/*border: 1px solid #d3d3d3;
	background-color: #eeeeee;*/
	border: none;
	color: #555555;
	outline: none;
}

#tabs li a {
	/*border: 1px solid #d3d3d3;
	background-color: #eeeeee;*/
	border: none;
	color: #555555;
	font-weight: bold;
	outline: none;
}

#tabs .ui-state-active {
	background: none;
	background-color: #4d90fe;
	/*border: 1px solid #d3d3d3;*/
	outline: medium none;
}

#tabs .ui-state-active a {
	color: #ffffff;
	font-weight: bold;
}

#nav_list {
	padding: 0;
	list-style-type: none;
}
#nav_list li {
	margin-bottom: .3em;
}

#sidebar-value-block,
#dialog-elements {
	background-color: #eee;
	border-color: #eee;
	border-width: 5px;
	border-style: solid;
}

#sidebar-button-bar,
#dialog-button-bar {
	margin-bottom: 10px;
}
.ui-corner-top{
	border-radius:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
/*<img class="icon" src='http://www.eia.gov/images/google_add-on_icons/0049-folder-open.png' alt='folder icon' width='10' > */
/*.icon-folder {
	padding-left:5px;
	background:url(http://www.eia.gov/images/google_add-on_icons/0049-folder-open-small.fw.png) no-repeat top left;
	display: inline-block;
	height: 15px;
	width: 15px;
}*/

#series_table {
	width: 100%;
	margin-bottom: 3em;
	/*background-color: #eeeeee;
	margin: 10em 0;
	padding: 0;*/
}
td {
	margin: 0;
	padding: .3em .3em .1em .1em;
}
/*table th td {
  font-weight: bold;
  text-align: center;
  padding: .5em .5em .2em .5em;
  margin: 0;
  border-bottom: .1em solid #cccccc;

}
table tr td {
  text-align: center;
}*/
.tbl_btn, .tbl_btn:hover, .tbl_btn:active {
	/*padding: 0;
	margin: 0;
	background: none;*/

	background:none;
	border:none;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	padding:0 .3em 0 0;
	font: inherit;
	/*border is optional*/
	/*border-bottom:1px solid #444;*/
	/*cursor: pointer;*/
}

.tbl_btn:hover, .tbl_btn:active {
	text-decoration: underline;
	cursor:pointer;
}

.element {
	vertical-align: middle;
	padding: 0 0 0 0;
}
#search_results {
	height: 40em;
	margin: 0 0 1em 0;
	background-color: #fff;
}
#search_results ul {
	height: 40em;
	/*width: 26em;
	width: 98%;
	height: auto;
	max-height: 20em;*/
	overflow: auto;
	/*border: .1em solid #ccc;*/
	border: .1em solid #ccc;
	/*border-bottom: none;*/
	margin:0;
	padding:0;
	background-color: #fff;
}

#search_results ul .tog {
	width: 24em;
	width:auto;
	height: auto;
	max-height: 10em;
	overflow: auto;
	/*border: .1em solid #ccc;*/
	/*border: none;
	border-bottom: none;*/
	margin:0 0 0 0;
	padding:0 0 0 0;
}

#search_results ul div {
	padding: 0;
	margin:  0;
	height:  0;
}

#search_results li {
	font-size: 1em;
	color: #777777;
	border-bottom: .1em solid #cccccc;
	cursor: pointer;
	padding: 1em 0 1em 0;
	margin: 0 0 0 0;
	min-height: 2em;
	/*line-height:1em;*/
	/*padding: .5em 0 1em 0;
	margin: 0;*/
}
#search_results li:hover {
	background-color: #eeeeee;
}

#res_list {
	height: auto;
	padding:0;
	margin:0;
}

#facets_list li, #facets_list li select{
	margin:0;
	padding:0;
}

#search_title {
	/*font-size: 1.2em;
	font-weight: bold;*/
	color: #666666;
	padding:0 0 0 0;
	margin: 1em 0 0 0;
}
.result {
	padding: .5em 0 .5em 0;
	margin: 1em 0 1em 0;
}
.result a {
	margin: 0 0 0 1em;
	display:block;
}
/*.result {
  font-size: .9em;
  border-bottom: .1em solid #eeeeee;
  padding: .5em 0 1em 0;
  margin: 0;
  line-height: 150%;
  color: #777777;
}
.result a {
  font-size: 1.1em;
  font-weight: bold;
  color: #555555;
}*/
.result span {
	font-size: .9em;
	font-weight: normal;
	color: #999999;
}

.result b {
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}

.error {
	font-size: 1em;
	font-weight: bold;
	padding: .5em 1em .5em .5em;
	/*background-color: #a33340;*/
}
/*.result p {
  font-size: inherit;
  font-weight: normal;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}*/
#search_term {
	width: 16em;
}
.small_font {
	font-size: .9em;
	color: #555555;
}

#filter_list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: none;

	background: none;
	border: none;
	border-bottom: .1em solid #ffffff;
	padding: 0px;
	margin: 1em 0;
	border-radius:0;
}

#filter_list ul {
	background: none;
	border: none;
	border-bottom: .2em solid #ffffff;
	padding: 0px;
	margin: 1em 0;
	border-radius:0;
}
#button_group {
	/*margin: .5em 0 0 0;*/
	clear:both;
}

#page_counter{
	float: left;
}
#record_count {
	float: right;
	font-weight:bold;
}
#filter_list {
	display: none;
}
input[type="radio"] {
	margin: 0;
	padding: 0;
}
.radio_label {
	padding: 0 0 0 0;
	margin: 0 1em 0 0;
}
.expand_filter {
	margin: 3em 0 0 0;
	display: block;
	border-bottom: .1em solid #5d9732;
}
#search_text {
	width:12.5em;
	padding: .25em;
	border: .1em solid #ccc;
	/*width: 16.5em;*/
}
#data_status{
	position: absolute;
	bottom: 10em;
	left: .5em;
	font-size: 1.1em;
	color: #555555;

}

#page_index {
	display: none;
}
#status-message {
	display:block;
	/*background-color: #333333;*/
	padding: 1em;
	font-size: 1.2em;
	color: #555;
	/*color: #fff;*/
}
.selectfilterSearch, #resetBtn {
	width: 100%;
	padding:.5em 0 .5em 0;
	margin:0;
	border: .1em solid #ccc;
} 

/* border-radius: 0; background: none; border:none; background-color: #eeeeee; */