/* All RTECS specific stuff */
.steohead {
	font-family: "Palatino Linotype";
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-size: 24pt;
}
.SectionHeadLink {
	background-color: #D3E1FA;
	text-indent: 5pt;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

TD.SteoTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	background-color: #B3D9D9;
}
TD.mytd {
	FONT-WEIGHT: normal;
	FONT-FAMILY: Arial, Sans-Serif, helvetica;
	vertical-align: middle;
	text-align: left;
}

div.mydiv {
	FONT-WEIGHT: normal;
	FONT-FAMILY: Arial, Sans-Serif, helvetica;
	color: #000000;
}
.mydiv A {
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial, Sans-Serif, helvetica;
	FONT-SIZE: 10pt;
	color: #000099;
	text-decoration: none;
}
.mydiv A:link {color: #000099; FONT-WEIGHT: bold; text-decoration: underline;}
.mydiv A:visited {COLOR: #000099; FONT-WEIGHT: bold; text-decoration: underline;}
.mydiv A:hover {COLOR: #990033; FONT-WEIGHT: bold; text-decoration: underline;}

div.mydiv2 {
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica;
	color: #000099;
}
.mydiv2 A {
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica;
	FONT-SIZE: 12px;
	color: #990033;
	text-decoration: none;
}
.mydiv2 A:link {color: #990033; FONT-WEIGHT: bold;}
.mydiv2 A:visited {COLOR: #990033; FONT-WEIGHT: bold;}
.mydiv2 A:hover {COLOR: #FFFFFF; FONT-WEIGHT: bold; background-color: #990033; text-decoration: underline;}

td#alvm {
	vertical-align: middle;
	text-align: left;
}

td#alvt {
	vertical-align: top;
	text-align: left;
}

td#alvb {
	vertical-align: bottom;
	text-align: left;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.lightrow {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; background-color: #FFFFFF}
.darkrow { font-family: Arial, Helvetica, sans-serif; font-size: 10px; background-color: #B3D9D9}
.headrow1 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color: #B3D9D9; font-weight: bold}
.headrow2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color: #FFFFFF; font-weight: bold }

.pullout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: #D1EDED;
	text-align: left;
}

.rightbox {
	background-color: #FFCC33;
}

.relatedbox {
	border: medium double #FFCC33;
}

.endnotes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.figurecaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 14px;
}
.figureactive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color: #D1EDED;
	line-height: 14px;
}
.figuresource {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	line-height: 10px;
}

br#mybr {
	clear: both;
}