/* All RTECS specific stuff */
.steohead {
	font-family: "Palatino Linotype";
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-size: 24pt;
}

TD.SteoTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	background-color: #949CCE;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.lightrow {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; background-color: #FFFFFF}
.darkrow { font-family: Arial, Helvetica, sans-serif; font-size: 10px; background-color: #949CCE}
.headrow1 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color: #949CCE; font-weight: bold}
.headrow2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color: #FFFFFF; font-weight: bold }

.pullout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: #BDC6DE;
	text-align: left;
}

.rightbox {
	background-color: #FFCC33;
}

.relatedbox {
	border: medium double #FFCC33;
}

.endnotes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.figurecaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
        line-height: 14px;
}
.figuresource {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
        line-height: 10px;
}
li.RTECSBullets {
	list-style-type: square;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 2px;
	margin-bottom: 2px;
}