body, html {
  background-color: #ffffff;
  margin-bottom: 0;
  overflow-y: auto;
}
.modal-header {
  min-height: 106px;
  height: auto;
  margin-bottom: 20px;
  background: white url("http://www.eia.gov/global/images/page_headers/conference.jpg") no-repeat scroll right top;
}
.modal-header h1 {
  color: #ffffff;
}
.modal {
  margin: 20px;
  width: 900px;
  min-height: 600px;
}
.modal > h1 {
  display: block;
  font-size: 26px;
  border-bottom: solid 1px #dadada;
  padding-bottom: 6px;
  padding-top: 16px;
  font-weight: normal;
}
.modal  h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}
.modal  h2 {
  margin-bottom: 0px;
}
.modal  p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
  line-height: 1.75em;
}
.modal  h2+p {
  margin-top: 0px;
}
.modal .two_col {
  width: 48%;
  max-width: 350px;
  float:left;
}
.modal .two_col:first-of-type {
  margin-right: 40px;
}
.modal  table {
  margin-top: 20px;
  width: 100%;
}
.modal  table thead th {
  line-height: 1.25em;
  padding-bottom: 4px;
}
.modal  table, .modal  table tbody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  line-height: 1.75em;
}
.modal  table tbody tr:last-child td  {
  border-bottom: 1px solid #189bd7;
}

.modal-section {
  border-top: 4px solid #189bd7;
  margin-top: 48px;
}
/*--tab styles-------*/

.modal .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.modal .page_tabs hr {
  margin: -1px 0 0 0;
  background: #189bd7;
}
.modal .ui-state-default {
  background-color: #ffffff;
  border: none;
}
.modal ul li.ui-state-default {
  margin-top: 0px;
}
.modal .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #999999;
  font-style: italic;
}
.modal .ui-state-default.ui-state-hover a {
  color: #189bd7;
}
.modal .page_tabs .ui-state-active, .modal .ui-widget-content .ui-state-active {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #189bd7;
  border-bottom: none;
  padding-bottom: 0px;
  font-style: italic;
}
.modal .ui-tabs .ui-tabs-nav li a {
  padding: .5em .75em .3em .75em;
}
.modal .page_tabs .ui-state-active a, .modal .ui-state-active a:link, .modal .ui-state-active a:visited {
  color: #333333;
}
.modal .ui-tabs .ui-tabs-panel,
.modal-section {
  border: none;
  padding: 0 24px;
}
.modal .ui-tabs .ui-tabs-panel {
  padding-top: 24px;
}
/*.modal .ui-tabs .ui-tabs-panel p {
  border-top: 1px dashed #dadada;
  padding-top: 6px;
  margin-top: 6px;
}
.modal .ui-tabs .ui-tabs-panel p:first-child {
  border-top: none;
}*/

/*--end tab styles---*/