<style type="text/css">	<!--

	TD.Blank {}

	TR.Row {
	background-color : #FFFFEA;
}
	TH.C1 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	text-align : center;
	font-weight : bold;
	vertical-align : top;
}
	TD.Title1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	text-align : center;
	font-weight : bold;
}
	TD.Title2 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 9pt;
	font-weight : bold;
}
	TD.A {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	font-weight : bold;
	}
		TD.B1 {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
		TD.B2 {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
		TD.B3 {
	font-family : "Times New Roman", Times, serif;
	font-size : 9pt;
	text-align : right;
}
		TD.B4 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	text-align : center;
	background-color : #DDDDDD;
	font-weight : bold;
}
		TD.B6 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	text-align : left;
	background-color : #DDDDDD;
}

		TD.B5 {
	font-family : "Times New Roman", Times, serif;
	font-size : 9pt;
	text-align : right;
	font-weight : normal;
	background-color : #DDDDDD;
}
		TD.Notes {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
		TD.C {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
		text-align : center;
	}
		TD.D {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 8pt;
	}
		TD.E {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 8pt;
}
	TD.F {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : Black;
}
	TD.F2 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Black;
}
	TH.G {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : White;
	font-weight : bold;
	text-align : right;
	vertical-align : bottom;
}
	TH.G2 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : White;
	font-weight : bold;
	text-align : center;
	vertical-align : bottom;
}
	TH.H {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Navy;
	font-weight : bold;
	text-align : center;
}
	TD.J {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Navy;
	font-weight : bold;
}
	TD.K {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: Red;
	font-weight: bold;
}
		TD.SubHead {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	font-weight : bold;
}
		TD.ENB {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-weight : bold;
}
		SPAN.Small {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Navy;
	font-weight : normal;
}
#refer {
     background-color: #f9e6d0;
	 width: 675px;
	 font-family : Arial, Helvetica, sans-serif;
	 font-size : 9pt;
     color: Navy;	
	 margin-bottom: 15px;
	 margin-top: 15px;	  
}
#rlabel {
  margin: 0;
  padding: 4px;
}
#refer p {
  margin-bottom: -20px;
}  
#refer ul {
  list-style-type: square;
  margin: 17px 0 0 30px;
  padding: 0 10px 5px 0; 
}
#refer li {
 padding: 1px;
}

	-->
</style>
