<style type="text/css">	<!--

	TD.Blank {}
	
	a.cat:link { color: Blue; }
	a.cat:active { color: Blue; }
	a.cat:visited { color: Blue; }
	a.cat:hover { color: Red; }
	
    #align_w {
	 width: 650px;
	}	
	
	TR.Row {
	background-color : #ffffe8;
}
	TH.C1 {
	font-family : Arial, Helvetica, sans-serif;
	color : White;
	font-size : 10pt;
	text-align : center;
	font-weight : bold;
}
	TD.Title_Page {
	font-family : Arial, Helvetica, sans-serif;
	color : Red;
	font-size : 12pt;
	font-weight : bold;
	text-align : center;
}
	TD.Title_Page2 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 12pt;
	font-weight : bold;
	text-align : center;
}
	TD.Title_Page3 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 13pt;
	font-weight : bold;
	text-align : left;
}
	TD.Title_Cat {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 9pt;
	font-weight : bold;
	text-align : left;
}
	TD.Title2 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 9pt;
	font-weight : bold;
}
	TD.A {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	font-weight : bold;
	}
	TD.A2 {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	font-weight : bold;
	background-color : #ffffe6;
	}
	TD.B1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	vertical-align : top;
}
	TD.B2 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	vertical-align : top;
	}
	TD.B3 {
	font-family : "Times New Roman", Times, serif;
	font-size : 9pt;
	text-align : right;
}
	TD.B4 {
	font-family : "Times New Roman", Times, serif;
	font-size : 9pt;
	text-align : center;
	font-weight : normal;
	background-color : #DDDDDD;
}
	TD.B5 {
	font-family : "Times New Roman", Times, serif;
	font-size : 9pt;
	text-align : right;
	font-weight : normal;
	background-color : #DDDDDD;
}
		TD.Notes {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
		TD.C {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
		text-align : center;
	}
		TD.D {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 8pt;
	}
		TD.E {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 8pt;
}
	TD.F {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : Navy;
}
	TD.G {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color : Navy;
}
	TH.G {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : White;
	font-weight : bold;
	text-align : center;
}
	TH.H {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Navy;
	font-weight : bold;
	text-align : center;
}

	TD.SubHead {
	font-family : Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10pt;
	font-weight : bold;
}
	TD.ENB {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-weight : bold;
}
	SPAN.Small {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Navy;
	font-weight : normal;
}
	SPAN.RedB {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color : #cc0066;
	font-weight : bold;
}

	-->
</style>
