<style type="text/css">	<!--
	TD.Blank {}
	a.Hist:link { color: #333399; }
	a.Hist:active { color: #333399; }
	a.Hist:visited { color: #333399; }
	a.Hist:hover { color: #009999; }
	a.Data1:link { color: #0000cc; text-decoration: none}
	a.Data1:active { color: Navy; text-decoration: none}
	a.Data1:visited { color: Navy; text-decoration: none}
	a.Data1:hover { color: Red; text-decoration: underline }
	a.UndNavy:link {color: Navy; font-weight : bold; text-decoration: underline }
	a.UndNavy:active { color: Navy; font-weight : bold; text-decoration: underline }
	a.UndNavy:visited { color: Navy; font-weight : bold; text-decoration: underline }
	a.UndNavy:hover { color: Red; text-decoration: underline }
	a.Excel:link {color: Navy; text-decoration: none }
	a.Excel:active { color: Navy; text-decoration: none }
	a.Excel:visited { color: Navy; text-decoration: none }
	a.Excel:hover { color: Red; text-decoration: none }
	a.x1:link {color: Blue; text-decoration: underline }
	a.x1:active { color: Blue; text-decoration: underline }
	a.x1:visited { color: Blue; text-decoration: underline }
	a.x1:hover { color: Red; text-decoration: underline }
	SELECT.B {font-family : Arial, Helvetica, sans-serif; font-size : 9pt ;}
	SELECT.C {font-family : Arial, Helvetica, sans-serif; font-size : 9pt ;}

	table.data1 {
		border-width: 2px;
		border-style: solid;
		border-color: #004080;
		border-collapse: collapse;
	}
	table.data1 th {
		padding: 1px;
		border-style: inset;
		border: solid 1px #3e6c45;
	}
	table.data1 td {
		padding: 2px;
		border-style: inset;
		border: solid 1px #b8b8b8;
	}

	table.data2 {
		border-width: 0px;
		border-color: white;
	}
	table.data2 td {
		border-width: 0px;
		padding: 0px;
		border-style: none;
		border-color: white;
	}
	TABLE.BckGold {
		background-color : #cccc99;
	}
	TABLE.UserBar {
		background-color : #ffffff;
	}
	TABLE.UserBar2 {
		background-color : #dddddd;
	}
	TABLE.UserBar3 {
		background-color : #ffffff;
	}
	TABLE.TopicBar {
		background-color : #ffffff;
	}
	TH.Period {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 9pt;
		background-color : #336699;
		vertical-align : bottom;
	}
	TH.Prior {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 9pt;
		background-color : #6699cc;
		vertical-align : bottom;
	}
	TH.Current {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 9pt;
		background-color : #cccc99;
		vertical-align : bottom;
	}
	TH.Cross {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 8pt;
		font-weight : bold;
		background-color : #a3c0ad;
		vertical-align : bottom;
	}
	TH.Series {
		font-family : Arial, Helvetica, sans-serif;
		color : #003399;
		font-size : 8pt ;
		vertical-align : bottom;
		font-weight : bold;
		text-align : center;
		background-color : #ffffff;
	}
	TH.Series2 {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 8pt ;
		vertical-align : bottom;
		font-weight : bold;
		text-align : center;
		background-color : #336699;
	}
	TH.Series3 {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 8pt ;
		vertical-align : bottom;
		font-weight : bold;
		text-align : center;
		background-color : #3f74b6;
	}
	TH.Series4 {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 8pt ;
		font-weight : normal;
		background-color : #d2e2f2;
		text-align : left;
	}
	TH.Series5 {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 9pt ;
		vertical-align : bottom;
		font-weight : bold;
		text-align : center;
		background-color : #50855b
	}
	TH.History {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffff;
		font-size : 8pt;
		background-color : #336699;
		vertical-align : bottom;
		font-weight : bold;
	}
	TR.DataRow {background-color : #ffffff;}
	TD.DataA {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 8pt;
		text-align : right;
	}
	TD.DataB {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 9pt;
		text-align : right;
		vertical-align : bottom;
	}
	TD.Block {
		background-color : #cccccc;
	}
	TD.Navy {
		background-color : #003399;
	}
	TD.TableBreak {
		background-color : #cccccc;
	}
	TD.DataStub {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 8pt;
		background-color : #ffffe1;
	}
	TD.DataStubB {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 8pt;
		background-color : #ffffcc;
		font-weight : bold;
	}
	TD.DataStubC {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 8pt;
		background-color : #CCCC99;
		font-weight : bold;
	}
	TD.DataStub1 {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 9pt;
		background-color : #ffffe1;
	}
	TD.DataStub2 {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 9pt;
		background-color : #CCCC99;
		font-weight : bold;
	}
	TD.DataHist {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 8pt;
		text-align : center;
		vertical-align : bottom;		
		background-color : #ececec;
	}
	TD.LShade {
		background-color : #838383;
	}
	TD.Current {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 8pt;
		text-align : right;
	}
	TD.Current2 {
		font-family : Arial, Helvetica, sans-serif;
		color : #000000;
		font-size : 9pt;
		text-align : right;
		vertical-align : bottom;
	}
	TD.FuelHeader {
		font-family : Arial, Helvetica, sans-serif;
		color : #336666;
		font-size : 14pt;
		font-weight : bold;
		text-align : center;
	}
	TD.LabelA {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
		font-weight : bold;
	}
	TD.LabelB {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 9pt;
		font-weight : bold;
	}
	TD.LabelC {
		font-family : Arial, Helvetica, sans-serif;
		color : #6f6f6f;
		font-size : 9pt;
		font-weight : bold;
	}
	TD.TopLabel {
		font-family : Arial, Helvetica, sans-serif;
		color : #ffffcc;
		font-size : 12pt;
		font-weight : bold;
	}
	TD.TopLabel2 {
		font-family : Arial, Helvetica, sans-serif;
		color : Red;
		font-size : 14pt;
		font-weight : bold;
		text-align : left;
	}
	TD.ViewA {
		font-family : Arial, Helvetica, sans-serif;
		font-weight : bold;
		color : Navy;
		font-size :8pt;
	}
	TD.Info {
		font-family : Arial, Helvetica, sans-serif;
		color : Navy;
		font-size : 8pt;
	}
	TD.Footnotes {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 8pt;
	}
	TD.ViewLabel {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 8pt;
		color: #767676;
		font-weight: bold;
		font-style: italic;
	}
	TD.BelowLinks {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
	TD.Title {
		font-family : Arial, Helvetica, sans-serif;
		color: Red;
		font-size : 11pt;
		font-weight : bold;
	}
	TD.TitleB {
		font-family : Arial, Helvetica, sans-serif;
		color: Red;
		font-size : 14pt;

	}
	TD.SecHeader {
		font-family : Arial, Helvetica, sans-serif;
		color: Green;
		font-size : 10pt;
		font-weight : bold;
	}
	TD.TitleUnit {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 9pt;
	}
	SPAN.FNlabel {
		font-weight : bold;
	}
	SPAN.BelowLabel {
		font-weight : bold;
		color:  Green;
	}
	SPAN.BlockLabel {
		font-weight : normal;
		font-size : 8pt;
	}
	SPAN.Unit {
		color: #000000;
		font-weight : normal;
		font-size : 8pt;
	}
	-->
</style>
