/*---------------------------------------------------*/
/* Icons *********************************************/
/*---------------------------------------------------*/

.ico_csv_grey {
	display:inline-block;
	Margin-top:-1px;
	padding: 3px 0px 2px 16px;
	background: transparent url(csvgrey.png) no-repeat center left !important;
}


.ico_pdf_grey {
	/*display:inline-block; removed by CWS 2011-02-20*/
	Margin-top:-1px;
	padding: 3px 0px 2px 16px;
	background: transparent url(pdfgrey.png) no-repeat center left !important;
}

.ico_xls_grey {
	/*display:inline-block; removed by CWS 2011-03-02*/
	Margin-top:-1px;
	padding: 3px 0px 2px 16px;
	background: transparent url(xls2grey.png) no-repeat center left !important;
}

