.jvectormap-region {
	cursor: default;
	fill-opacity: 1;
}
.jvectormap-marker {
	cursor: pointer;
	width:auto;
}

.jvectormap-label {width:200px \0/IE9;}  /* IE9 + IE10pp4 */

.jvectormap-zoomin, .jvectormap-zoomout{
	display: block;
}
div#datePickerContainer {
	display:inline-block;
	float:left;
	margin-right: 10px;
	padding: 10px;
	background-color: pink;
	cursor: pointer;
}
div#datePickerContainer input {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.download_button {
	padding:0.25em;
	display:inline-block;
	border:1px solid #cccccc;
	font-size: 12.8px;
	background:url("https://www.eia.gov/global/scripts/modules/dist/css/images/bg-sprites.png") repeat-x 0px -1px;
}
.download_button:hover {
	cursor: pointer;
}
.download_button.selected {
	width:auto;
	border:1px solid #189BD7;
	background: #189BD7;
}
#overlay_download_button:hover  {
	cursor: default;
}
.download_button .download_button_text {
	display: inline-block;
	padding: 0.25em 1.75em 0em 0.25em;
	color: #189BD7;
	background:url("https://www.eia.gov/global/scripts/modules/dist/css/images/icon-sprites.png") no-repeat;
	text-transform: uppercase;
	background-position: 78px -86px;
	text-decoration: underline;
}
#overlay_download_button:hover .download_button_text {
	text-decoration: none;
}
.download_button.selected .download_button_text {
	color: #003975;
	background-position: -132px -86px;
}
.download_option {
	cursor: pointer;
}
.download_icon {
	float: left;
	display: inline-block;
	background:url("https://www.eia.gov/global/scripts/modules/dist/css/images/icon-sprites.png") no-repeat;
	width: 30px;
	background-position: 0px -66px;
}
.download_button.selected .download_icon {
	background-position: -30px -66px;
}
dl.download_menu {
	margin-bottom: 0px;
}
.download_menu dt {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: solid 1px #DADADA;
	padding-bottom: 6px;
	padding-top: 10px;
	margin-bottom: 4px;
	text-transform: uppercase;
	clear: both;
}
.download_menu dt.clear {
	margin-top: -20px;
	border-bottom: none;
}
.download_menu dd {
	margin-left: 0px;
}
#main_download_button {
	float: right;
	margin-left:1.0em;
	display: inline-block;
}
#download_dialog > div {
	border-top: 3px solid #189BD7;
	padding: 1.2em 2.1em 1.8em 2.1em;
}
#download_dialog_wrap {
	display:none;
}

#download_dialog {
	background:#fff !important;
	height:auto;
	width:auto;
	position: relative;
}
#simplemodal-overlay {
	background-color: #777;
	opacity: 0.8;
	-moz-opacity: 80%;
	filter: alpha(opacity=80);
}
.slick-row.highlight .slick-cell {
	background-color : #FFFF96;
}

#dateContainer {
	text-align:right;
	color: #000; 
	font-size:16px;
	font-weight:bold;
}

#mapContainer {
	width: 915px;
	height: 540px;
	color: #FFFF9D;
}
.jvectormap-container {
	width: 915px !important;
	height: 540px !important;
}
#mapContainer #title {
	z-index: 2;
	position: relative;
	float: right; 
	text-align:right; 
	right: 20px; 
	top: 0px; 
	width: 200px; 
	height: 0px; 
	color: #000; 
	font-size:16px;
	font-weight:bold;
}
#mapContainer #legend {
		z-index: 2;
		position: relative;
		float: right; 
		right: 20px; 
		bottom:242px;
		width: 88px; 
		height: auto; 
		border: 1px solid #e3e5e6; 
		padding: 4px; 
		border-top: solid 4px #189bd7;
}
#mapContainer #totals {
		z-index: 2;
		position: relative; 
		left: 235px; 
		bottom: 40px; 
		width: auto; 
		height: 40px; 
		color: #000; 
		font-size:12px;
}
#mapContainer #legend .fillBox {
	display: block; 
	float:left; 
	clear:left;
	height: 24px; 
	width: 18px; 
	border:1px solid white;
}

#mapContainer #legend .label {
	background-color: #FFFFFF; 
	display: block; 
	float: left; 
	color: black; 
	height: 24px; 
	width: 50px; 
	line-height:24px; 
	padding-left: 4px;
}
#timeSliderContainer {
	width : 400px;
}
#selectionContainer {
  background-color: #DFF2FB;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  height: 30px;
  margin-top: 10px;
  padding: 15px 10px 5px 10px;
}
#timeSliderContainer {
  position: relative;
  width: 660px;
  /*height: auto;
  display: inline-block;
  float: left;*/
  margin-top:1px;
  padding: 10px 0 10px 0;
  vertical-align: middle;
  font-size: 12.8px;
}
div#datePickerContainer {
	display: inline-block;
	float: left;
	margin: -9px 40px 0px 0px;
	padding: 0px;
	background-color: transparent;
	cursor: pointer;
}
#main_download_button {
	margin-top: -6px;
}
.spnote {font-size: 11px;color: #888;margin-left:42px;margin-top:-4px;}
@media print {
	#selectionContainer {
		display: none;
	}
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}

.sliderLabel{
    margin-top:6px;
    margin-left:-23px;
}

.sliderLabel.right{
    float:right;
    margin-right:170px;
}

.timeSlider{
    width: 465px;
}
/*********** TOGGLE CSS - RC ************/
#type_toggle_container{
    position: absolute;
    margin-left: 550px;
    margin-top: -8px;
}

#type_toggle_container input{
    margin:0;
}

.switch-container {
  margin-top:-6px;
  margin-left: 50px;
/*  margin: 50px auto;*/
  width: 140px;
}

.switch-title {
  font-size: 11px;
  font-weight: bold;
}
.switch {
  position: relative;
  margin: 20px auto;
  margin-top:0px;
  height: 26px;
  width: 140px; /*120*/
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 68px;
  line-height: 26px;
  font-size: 11px;
  /*color: rgba(255, 255, 255, 0.35);*/
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-Capacity /*off*/{
  padding-left: 2px;
}

.switch-label-Outages /*on*/ {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  /*color: rgba(0, 0, 0, 0.65);*/
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-Outages ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 70px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 68px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}