body {
  margin: 0.25in 0.25in 0.25in 0.25in;
}
div.report_header > div > div {
  border-bottom: none;
  padding-bottom: 0px;
}
div.report_header:first-child, div.report_header div div.coal_nav, div.report_header  > div:first-child, div.report_header div div.coal_title > h1+p+p {
  display: none;
}

div.report_header, .pagecontent.mr_temp2, .mr_temp2 div.main_col {
  margin-left: 0px;
  margin-right: 0px;
}
.main_col .ui-tabs .ui-tabs-panel {
  padding:0;
}

.mr_temp2 div.side_col {
  display: inline-block;
  height: 0;
  /* for some strange reason, setting display to anything other than inline-block breaks the layout
     after exiting the print screen; inline-block with height set to 0 hides the elements and the space
     taken up by the containers without breaking the page layout */
}

.mr_temp2 h2, .mr_temp2 h3 {
  color: #189bd7;
}
.mr_temp2 hr {
  margin-top: 26px;
  margin-bottom: 26px;
}
.mr_temp2 .main_col {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.mr_temp2 > h1{
  margin: 0px 0px 0px 0px;
  margin-left: 0;
}