/*---header styles-----*/
div.report_header {
  display: table;
  width: 914px;
  margin-right: 22px;
  margin-left: 22px;
  border-bottom: none;
}
div.report_header > div {
  display: table-row;
}
div.report_header > div > div {
  display: table-cell;
  border-bottom: solid 1px #5e9c30;
  padding-bottom: 12px;
  vertical-align: bottom;
}
div.report_header > div > div.coal_title {
  width: 730px;
}
div.report_header > div > div > div {
  border-left: solid 1px #ededed;
  border-right: none;
  height: 50px
}
div.report_header > div:first-child > div {
  border: none;
  padding-bottom: 0px;
}
div.report_header > div > div.coal_nav {
  text-align: left;
  background: url(http://www.eia.gov/coal/markets/images/icons/icons.png) no-repeat;
}
div.report_header > div > div.coal_nav a {
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9pt;
  float: none;
  position: relative;
  display: block;
  margin-top: 0px;
  height: 40px;
  padding-left: 60px;
  padding-right: 20px;
}
div.report_header > div > div.coal_nav div {
  position: relative;
}
div.report_header > div > div.coal_nav.active,  div.report_header > div > div.coal_nav div:hover {
  color: #5e9c30;
  cursor: pointer;
}
div.report_header > div > div.coal_nav.markets {
  background-position: -6px 0px;
}
div.report_header > div > div.coal_nav.active.markets, div.report_header > div > div.coal_nav.markets:hover {
  background-position: -6px -122px;
}
div.report_header > div > div.coal_nav.production {
  background-position: -266px 0px;
}
div.report_header > div > div.coal_nav.active.production, div.report_header > div > div.coal_nav.production:hover {
  background-position: -266px -122px;
}
div.report_header > div > div.coal_nav.active a {
  color: #5e9c30;
}
div.report_header > div > div.coal_nav.active  div {
  border: none;
}
div.report_header > div > div.coal_nav.active {
  border: solid 1px #5e9c30;
  border-bottom: none;
}
div.report_header > div > div.coal_nav:hover a {
  color: #5e9c30;
  text-decoration: underline;
}
.report_header h1 {
  text-transform: none;
  text-indent: 0;
  padding-top: 0;
}
.report_header a {
  text-indent: 0;
}
.report_header p, .report_header p a  {
  text-transform: none;
  font-size: 8pt;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding-left: 0;
  line-height: 1.75em;
}

.report_header a.ico_download {
  background: url(http://www.eia.gov/coal/markets/images/icons/download.png) no-repeat 0px 0px;
  display: inline-block;
  padding-left: 21px;
  margin-top: 0;
}
/*---end header styles-*/
.pagecontent.mr_temp2 {
  margin-top: 36px;
  margin-bottom: 0px;
  margin-left: 22px;
  margin-right: 22px;
  display: block;
  width: auto;
}
#footer {
  margin-top: 60px;
}
.pagecontent.mr_temp2.blue_top {
  padding-top: 16px;
}
.mr_temp2 .main_col {
  margin: 0px;
  width: 630px;
}
.mr_temp2.print .main_col {
  width: 915px;
  border-right: none;
  padding-right: 0px;
  margin-left: 22px;
  margin-right: 22px;
}
.mr_temp2.print .main_col span {
  float: none;
}
.mr_temp2.print .main_col hr {
  background-color: #189bd7;
}
.mr_temp2 .side_col {
  margin-left: 22px;
  /*margin-top: 4px;
  width: 355px;*/
}
.side_col div.blue_top {
  border-top-width: 3px;
  padding-top: 6px;
}
.side_col > div {
  margin-bottom: 40px;
}
.mr_temp2 .aeo_footer {
  margin-top: 60px;
}

/*---text styles-----*/
.mr_temp2 .main_col h1 {
  font-size: 19pt;
  padding-bottom: 2px;
  padding-top: 0px;
  margin-bottom: 0px;
  border-bottom: none; 
}
.mr_temp2.blue_top .main_col div[data-highcharts-chart] {
  margin-top: 6px;
}
div.archive h1 {
  display: block;
  font-size: 26px;
  border-bottom: solid 1px #dadada;
  padding-bottom: 6px;
  padding-top: 16px;
  font-weight: normal;
}
.mr_temp2 .main_col h2, div.archive  h2 {
  border-top: none;
  color: inherit;
  padding-top: 0px;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}
div.archive  h2 {
  margin-bottom: 0px;
}

.mr_temp2 .main_col h2 a, .mr_temp2 .main_col a h2 {
  color: #189bd7;
}

.mr_temp2 .main_col h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 11pt;
  border: none;
  padding: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: inherit;
  margin-top: 18px;
  line-height: 1.5em;
}

.mr_temp2 .main_col h4 {
  margin-bottom: 0px !important;
  margin-top: 14px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  padding: 0px;
  line-height: 2em;
}

.mr_temp2 .main_col h4+ol li:first-child {
  margin-top: 0px;
}

.mr_temp2 .main_col h4 a {
  color: #189bd7;
}
.side_col h4, .mr_temp2 .side_col h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 19pt;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}
.mr_temp2 .side_col h4 em {
  font-size: 14pt;
}
.mr_temp2 .side_col h5 {
  font-size: 15pt;
  font-weight: normal;
  margin-bottom: 0;
}
.mr_temp2 .main_col p, .mr_temp4 .main_col p, .side_col p, .side_col li, .mr_temp2 .main_col ol li, div.archive  p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  margin-bottom: 0px;
  margin-top: 14px;
  line-height: 1.75em;
}
div.archive  h2+p {
  margin-top: 0px;
}
.mr_temp2 .main_col ul li {
  font-size: 10.5pt;
  line-height: 1.75em;
  margin-bottom: 0px;
  margin-top: 6px;
}
div.padd_map p span {
  margin-left: 20px;
}
.side_col p, .side_col li  {
  margin-top: 8px;
}
.side_col ul {
  padding-left: 0px;
  margin: 0px 0px 0px 16px;
}
.mr_temp2 .main_col h3+p, .mr_temp2 .main_col h2+p {
  margin-top: 4px;
}
.side_col h4+p {
  margin-top: 0px;
}

.basic_table thead th, .basic_table tbody td, .basic_table tfoot td {
  font-size: 10pt;
}
.side_col .basic_table thead th, .side_col .basic_table tbody td, .side_col .basic_table tfoot td {
  font-size: 10pt;
}
.mr_temp2 .main_col table tfoot tr.total td, .mr_temp4 .main_col table tfoot tr.total td  {
  font-size: inherit;
}

div.archive .two_col {
  width: 48%;
  max-width: 350px;
  float:left;
}
div.archive .two_col:first-of-type {
  margin-right: 40px;
}
div.archive  table {
  margin-top: 20px;
  width: 100%;
}
div.archive  table thead th {
  line-height: 1.25em;
  padding-bottom: 4px;
}
div.archive  table, div.archive  table tbody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  line-height: 1.75em;
}
div.archive  table tbody tr:last-child td  {
  border-bottom: 1px solid #189bd7;
}

div.archive, div.download {
  margin: 20px;
  min-width: 900px;
}
.mr_temp2 .main_col p a.endnotes, .mr_temp2 .main_col li a.endnotes {
  font-weight: bold;
  cursor: pointer;
}
/*--end text styles--*/


/*--tab styles-------*/

.main_col h4+div.page_tabs {
  margin-top: 6px;
}
.main_col .page_tabs .ui-widget-header,
.archive .page_tabs .ui-widget-header {
  border-bottom: none;
  padding-left: 1em;
}
.main_col .page_tabs hr,
.archive .page_tabs hr {
  margin: -1px 0 0 0;
  background: #189bd7;
}
.main_col .ui-state-default, .ui-widget-content .ui-state-default,
.archive .ui-state-default {
  background-color: #ffffff;
  border: none;
}
.mr_temp2 .main_col ul li.ui-state-default,
.archive ul li.ui-state-default {
  margin-top: 0px;
}
.main_col .ui-state-default a,
.archive .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #999999;
  font-style: italic;
}
.main_col .ui-state-default.ui-state-hover a,
.archive .ui-state-default.ui-state-hover a {
  color: #189bd7;
}
.main_col .page_tabs .ui-state-active, .main_col .ui-widget-content .ui-state-active,
.archive .page_tabs .ui-state-active, .archive .ui-widget-content .ui-state-active {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #189bd7;
  border-bottom: none;
  padding-bottom: 0px;
  font-style: italic;
}
.main_col .ui-tabs .ui-tabs-nav li a,
.archive .ui-tabs .ui-tabs-nav li a {
  padding: .5em .75em .3em .75em;
}
.main_col .page_tabs .ui-state-active a, .main_col .ui-state-active a:link, .main_col .ui-state-active a:visited,
.archive .page_tabs .ui-state-active a, .archive .ui-state-active a:link, .archive .ui-state-active a:visited {
  color: #333333;
}
.main_col .ui-tabs .ui-tabs-panel,
.archive .ui-tabs .ui-tabs-panel,
.archive-section {
  border: none;
  padding: 0 24px;
}
.archive .ui-tabs .ui-tabs-panel {
  padding-top: 24px;
}
.main_col .ui-tabs .ui-tabs-panel p,
.archive .ui-tabs .ui-tabs-panel p {
  border-top: 1px dashed #dadada;
  padding-top: 6px;
  margin-top: 6px;
}
.main_col .ui-tabs .ui-tabs-panel p:first-child,
.archive .ui-tabs .ui-tabs-panel p:first-child {
  border-top: none;
}
.archive-section {
  border-top: 4px solid #189bd7;
  margin-top: 48px;
}
/*--end tab styles---*/


/*--article layout styles-------*/

.pagecontent.mr_temp2 .main_col p img, .pagecontent.mr_temp2 .main_col > img {
  padding: 10px 0px 10px 0px;
  border: none;
  border-top: 3px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  float: none;
  margin: 20px 0px 20px 0px;
  max-width: 501px;
}


/*--end article layout styles---*/


/*--table styles---------*/
.mr_temp2  .basic_table {
  width: 100%;
}
.mr_temp2  .basic_table caption {
  font-family: times new roman, times, serif;
  font-weight: normal;
  font-size: 19pt;
  line-height: 1.0em;
}
.mr_temp2  .basic_table caption em {
  font-size: 15pt;
}
.mr_temp2  .basic_table sub {
  line-height: 0em;
}
.mr_temp2  .basic_table.snl tr th {
  border-right: none;
}

.mr_temp2  .basic_table.snl tr th:first-child {
  text-align: right;
}
.mr_temp2  .basic_table.snl tr th:nth-child(5),/* this is nth-child(5) rather than 6 because the first cell
in the header is in the top row and set to rowspan=2 */
.mr_temp2  .basic_table.snl tbody tr td:nth-child(6) {
  background-color: #f7f7f7;
}

.mr_temp2  .side_col .basic_table tbody td:first-child {
  padding-left: 0px;
}
.mr_temp2  .basic_table tbody td:first-child {
  min-width: 140px;
  padding-right: 0px;
}
.mr_temp2 .basic_table tr:last-child th, .mr_temp2 .basic_table tr th[rowspan] {
  border-bottom: 2px solid #189bd7;
}
.mr_temp2 .basic_table thead th, .basic_table tr th {
  padding-bottom: 0px;
}
.mr_temp2 .basic_table tbody tr td, .mr_temp2 .basic_table tbody tr:first-child td {
  padding-top: 6px;
}
.mr_temp2 .basic_table tbody tr:last-child td {
  border-bottom: 1px solid #189bd7;
  padding-bottom: 4px;
}
.mr_temp2 .basic_table tfoot tr:first-child td {
  padding-top: 5px;
  /*padding-left: 4px;*/
  border-top: none;
  /*font-style: italic;*/
  font-size: 95%;
}
/*.mr_temp2 .basic_table tbody tr.selected  td , .mr_temp2 .basic_table tbody tr:hover  td {
  background-color: #e4f7ff;
}
.mr_temp2 .basic_table tbody tr:hover  td {
  cursor: pointer;
}
*/

.mr_temp2 .basic_table span.no_change, .mr_temp2 .basic_table span.value_down, .mr_temp2 .basic_table span.value_up {
  width: 8px;
  height: 12px;
  margin-left: 2px;
  float: none;
  display: inline-block;
}
.mr_temp2 .basic_table span.value_down {
  background: url(http://www.eia.gov/coal/markets/images/icons/arrows.png) no-repeat center bottom;
}
.mr_temp2 .basic_table span.value_up {
  background: url(http://www.eia.gov/coal/markets/images/icons/arrows.png) no-repeat center 1px;
}
.mr_temp2 .basic_table thead tr th:last-child, .mr_temp2 .basic_table tr th:last-child, .mr_temp2 .basic_table tbody tr td:last-child {
  padding-right: 6px;
  min-width: 70px;
}

/*--end table styles-----*/

button.frame_print_button {
  margin: 0;
  display: block;
  position: absolute;
  clear: none;
  right: 0;
}
/*button.frame_print_button+h1 {
  margin: 20px 20px 0px 20px;
}*/
.mr_temp2.print {
  margin-top: 0px;
}
div.print div.main_col > p:first-child {
  margin-top: 0px;
  margin-bottom: 20px;
}
.mr_temp2.print > a:first-child {
  margin-left: 22px;
  margin-top: 36px;
  display: block;
}
.mr_temp2.print > h1{
  margin: 0px 22px;
  border-bottom: none;
  padding-bottom: 0;
  font-size: 24pt;
}
.mr_temp2.print .main_col hr+h4 {
  margin-top: 0;
}
.mr_temp2.print .main_col > hr {
  margin-bottom: 10px;
}

.map_container{
  width:630px;
  margin-bottom: 10px;
}
#us_map {
  height: 400px;
  width: 630px;
}
#map_legend p{
  margin-top: 0px;
}
#map_legend > div {
  display: inline;
  margin-right: 10px;
}
#map_legend > div > div {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.note {
  background-color: #f4f4f4;
  font-size: 9pt;
  padding: 16px;
}