
.main_col label {
    margin-right: 20px;
}

.threehundo {
    width: 300px !important;
}

.onehundo {
    height: 100px !important;
}

.ui-multiselect, .buttons {
    margin-top: 8px;
    margin-right: 26px;
}

/*.no-rm {margin-right:0px;}*/
.slick-header-column {
    height: 24px !important;
}

.download_button_text {
    background: url("images/icon-sprites.png") no-repeat 118px -86px !important;
}

.dots {
    background: url('images/bg-sprites.png') repeat-x 0px 8px scroll;
}

#at_a_glance h3 {
    height: 16px;
    line-height: 1.0em;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 4px;
    border-bottom: solid 1px #000;
}

#at_a_glance span {
    margin: 0px;
    background-color: #F4F4F4;
    padding-bottom: 1px;
}

#at_a_glance div {
    height: 16px;
    line-height: 1.1em;
    margin-bottom: 5px;
}

#at_a_glance div span {
    margin: 0px;
    background-color: #F4F4F4;
}

.clear_right {
    clear: right;
}

.highlighter tbody tr:hover {
    background-color: #DFF2FB;
}

.ui-button #reset {
    padding: 3px !important;
}

/*.x-grid3-hd-row {height:16px !important;}
.x-grid3-hd-row td{width:100px !important;}
.x-grid3-col{width:100px !important;}*/
.download_button {
    padding: 3px;
}

#submit, #reset {
    background: #189BD7 !important;
    border-color: #189BD7 !important;
}

#submit:hover, #reset:hover {
    background: #51af01 !important;
    border-color: #51af01 !important;
}

#submit .ui-button-text, #reset .ui-button-text {
    color: #FFF;
}

a.ui-multiselect-all span, a.ui-multiselect-none span {
    color: #FFF;
}

.basic_table th a, .basic_table td a {
    color: #000;
}

.basic_table th a:hover, .basic_table td a:hover {
    /*text-decoration:underline;*/
    color: #189BD7;
}

/*.map_area {width:930px;height:600px;}*/
/*#mapContainer {width:930px;height:460px;}*/
.map_inside_container, #mapContainer {
    width: 930px !important;
    height: 460px !important;
}

/*added #mapContainer to defeat overflow*/
/*#submit:hover .ui-button-text, #reset:hover .ui-button-text {color:#003954;}*/
.outerChartContainer {
    padding-top: 20px !important;
}

div.afv_nav + div.mselect {
    /*margin-top: 20px;*/
    margin-top: 0px;
}

div.afv_nav {
    text-align: center;
    width: 150px;
    display: table-cell;
    padding: 0 10px 6px 10px;
    border-left: 1px solid #dadada;
    border-bottom: 20px solid #FFF;
}

div.afv_nav.active + div {
    border-left-color: #189bd7;
}

div.afv_nav.active {
    border-left-color: #189bd7;
    border-bottom: 12px solid #189bd7;
}

div.afv_nav:first-child {
    border-left: none;
}

div.afv_nav a {
    color: #a6a6a6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    float: none;
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.afv_nav div + div {
    margin: 0 auto;
}

div.afv_nav:hover a, div.afv_nav.active a {
    color: #189bd7;
    text-decoration: underline;
}

div.afv_nav a div:first-child {
    background: url("http://www.eia.gov/global/images/icons/afv_icons.png");
    height: 60px;
    width: 70px;
    margin: 0 auto;
    background-position: 0px 0px;
}

div.afv_nav.cng a div:first-child {
    background-position: 0px -80px;
}

div.afv_nav.active.cng a div:first-child, div.afv_nav.cng:hover a div:first-child {
    background-position: 0px -8px;
}

div.afv_nav.evc a div:first-child {
    background-position: -142px -79px;
}

div.afv_nav.active.evc a div:first-child, div.afv_nav.evc:hover a div:first-child {
    background-position: -142px -7px;
}

div.afv_nav.evc a div + div {
    width: 100px;
}

div.afv_nav.e85 a div:first-child {
    background-position: -73px -79px;
}

div.afv_nav.active.e85 a div:first-child, div.afv_nav.e85:hover a div:first-child {
    background-position: -73px -7px;
}

div.afv_nav.hyd a div:first-child {
    background-position: -217px -79px;
}

div.afv_nav.active.hyd a div:first-child, div.afv_nav.hyd:hover a div:first-child {
    background-position: -217px -7px;
}

div.afv_nav.hyd a div + div {
    width: 100px;
}

div.afv_nav.lng a div:first-child {
    background-position: -292px -79px;
}

div.afv_nav.active.lng a div:first-child, div.afv_nav.lng:hover a div:first-child {
    background-position: -292px -7px;
}

div.afv_nav.lpg a div:first-child {
    background-position: -362px -79px;
}

div.afv_nav.active.lpg a div:first-child, div.afv_nav.lpg:hover a div:first-child {
    background-position: -362px -7px;
}

div.afv_nav.oth a div:first-child {
    background-position: 69px -2px;
}

div.afv_nav.active.oth a div:first-child, div.afv_nav.oth:hover a div:first-child {
    background-position: 141px -2px;
}
